.product-cut {

  position: relative;
  text-align: center;

  .slick-slide &:hover,
  &--no-overlay:hover{
    &::before {
      display: none;
    }
  }

  &__main-info {
    position: relative;
  }

  &__photo {

  }

  /* Title */
  &__title {
    text-align: left;
    padding-top: 5px;

    &-link {
      @include link-main;
      @include fontSize(4.5);
    }
  }

  &__price {
    text-align: left;

  }
}
