.product-price {
  $main-price-color: #99144E;
  $old-price-color: #2B2A29;
  $add-price-color: $base-font-color-secondary;

  font-size: 0;

  &__item {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &--bg &__item {
    margin: 0;
    padding: 3px;
    border-bottom: 1px solid #fff;

    &:not(:first-child) {
      border-left: 1px solid #fff;
    }
  }
  &--lg &__item {
    font-size: 2.2rem;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &--sm &__item {
    font-size: 0.9rem;
    font-weight: bold;
  }
  &--md &__item {
    margin: 0 5px;
  }

  &__item-value {
    display: inline-block;
    vertical-align: baseline;
  }

  &__item-coins {
    display: inline-block;
    vertical-align: baseline;
  }

  &__item-cur {
    display: inline-block;
    vertical-align: baseline;
  }
  .product-price--lg &__item-cur {
    padding: 0 3px;
  }

  &__old {
    @include clearfix;
    position: relative;
    @include fontSize(4);
    color: $old-price-color;
    white-space: nowrap;

    /* line-through */
    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background: $old-price-color;
      position: absolute;
      top: 50%;
      left: 0;
    }

  }

  &__main {
    @include clearfix;
    @include fontSize(4);
    white-space: nowrap;
    color: $main-price-color;
  }
}
