#oak_admin_bar {
  background: #3c8dbc;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 600px;
  z-index: 99999999; }
  #oak_admin_bar * {
    color: #fff;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    position: static;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: none;
    transition: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto; }
  #oak_admin_bar .glyphicon {
    font-family: 'Glyphicons Halflings'; }
  #oak_admin_bar .fa {
    font: normal normal normal 14px/1 FontAwesome; }
  #oak_admin_bar .live-edit {
    margin-left: 30px;
    margin-top: 0;
    float: left;
    line-height: 20px; }
    #oak_admin_bar .live-edit > span {
      vertical-align: top; }
    #oak_admin_bar .live-edit .simple-switch-outter {
      width: 40px;
      height: 20px;
      border: 1px solid #dfdfdf;
      cursor: pointer;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      border-radius: 20px;
      box-sizing: content-box;
      background-clip: content-box;
      line-height: 20px;
      top: -3px; }
      #oak_admin_bar .live-edit .simple-switch-outter.unchecked, #oak_admin_bar .live-edit .simple-switch-outter.checked {
        -webkit-transition: border .4s, box-shadow .4s, background-color 1.2s;
        transition: border .4s, box-shadow .4s, background-color 1.2s;
        border-color: transparent; }
        #oak_admin_bar .live-edit .simple-switch-outter.unchecked .simple-switch-circle, #oak_admin_bar .live-edit .simple-switch-outter.checked .simple-switch-circle {
          -webkit-transition: background-color .4s, left .2s;
          transition: background-color .4s, left .2s; }
      #oak_admin_bar .live-edit .simple-switch-outter.checked .simple-switch-circle {
        left: 20px;
        background-color: #fff; }
      #oak_admin_bar .live-edit .simple-switch-outter .simple-switch-circle {
        height: 20px;
        width: 20px;
        position: relative;
        transition: background-color .4s, left .2s;
        background: #fff;
        border-radius: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        display: block; }
  #oak_admin_bar a {
    text-decoration: none; }
  #oak_admin_bar .menus-icon {
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0;
    float: left; }
    #oak_admin_bar .menus-icon li {
      display: inline-block; }
  #oak_admin_bar .user-menu {
    float: right;
    line-height: 30px;
    margin-right: 10px;
    position: relative; }
    #oak_admin_bar .user-menu * {
      height: auto;
      width: auto;
      margin: 0;
      padding: 0;
      position: static;
      text-shadow: none;
      text-transform: none;
      letter-spacing: normal;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: none;
      transition: none;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto; }
  #oak_admin_bar .cms-logo {
    padding: 5px;
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    height: 30px;
    line-height: 20px; }
    #oak_admin_bar .cms-logo:hover {
      text-decoration: none; }
    #oak_admin_bar .cms-logo img {
      vertical-align: top;
      display: inline-block; }
  #oak_admin_bar .cms-logo:hover,
  #oak_admin_bar .cms-logo:focus,
  #oak_admin_bar .cms-logo:active {
    text-decoration: none; }

#oak_admin_bar .user-menu .submenu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #367FAA;
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0; }

#oak_admin_bar .user-menu .submenu a {
  padding: 5px 15px;
  display: block; }

#oak_admin_bar .user-menu > a {
  height: 30px; }

#oak_admin_bar .user-menu a {
  color: #fff;
  display: block;
  padding: 0 15px; }

#oak_admin_bar .user-menu a:hover,
#oak_admin_bar .user-menu a:focus,
#oak_admin_bar .user-menu a:active {
  text-decoration: none;
  background: #367FAA; }

#oak_admin_bar .user-menu:hover .submenu,
#oak_admin_bar .user-menu:focus .submenu,
#oak_admin_bar .user-menu:active .submenu {
  display: block; }

#oak_admin_bar .user-menu:hover a,
#oak_admin_bar .user-menu:focus a,
#oak_admin_bar .user-menu:active a {
  background: #367FAA; }

.oak-admin-bar .navbar-fixed-top {
  top: 30px; }

#oak_admin_bar .user-menu .avatar {
  position: absolute;
  left: -72px;
  top: 4px;
  width: 64px;
  height: 64px; }

#oak_admin_bar .user-menu .submenu {
  position: relative; }

#oak_admin_bar .user-menu .sub-wrapper {
  position: absolute;
  right: 0;
  float: none; }

#oak_admin_bar .user-menu .submenu li {
  margin-left: 88px;
  margin-right: 15px;
  position: relative; }

#oak_admin_bar .user-menu .submenu li a {
  display: block;
  white-space: nowrap; }

.skin-blue .header,
.skin-blue header {
  top: 0; }

span.oakcms-edit {
  display: inline-block; }

.oakcms-edit {
  position: relative; }

.oakcms-goedit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 499; }

.oakcms-goedit:hover {
  border: 1px solid #337ab7;
  box-shadow: 0 0 10px #337ab7;
  background-color: rgba(51, 122, 183, 0.2); }

/*# sourceMappingURL=oak-admin-bar.css.map */
