/*!
 * @package    oakcms/oakcms
 * @author     Hryvinskyi Volodymyr <script@email.ua>
 * @copyright  Copyright (c) 2015 - 2017. Hryvinskyi Volodymyr
 * @version    0.0.1-beta.0.1
 */

button {

  &.loading {
    padding-right: 50px;
    position: relative;

    &:after {
      content: "\f1ce";
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -7px; 
      right: 10px;
      font: normal normal normal 14px/1 FontAwesome;

      -webkit-animation: fa-spin 2s infinite linear;
              animation: fa-spin 2s infinite linear;
    }
  }
}
