@font-face {
  font-family: 'PF Beausans Pro';
  src: url('#{$font-path}/pfbeausanspro-bold.eot');
  src: url('#{$font-path}/pfbeausanspro-bold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/pfbeausanspro-bold.woff2') format('woff2'),
  url('#{$font-path}/pfbeausanspro-bold.woff') format('woff'),
  url('#{$font-path}/pfbeausanspro-bold.svg#pf_beausans_probold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF Beausans Pro';
  src: url('#{$font-path}/pfbeausanspro-bolditalic.eot');
  src: url('#{$font-path}/pfbeausanspro-bolditalic.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/pfbeausanspro-bolditalic.woff2') format('woff2'),
  url('#{$font-path}/pfbeausanspro-bolditalic.woff') format('woff'),
  url('#{$font-path}/pfbeausanspro-bolditalic.svg#pf_beausans_probold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PF Beausans Pro';
  src: url('#{$font-path}/pfbeausanspro-reg.eot');
  src: url('#{$font-path}/pfbeausanspro-reg.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/pfbeausanspro-reg.woff2') format('woff2'),
  url('#{$font-path}/pfbeausanspro-reg.woff') format('woff'),
  url('#{$font-path}/pfbeausanspro-reg.svg#pf_beausans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
