select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: $input-bg url("#{$img-path}/select_ico.png") no-repeat right 10px center;
}

div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0;
}

div.checker {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  margin-left: -20px;

  & ,
  span,
  input {
    width: 14px;
    height: 15px;
  }

  input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    margin: 0!important;
    padding: 0!important;
  }

  input,
  input[type="search"],
  input[type="search"]:active {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  span {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    text-align: center;
    background-image: url("#{$img-path}/checkbox.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    background-position: 0 0;
    vertical-align: top;

    &.checked {
      background-position: 0 -15px;
    }
  }
}

