@import "bootstrap/variables";

//--------------------------------------------------
// Base
//--------------------------------------------------

// File Urls
$img-path: "../img";
$font-path: "../fonts";

//Helpers
$base-border-color:               #c2c2c3;
$second-border-color:             #c8cfd9;
$base-box-shadow-color:           rgba(0, 0, 0, 0.5);

//Font
$font-family-base-2:              'Open Sans', sans-serif;
$base-font-color:                 #000;
$base-font-color-secondary:       #99144e;
$base-font-size:                  14px;
$base-line-height:                1.3;

//Links
$base-main-link-color:            #2B2A29;
$base-main-link-hover-color:      lighten(#000, 10%);
$base-main-link-decor:            none;
$base-main-link-decor-hover:      underline;

$base-second-link-color:          #000;
$base-second-link-hover-color:    #000;
$base-second-link-decor:          none;
$base-second-link-decor-hover:    underline;

//--------------------------------------------------
// Product
//--------------------------------------------------
$header-info-height:    115px;

//--------------------------------------------------
// Product
//--------------------------------------------------
$product-photo-border-color:   $base-border-color;


$product-photo-fluid-height:    100%;

$product-photo-fix-height-xs:   200px;
$product-photo-fix-height-sm:   300px;
$product-photo-fix-height-md:   400px;
$product-photo-fix-height-lg:   550px;
$product-photo-zoom-width:      600px;
$product-photo-zoom-height:     $product-photo-fix-height-lg;

$product-label-size:            rem(50);
$product-label-size--small:     rem(30);
$product-label-bg-hit:          #FFAD2D;
$product-label-bg-hot:          #62B12E;
$product-label-bg-action:       #FF2C2C;
$product-label-bg-discount:     #FF8001;

$product-photo-thumbs-number:   5;
$product-photo-thumb-height:    100px;
