@import "variables";
@import "mixins";
@import "fonts";

@import "../scss/oher_bad_version/_other";
@import "../scss/oher_bad_version/_header";
@import "../scss/oher_bad_version/_breadcrumbs";
@import "../scss/oher_bad_version/_content";
@import "../scss/oher_bad_version/_categories";
@import "../scss/oher_bad_version/_footer";
@import "../scss/oher_bad_version/_media";

@import "icons";
@import "navbar";
@import "forms";
@import "buttons";

// Product
@import "product/product-cut";
//@import "product/product-thumb/product-thumb.scss";
//@import "product/product-intro/product-intro.scss";
//@import "product/product-photo/product-photo.scss";
//@import "product/product-variants/variants-radio/variants-radio.scss";
//@import "product/product-variants/variants-select/variants-selct";
//@import "product/properties/properties.scss";
//@import "product/properties/main-prams";
@import "product/product-price";
//@import "product/product-kit/product-kit.scss";
//@import "product/product-shipping/product-shipping.scss";
//@import "product/product-fullinfo/product-fullinfo.scss";
//@import "product/product-actions/product-actions";
//@import "product/product-buy/product-buy";
//@import "product/product-sales/product-sales";
@import "product/product-view";


.tooltip-inner {
  border-radius: 0;
  text-align: left;
  border: 1px solid #4F4F4E;
  @include fontSize(4);
}
