/* font-family: "Beau Sans Pro regular"; */
@font-face {
	font-family: "BeauSansProReg";
	src:url("../fonts/pfbeausanspro-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "Beau Sans Pro bold"; */
@font-face {
	font-family: "BeauSansProBold";
	src:url("../fonts/pfbeausanspro-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "OpenSansRegular"; */
@font-face {
	font-family: "OpenSansReg";
	src:url("../fonts/pfbeausanspro-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}