.bread_crums {

  a {
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: #000;
    padding-top: 35px;

  }
  .breadcrumb > li + li:before {
    content: ">";
    padding: 0 5px;
    color: #ccc;
  }
  .breadcrumb {
    padding: 8px 0;
    background-color: transparent;
    margin-bottom: 0 !important;;
  }
}
