.categories {
  text-align: center;
  .categories_box {
    text-align: center;
    display: inline-block;
    height: 180px;
    width: 14%;
    font-family: $font-family-sans-serif;
    color: #fff;
    position: relative;
    margin-right: -2px;
    margin-left: -2px;

    .decr {
      font-family: $font-family-sans-serif;
      font-size: 16px;
      display: block;
      position: absolute;
      top: 110px;
      left: 36px;

    }
    .name_category {
      margin-top: 25px;
      font-family: $font-family-sans-serif;
      font-size: 35px;
      display: block;
        a{
          color: #fff;
        }
    }
    img {
      margin-top: 70px;
    }
  }
}
