.content {
  .category {
    display: inline-block;
    vertical-align: top;
    li {
      border: 2px solid #ccc;
      padding: 20px 0 20px 15px;
      margin-bottom: -2px;
      &.menu_home_filters_ {
        &tables a {
          &:before {
            background-image: url("/uploads/icon/tables.png");
          }
        }
        &sofa a {
          &:before {
            background-image: url("/uploads/icon/sofas.png");
          }
        }
        &bed a {
          &:before {
            background-image: url("/uploads/icon/bedWithBackrest.png");
          }
        }
        &wardrobe a {
          &:before {
            background-image: url("/uploads/icon/cupboard.png");
          }
        }
        &cupbordCoupe a {
          &:before {
            background-image: url("/uploads/icon/cupboardCoupe.png");
          }
        }
      }
      a {
        color: #2b2a29;
        font-family: 'pfbeausanspro-reg', sans-serif;
        font-size: 20px;
        padding-left: 100px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          height: 50px;
          width: 60px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom right;
          left: 0;
          top: -20px;
        }
        img {
          margin-right: 5%;
        }
      }
    }
  }
  .colors img {
    display: inline-block;
    width: 98%;
    margin: 5px;
  }
  .head_banner {
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    img {
      width: 100%;
    }
  }
  .head_block {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    padding-top: 10px;
    .title {
      font-family: "PF Beausans Pro", sans-serif;
      font-weight: 900;
      color: #98144E;
      text-transform: uppercase;
      font-size: 24px;
      text-align: center;
      margin-bottom: 25px;
      margin-top: 13px;
      padding-bottom: 1px;
    }
    .img_block {
      float: left;
    }
    .text_block {
      vertical-align: top;
      font-size: 18px;
      line-height: 26px;
    }
    &_delivery {
      margin-bottom: 35px;
      .img_block {
        width: 130px;
      }
      .text_block {
        padding-left: 155px;
      }
    }
    &_cash {
      margin-bottom: 20px;
      .img_block {
        padding-left: 10px;
        width: 80px;
      }
      .text_block {
        padding-left: 95px;
        padding-top: 15px;
      }
    }
    &_varanty {
      margin-bottom: 30px;
      .img_block {
        margin-top: -20px;
        padding-left: 10px;
      }
      .text_block {
        padding-left: 120px;
        line-height: 21px;
      }
    }
  }
  .discount {
    width: 50%;
    background: #2e8f5d;
    border-radius: 4px;
    padding: 7px 10px;
    margin-top: 11px;
    margin-bottom: 20px;
    label {
      color: #fff;
      font-size: 20px;
    }
    input[type = "email"] {
      text-align: center;
      width: 250px;
      height: 25px;
      font-family: $font-family-base-2;
      margin-left: 15px;
    }
    input[type = "submit"] {
      text-align: center;
      width: 135px;
      border-radius: 4px;
      border: none;
      color: #fff;
      background: #99144e;
      margin-left: 15px;
      font-family: 'PF Beausans Pro', sans-serif;
      font-weight: bold;
      height: 30px;
      font-size: 16px;
    }
  }
  .actions {
    margin-top: 35px;
    img {
      width: 100%;
    }
    h3 {
      color: #2e8f5d;
      text-transform: uppercase;
      text-align: center;
      font-size: 26px;
      font-family: 'PF Beausans Pro', sans-serif;
      font-weight: bold;
      line-height: 22px;
    }
    .border {
      border-top: 3px solid #2e8f5d;
    }
    .one_product {
      padding: 20px 10px 0 10px;

      .title {
        font-size: 18px;
        margin-top: 24px;
        display: inline-block;
      }
      .price {
        color: #99144e;
        font-size: 19px;
      }
    }
  }
  .willing_offer {
    margin-top: 65px;
    .one_product {
      padding: 15px 40px;
    }
    h3 {
      color: #99144e;
      text-transform: uppercase;
      font-size: 26px;
      text-align: center;
      font-weight: bold;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .title {
      font-weight: bold;
      color: #000;
      text-align: center;
      font-size: 24px;
      margin-top: 27px;
    }
    img {
      width: 100%;
    }
    .view {
      color: #fff;
      font-size: 32px;
      width: 100%;
      background: #99144e;
      margin-top: 22px;
      border-radius: 0;
    }
  }
}
