footer {
  .footer-cntnr {
    background-color: #d9dada;
  }
  .copy {

    span {
      color: #fff;
      font-size: 18px;
      text-align: center;
    }
  }
  ul {
    font-family: 'pfbeausanspro-bold', sans-serif;
    font-size: 18px;
    color: #727271;
    vertical-align: top;
    padding: 40px 2px 21px;
    text-transform: uppercase;
    li {
      padding: 0;
      a {
        font-size: 14px;
        font-family: $font-family-base-2;
        color: #000;
        margin: 13px 0;
        text-transform: none;
      }
    }
  }
  .f_title li {
    padding: 0 !important;
  }

  .f_container {
    background-image: url(../img/ftr-bg.png),url(../img/ftr-bg2.png);
    background-repeat: no-repeat;
    background-color: #99144E;
    background-position: center center, center bottom;
  }

  .both_footer {
    margin: 0;

    .logo {
      padding: 30px 0 0 55px;
    }

    .slogan {
      text-align: center;
      text-transform: uppercase;
      font-size: 25px;
      color: #fff;
      padding-top: 33px;
      padding-right: 100px;
    }

    .f_list {
      background-color: transparent;
      padding-top: 30px;
      li {
        color: #fff;
        font-family: 'pfbeausanspro-reg', sans-serif;
        font-size: 26px;
        padding: 0 12px;
        text-transform: none;
        vertical-align: top;
        .f_list_in {
          background-color: transparent;
          padding-top: 20px;
          li {
            padding: 0;
            background-color: transparent;
            font-size: 13px;
            font-family: $font-family-base-2;
            a {
              color: #fff;
              font-size: 13px;
            }
          }
        }
      }
    }

    .soc_list {
      display: inline-block;
      float: right;
      padding-right: 10px;
      margin-top: 56px;

      p {
        font-size: 21px;
        color: #fff;
        font-family: $font-family-sans-serif;
        text-align: center;

      }

      ul {
        background-color: transparent;
        min-width: 300px;
        float: right;
        margin-right: 42px;
        li {
          padding: 2px 0 30px;
        }
      }
    }

  }
  .list-inline {
    margin: 0;
  }
}
@media (max-width: 1500px) {
  footer {
    .both_footer .soc_list ul {
      min-width: 0;
      margin-right: 20px
    }
    .f_list .f_list_in {
      text-align: left;
      li {
        font-size: 11px;
      }
    }
    .copy span {
      background-color: transparent !important;
      margin-top: 32px;
      font-size: 16px;
    }
    .slogan {
      font-size: 16px;
      padding-right: 20px
    }
    .soc_list {
      margin-top: -15px;
      padding-right: 0;
      p {
        font-size: 18px;
      }
      ul li {
        padding-bottom: 10px;
        a img {
          width: 31px;
          border-radius: 6px;
        }
        ul li a {
          font-size: 11px;
        }
      }
    }
    .both_footer {
      .logo img {
        width: 150px;
      }
      .slogan {
        font-size: 18px;
        padding-right: 20px;
      }
      .f_list li {
        font-size: 20px;
        .f_list_in {
          li,
          a {
            font-size: 13px;
          }
        }
        .soc_list,
        p {
          margin-top: 15px;
        }
      }
    }
    ul.list-inline li {
      font-size: 18px;
      padding: 30px 2px 16px 20px;
    }
  }
}
@media only screen and (min-width: 992px)  and  (max-width: 1199px ) {

  footer {
    .container {
      ul.list-inline li {
        font-size: 14px;
      }
    }
    ul.media_support_class li {
      padding: 30px 2px 20px 7px;
    }
    ul li ul.f_title li a {
      font-size: 10px;
    }
    .both_footer {
      .logo {
        padding: 30px 0 0 30px;
      }
      .slogan {
        font-size: 18px;
        padding-top: 28px;
        padding-right: 50px
      }
      .f_list {
        float: right;
        margin-right: 30px;
        max-width: 650px;
        margin: 0 auto;
        li .f_list_in li a {
          font-size: 10px;
        }
      }
      .soc_list {
        margin-top: 0;
        p {
          font-size: 14px;
          text-align: right;
          margin-right: 30px;
        }
      }
    }
    .f_container {
      .soc_list ul li a img {
        width: 23.5px;
      }
      .copy span {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 991px) {
  footer {
    .both_footer {
      .f_list {
        max-width: 650px;
        margin: 0 auto;
      }
      .soc_list {
        margin-top: 0;
        margin-bottom: 60px;
        ul {
          margin: 0 auto;
          float: none;
          max-width: 215px;
          padding-top: 0;
          padding-bottom: 50px;
        }
      }
    }
  }
}
@media only screen  and  (max-width: 768px) {
  footer {
    .f_container .both_footer {
      .slogan {
        padding: 0;
      }
      .logo {
        text-align: center;
        padding: 20px 0;
      }
      .f_list li {
        display: block;
        text-align: center;
        padding: 12px 12px;
        .f_list_in li {
          font-size: 14px;
          a {
            font-size: 14px;
          }
        }
      }
      .soc_list {
        display: block;
        text-align: center;
        float: none;
        padding-right: 0;
        p {
          margin-top: 10px;
        }
        ul {
          float: none;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  footer ul {
    font-size: 16px;
  }
}
