header {
  font-family: $font-family-sans-serif;
  font-size: 17px;
  color: #2b2a29;

  a {
    color: #2b2a29;
  }

  .logo {
    margin-top: 3px;
    margin-left: 7px;;
  }

  .top_menu {
    background: #fafafa;
    border: 1px solid #c6c7c7;
    min-height: 48px;

    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
    }

    nav {
      ul {
        margin: 0;
        padding: 0;

        li {
          padding: 0 17px;
          line-height: 48px;
        }
        &.pull-left {
          padding-left: 7px;
        }
        &.pull-right {
          padding-right: 10px;
        }
      }
    }

    .login {
      float: right;

      img {
        margin-right: 5px;
        margin-top: -4px;
      }
    }
  }

  .nav-block {
    float: left;
    width: 80%;
    margin-left: 15px;

    nav {
      padding: 10px 0;
    }

    &_menu {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0 19px;
      margin-bottom: 40px;
      margin-top: -6px;
      margin-left: 3px;

      .menu_1 {
        margin-bottom: 0;
        text-align: justify;
        -moz-text-align-last: justify;
        text-align-last: justify;
        li {
          display: inline-block;
          white-space: nowrap;
          a {
            font-weight: bold;
            font-size: 17px;
            text-transform: lowercase;
          }
        }
      }

      .menu_2 {
        text-align: justify;

        -moz-text-align-last: justify;
        text-align-last: justify;

        margin-top: 4px;
        margin-bottom: 0;

        > li {
          position: relative;
          display: inline-block;
          white-space: nowrap;

          a {
            color: #115E38;
            font-size: 27px;
            font-weight: bold;
            line-height: 25px;
            text-transform: uppercase;
          }
          a:hover {
            text-decoration: none;
          }
        }
        li:hover .down_menu_list {
          display: block;
        }
        li.dot {
          content: " ";
          width: 7px;
          height: 6px;
          display: inline-block;
          background: #99144E;
          vertical-align: middle;
          padding: 0;
          position: relative;
          top: -5px;

          &:last-child {
            display: none;
          }
        }
        li:last-child:after {
          display: none;
        }
        .down_menu_list {
          position: absolute;
          top: 35px;
          left: -20px;
          background: #fff;
          border: 1px solid #ccc;
          border-top: none;
          padding: 15px 15px;
          display: none;
          z-index: 9;
          li {
            a {
              color: #2b2a29;
              white-space: nowrap;
              font-family: 'PF Beausans Pro', sans-serif;
              font-size: 22px;
              font-weight: 500;
            }
          }
          li:after {
            display: none;
          }
        }
      }
    }
  }

  .delivery {
    font-size: 21px;
    margin-top: 38px;
    color: #3A3A39;
    padding-left: 4px;
    padding-top: 1px;
  }
  .work_time {
    margin-top: 12px;
    margin-left: -4px;
    &_hours {
      padding-left: 18px;
    }

    .phone_number {
      font-size: 30px;
      line-height: 27px;
      padding-top: 4px;
      padding-bottom: 3px;
    }
  }
  .guarantee {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    color: #107342;
    font-size: 22px;
    margin-top: 7px;
    margin-left: -8px;
  }

  .guard {
    padding: 13px 0 0 15px;
  }

  .cart_block {
    margin-top: 10px;
    text-align: right;

    li {
      text-align: center;
      margin: 9px 28px 0;
      vertical-align: top;
      &:first-child {
        margin: 9px 2px 0 0;
      }
      &:last-child {
        margin: 9px 11px 0 0;
      }

      a {

        &:hover {
          text-decoration: none;
        }

        p {
          margin: -4px 0 0;
          font-size: 17px;
        }
      }

      img {
        width: 100%;
        max-width: 65px;
      }
    }

    .cart {

      &__price {
        @include fontSize(4);
        color: #727271;
      }
    }
  }

  .search {
    float: right;
    padding: 0;
    border: none;
    vertical-align: top;
    margin-top: -30px;
    background: transparent;
  }
  .filter {
    width: 272px;
    padding-right: 0;
    float: right;
    &_search1 {
      display: inline-block;
      margin-left: 20px;
      a {
        background: transparent;
        -webkit-appearance: none;
        font-weight: bold;
        color: #98144E;
      }
    }
    &_search2 {
      display: inline-block;
      margin-top: 8px;
      a {
        background: transparent;
        -webkit-appearance: none;
        font-weight: bold;
        color: #98144E;
      }
    }
  }
}

@media (max-width: 1556px) {
  header {
    .nav-block {
      &_menu {
        .menu_2 {
          > li {
            a {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  header {
    .block_search {
      display: inline-block;
      vertical-align: top;
      position: relative;
      float: right;
      &:hover {
        .select {
          display: block;
        }
      }
      .select {
        background: #98144E;
        position: absolute;
        right: 48px;
        top: -27px;
        width: 140px;
        padding: 5px;
        display: none;
        select {
          height: 26px;
          padding: 0 12px;
        }
      }
    }
    .cart_block li {
      width: 30%;
      margin: 0 2px;
      font-size: 15px;
    }
    .guarantee {
      font-size: 17px;
      text-align: center;
    }
    .delivery {
      font-size: 17px;
      margin-top: 43px;
      text-align: center;
    }
    .block_menu .menu_2 {
      li a {
        font-size: 20px;
      }
      .down_menu_list li a {
        font-size: 18px;
      }
    }
    .work_time .phone_number {
      font-size: 25px;
    }
    .search {
      margin-top: -28px;
      img {
        width: 55px;
      }
    }
    .filter_search1 a,
    .filter_search2 a {
      font-size: 12px;
      margin-left: 13px;
    }
    .filter_search2 {
      margin-top: 0;
    }
    .filter_search1 {
      margin-left: 13px;
    }
    .nav-block {
      margin-left: 0;
      width: 83%;
    }
    .filter {
      width: 230px;
    }
  }
}

@media (max-width: 1368px) {
  header {
    .nav-block {
      width: 80%;
      &_menu {
        .menu_2 {
          > li {
            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1336px) {
  header {
    .nav-block {
      width: 80%;
      &_menu {
        .menu_2 {
          > li {
            a {
              font-size: 18px;
            }
          }
        }
        .menu_1 {
          > li {
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    .block_search {
      .select {
        select {
          height: 42px;
          padding: 0 12px;
          font-size: 16px;
        }
      }
    }
    .block_menu {
      .menu_2 {
        > li {
          width: auto !important;
        }
      }
    }
    .filter_search1 {
      margin-left: 10px;
    }
    .filter {
      width: 190px;
    }
    .nav-block {
      width: 83%;
    }
    .navbar-toggle {
      &.phone_menu {
        background: #ccc;
        border: 1px solid #807777;
        float: right;
        margin-top: 0;
        & .icon-bar {
          background: #807777;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    .nav-block_menu {
      .menu_1 {
        margin-top: 0;
        > li {
          a {
            font-size: 13px;
          }
        }
      }
      .menu_2 {
        > li {
          a {
            font-size: 18px;
          }
        }
      }
    }
    .block_search {
      .select {
        right: 40px;
        top: -17px;
        select {
          height: 32px;
        }
      }
    }
    .filter {
      width: 170px;
    }
    .search {
      img {
        width: 45px;
        margin-top: 10px;
      }
    }
    .top_menu {
      ul {
        display: block;
      }
      .login img {
        margin-right: 0;
      }
      .navbar-toggle.phone_menu {
        display: none;
      }
    }
    nav {
      ul {
        li {
          width: auto;
          &:last-child {
            margin-top: -5px;
          }
          a {
            font-size: 14px;
          }
          .login {
            span {
              display: inline-block;
              margin-bottom: 6px;
            }
          }
        }
      }
    }
    .center_img {
      height: 72px;
    }
    .container {
      .row {
        .work_time {
          p {
            line-height: 20px;
            a {
              font-size: 14px;
            }
          }
          .phone_number {
            font-size: 17px;
          }
        }
        .delivery {
          font-size: 16px;
          text-align: center;
          margin-top: 14px;
        }
        .guarantee {
          text-align: center;
          font-size: 13px;
        }
        .block_menu {
          .menu_1 li a {
            font-size: 13px;
          }
          .menu_2 li a {
            font-size: 15px;
          }
        }
      }
    }
    .cart_block {
      margin-top: 7px;
      float: right;
      display: flex;
      p {
        font-size: 12px;
      }
    }
    form {
      .filter_search1 a,
      .filter_search2 a {
        font-size: 8px;
      }
    }
  }
}

@media (max-width: 1050px) {
  header {
    .nav-block_menu {
      .menu_1 {
        > li {
          a {
            font-size: 12px;
          }
        }
      }
      .menu_2 {
        > li {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 999px) {
  header {
    .filter {
      width: 160px;
    }
    .search {
      img {
        width: 40px;
      }
    }
    .block_search {
      .select {
        top: -17px;
        right: 37px;
        select {
          height: 27px;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  header {
    nav ul li {
      a {
        font-size: 14px;
      }
      .login span {
        display: inline-block;
        margin-bottom: 6px;
      }
    }
    .center_img {
      height: 72px;
    }
    .container {
      .top_menu {
        ul {
          display: block;
        }
        nav li {
          width: auto;
          &:last-child {
            float: right;
            margin-top: -5px;
          }
        }
        .login img {
          margin-right: 0;
        }
        .navbar-toggle .phone_menu {
          display: block;
        }
      }
      .row {
        .col-md-8 {
          width: 66.66%;
          float: left;
        }
        .col-md-6 {
          width: 50%;
          float: left;
        }
        .col-md-4 {
          width: 33.33%;
          float: left;
        }
        .work_time {
          p {
            line-height: 20px;
            a {
              font-size: 14px;
            }
          }
          .phone_number {
            font-size: 17px;
          }
        }
        .delivery {
          font-size: 16px;
          text-align: center;
          margin-top: 14px;
        }
        .guarantee {
          text-align: center;
          font-size: 13px;
        }
        .logo img {
          width: 130px;
        }
      }
    }
    .cart_block {
      margin-top: 7px;
      float: right;
      display: flex;
      p {
        font-size: 12px;
      }
    }
    form .filter_search1 a,
    form .filter_search2 a {
      font-size: 8px;
    }
    .nav-block_menu {
      .menu_1 {
        display: none;
        width: 45%;
        float: right;
        text-align: right;
        margin-top: -10px;
        li {
          display: block;
          padding-bottom: 5px;
          a {
            font-size: 13px;
          }
        }
      }
      .menu_2 {
        display: none;
        margin: 10px 0;
        width: 45%;
        li.dot {
          display: none !important;
        }
        li {
          display: block;
          padding-bottom: 5px;
          a {
            font-size: 15px;
          }
        }
      }
      .mobile_block {
        display: block;
        padding: 5px 0;
        span {
          font-size: 20px;
          display: block;
        }
        .navbar-toggle.phone_menu_2 {
          margin-top: -30px;
          right: -35px;
          span {
            color: #000;
          }
        }
        .navbar-toggle .icon-bar {
          background-color: grey;
        }
      }
    }
    .search {
      margin-top: 0px;
    }
    .filter {
      width: auto;
    }
    .tree-in-one {
      float: right;
    }
    .block_search {
      .select {
        top: 1px;
        right: 36px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .block_menu {
      width: 89%;
      margin-bottom: 15px;
      .menu_2 > li {
        width: 100%;
      }
    }
    .search {
      margin-top: -80px;
    }
    .work_time {
      float: right;
    }
    .navbar-toggle.phone_menu {
      display: block;
      background: #ccc;
      border: 1px solid #807777;
      float: right;
      margin-top: 0;
    }
    .top_menu {
      ul {
        display: none;
      }
      nav li {
        width: 100%;
      }
      .login {
        float: none;
      }
    }
    .work_time {
      margin-top: 0;
      .phone_number {
        font-size: 20px;
      }
    }
    .nav-block_menu {
      .menu_1 {
        display: none;
        width: 45%;
        float: right;
        text-align: right;
        margin-top: -10px;
        li {
          display: block;
          padding-bottom: 5px;
          a {
            font-size: 13px;
          }
        }
      }
      .menu_2 {
        display: none;
        margin: 10px 0;
        width: 45%;
        li.dot {
          display: none !important;
        }
        li {
          display: block;
          padding-bottom: 5px;
          a {
            font-size: 15px;
          }
        }
      }
      .mobile_block {
        display: block;
        padding: 5px 0;
        span {
          font-size: 20px;
          display: block;
        }
        .navbar-toggle.phone_menu_2 {
          margin-top: -30px;
          span {
            color: #000;
          }
        }
        .navbar-toggle .icon-bar {
          background-color: grey;
        }
      }
    }
    .search {
      margin-top: 0px;
    }
    .filter {
      width: auto;
    }
    .tree-in-one {
      float: right;
      width: 210px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      ul {
        li {
          width: 50px;
          margin: 0 4px;
          font-size: 11px;
          text-align: center;
        }
      }
    }
    .img-responsive.logo {
      width: 100px;
    }
  }
  .top_menu .navbar-toggle .phone_menu {
    display: block;
  }
  .navbar-toggle .icon-bar {
    background-color: grey;
  }
  .mobile_padding {
    padding: 0;
  }
  .phone_menu_2 {
    margin-right: -22px;
  }
  .display_none {
    display: none;
  }
  .top_menu .tooltip_button {
    font-size: 20px;
    margin-left: 5px;
  }
  .mobile_block {
    display: block;
    padding: 5px 0;
    span {
      font-size: 20px;
      display: block;
    }
  }
  .navbar-toggle {
    margin-top: -32px;
    .icon-bar {
      background-color: grey;
    }
  }
}

@media (max-width: 520px) {
  header {
    .cart_block {
      margin-top: 10px;
    }
    .tree-in-one {
      float: right;
      width: 210px;
      position: absolute;
      right: 0;
    }
  }
  .time-number-call-you {
    display: none;
  }
}

@media (max-width: 460px) {
  header {
    .nav-block_menu {
      .menu_2 {
        margin-bottom: 10%;
      }
    }
  }
}

@media (max-width: 425px) {
  header {
    .tree-in-one {
      float: right;
      width: 210px;
      position: absolute;
      right: -130px;
    }
    .logo-img {
      width: 100px;
    }
    .cart_block {
      margin-top: 0;
    }
    .nav-block_menu {
      .menu_2 {
        margin-bottom: 20%;
      }
    }
  }
}

@media (max-width: 375px) {
  header {
    .nav-block_menu {
      .menu_2 {
        margin-bottom: 30%;
      }
    }
  }
}

.header {

  &__info {

  }
}
