@media (max-width: 1500px) {
  .content {
    padding: 0 15px;
    .willing_offer {
      .title {
        font-size: 20px;
        margin-top: 5px;
      }
      .view {
        font-size: 22px;
        margin-top: 10px;
      }
      .one_product {
        padding: 0;
      }
    }
    .discount {
      width: 60%;
      label {
        font-size: 18px;
      }
      input[type="email"] {
        width: auto;
      }
    }
    .category li {
      padding: 1px 0 2px 5px;
      &:last-child {
        padding: 3px 0 4px 5px;
      }
      a {
        font-size: 14px;
        img {
          margin-right: 0;
        }
      }
    }
    .head_block {
      padding-top: 0;
      .text_block {
        font-size: 12px;
      }
      .title {
        font-size: 17px;
        margin-bottom: 8px;
        padding-bottom: 0;
      }
      .img_block {
        width: 22%;
      }
    }
    .actions .one_product .title {
      font-size: 14px;
      display: initial;
    }
    .head_banner img {
      height: 100%;
    }
  }

  .info_shop img {
    margin-right: -30px;
  }

  .navbar-toggle.phone_menu {
    display: none;
  }

  .categories {
    .categories_box {
      .decr {
        left: 6px;
        font-size: 15px;
      }
      .name_category {
        font-size: 25px;
      }
    }
  }

  .categories_reshenia .cat_wrapper {
    width: 12.5%;
    .name_category {
      font-size: 27px;
    }
    .decr {
      font-size: 13px;
    }
  }

  .filter_left_sidebar .filter_name {
    font-size: 20px;
  }

  .descr_page {
    margin: 20px 15px;
  }

  .buy_block a {
    padding: 0;
  }

  .margin_left {
    margin-left: 0;
  }

  .quantity button {
    width: 30px;
  }

  .total_prise button, .ordering .total_ticket .total_prise_or button {
    font-size: 20px;
  }

  .total_prise ul li, .ordering .total_ticket .total_prise_or ul li {
    font-size: 16px;
  }

  .total_prise ul li:first-child, .ordering .total_ticket .total_prise_or ul li:first-child {
    font-size: 22px;
  }

  .product_decr .total {
    margin-left: 40px;
  }

  .item_name {
    font-size: 20px;
    padding: 10px 0;
  }

  .specification {
    .bold_text {
      font-size: 18px;
    }
    li,
    span {
      font-size: 15px;
    }
  }

  .product_decr {
    .prise_total {
      font-size: 18px;
      span {
        font-size: 15px;
      }
    }
    .product_decr_list li:first-child {
      font-size: 20px;
    }
  }

  .variants {
    padding: 30px 0 10px;
  }

  .old_prise {
    font-size: 15px;
    padding-top: 45px;
  }

  .total_cost {
    font-size: 27px;
  }

  .colors img {
    width: 125%;
    margin-left: -15px;
  }

  .right_side_bar {
    padding: 15px;
    margin-left: 20px;
    .name_sidebar {
      font-size: 20px;
    }
    img {
      width: 20px;
      margin-bottom: 8px;
    }
    .name_list {
      font-size: 17px;
      padding: 15px 0 10px 0;
    }
    ul li {
      font-size: 13px;
      span {
        font-size: 14px;
      }
    }
  }

  .list_items .button_look {
    font-size: 17px;
    padding: 12px 0;
  }

  .btn_by {
    font-size: 18px;
  }

  .row.info_shop {
    margin: 30px auto;
    font-size: 18px;
  }

  .btn_by {
    margin-top: 0px;
    padding: 0 22px;
  }

  .search_panel {
    font-size: 20px;
  }

  .ordering {
    label {
      font-size: 14px;
    }
    .total_ticket {
      font-size: 12px;
      .prise {
        font-size: 14px;
      }
      .booking ul li:first-child {
        font-size: 14px;
      }
    }
    .great_total_prise {
      font-size: 27px;
    }
  }

  .bread_crums .breadcrumb {
    margin-left: 13px;
  }
}

@media only screen and (min-width: 1200px) {
  .ware_cards .ware_cards_item_price {
    margin-left: 15px;
  }

  .ware_cards .ware_cards_item_name {
    margin-left: 15px;
    font-size: 13px;
  }

  .ware_cards .ware_cards_item_price_button {
    font-size: 23px;
    padding: 2px 10px;
    margin-top: -16px;
  }

  .tabs_section .tab-content {
    font-size: 15px;
  }

  .tabs_section .nav-tabs li a {
    font-size: 20px;
  }

  .buy_block .buy_button {
    margin-top: 20px;
    font-size: 25px;
  }

  .buy_block img {
    width: 50px;
  }

  .block_header {
    font-size: 13px;
  }

  .subject li {
    font-size: 12px;
  }

  .title_decr {
    padding: 10px 0;
  }

  .title {
    font-size: 28px;
  }

  .list_items {
    margin: 15px 10px;
  }
  .list_items .button_look {
    font-size: 17px;
    padding: 12px 0;
    margin-top: 0;
  }
  .list_items span {
    font-size: 21px;
  }

  .content .category {
    width: 19.6%;
  }

  .content .head_banner {
    width: 60%;
    padding: 0 14px;
  }

  .content .head_block {
    width: 19.6%;
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .korzina .title span {
    font-size: 30px;
  }
  .korzina .title_decr {
    font-size: 15px;
  }
  .korzina .product_title {
    font-size: 14px;
  }
  .korzina .product_decr img {
    width: 100%;
  }
  .korzina .product_decr .prise_total {
    font-size: 13px;
  }
  .korzina .product_decr .prise_total span {
    font-size: 13px;
  }
  .korzina .product_decr .total input {
    height: 30px;
    width: 35px;
    font-size: 20px;
  }
  .korzina .product_decr .total button {
    font-size: 34px;
  }
  .korzina .details {
    font-size: 20px;
  }
  .korzina .specification span {
    font-size: 12px;
  }
  .korzina .specification {
    padding: 23px 13px;
  }
  .korzina .specification li {
    font-size: 12px;
  }
  .korzina .specification .bold_text {
    font-size: 11px;
  }

  .product_page .block_header {
    font-size: 10px;
  }
  .product_page .block_header .manufacturer img {
    margin-top: -8px;
    padding-left: 15px;
    width: 30px;
  }
  .product_page .block_header ul li img {
    width: 12px;
  }
  .product_page .subject li {
    font-size: 9px;
  }
  .product_page .colors img {
    width: 155%;
  }
  .product_page .variants {
    font-size: 14px;
  }
  .product_page .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .product_page .item_content .img_big img {
    height: 400px;
  }
  .product_page .item_content .img_desk img {
    height: 100px;
  }
  .product_page .categories_reshenia .cat_wrapper .name_category a {
    font-size: 20px;
  }
  .product_page .right_side_bar {
    margin-left: 0;
  }
  .product_page .right_side_bar .name_sidebar {
    font-size: 16px;
  }
  .product_page .right_side_bar ul li, .right_side_bar ul li span {
    font-size: 11px;
  }
  .product_page .right_side_bar .name_list {
    font-size: 14px;
  }
  .product_page .big_img {
    height: 600px;
  }

  .buy_block .buy_button {
    margin-top: 15px;
    font-size: 20px;
    padding: 5px 22px;
  }
  .buy_block img {
    margin-bottom: 20px;
    width: 40px;
    height: 31px;
  }
  .buy_block a {
    font-size: 16px;
  }
  .tabs_section .nav-tabs li a {
    font-size: 16px;
  }
  .tabs_section .tab-content {
    font-size: 12px;
  }
  .tabs_section .tab-content .dowloand span {
    font-size: 17px;
    padding-bottom: 5px;
  }
  .bread_crums a {
    padding-top: 0;
  }
  .content .category {
    width: 18%;
  }
  .content .container .category li a {
    font-size: 10px;
  }
  .content .category li a img {
    height: 33px;
  }
  .content .discount label {
    font-size: 12px;
  }
  .content .head_banner {
    width: 63%;
  }
  .content .head_block {
    width: 17.6%;
  }
  .content .container .head_block .title {
    font-size: 11px;
  }
  .content .container .head_block .text_block {
    font-size: 9px;
    line-height: 18px;
  }
  .container .categories .categories_box .decr {
    font-size: 10px;
    padding: 0 14px;
  }
  .info_shop {
    font-size: 16px;
  }
  .info_shop img {
    width: 52px;
    margin-right: -30px;
  }
  .content .willing_offer .title {
    font-size: 16px;
  }
  .content .willing_offer .view {
    font-size: 19px;
  }
  .content .actions .one_product {
    padding: 0;
  }
  .content .actions .one_product .price {
    font-size: 17px;
  }
  .one_product .btn_by {
    font-size: 13px;
  }
  .categories_reshenia .cat_wrapper .decr {
    font-size: 8px;
  }
  .categories_reshenia .cat_wrapper .name_category {
    font-size: 17px;
  }
  .tag li a {
    font-size: 12px;
  }
  .filter_left_sidebar .filter_name {
    font-size: 16px;
  }
  .categories_reshenia .cat_wrapper .decr {
    font-size: 11px;
  }
  .ware_cards .ware_cards_item_name {
    font-size: 12px;
  }
  .ware_cards .ware_cards_item_price {
    font-size: 15px;
  }
  .ware_cards .ware_cards_item_price_button {
    font-size: 13px;
    margin-top: -2px;
  }
  .container .search_panel {
    font-size: 13px;
  }
  .title {
    font-size: 26px;
  }
}

@media only screen and (max-width: 768px) {
  .block_header {
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
  .block_header .garanty {
    text-align: center;
  }
  .block_header .question {
    float: none;
  }

  .content .willing_offer .one_product {
    padding: 0;
    margin-bottom: 20px;
  }

  .content .actions .one_product .title {
    display: initial;
  }
  .btn_by {
    margin-top: 0px;
    padding: 0 22px;
  }

  .content .discount input[type="email"] {
    margin-bottom: 7px;
  }

  .content .actions .one_product .price {
    display: inline-block;
    margin-top: 5px;
  }

  .content .container .discount {
    width: 95%;
  }
  .content .container .discount label {
    font-size: 13px;
  }

  .buy_block {
    padding-bottom: 30px;
  }

  .mob_center {
    text-align: center;
  }

  .colors {
    display: inline-block;
    text-align: center;
  }

  .variants {
    padding: 0 0 10px;
    display: block;
    text-align: center;
  }

  .item_content {
    padding-left: 15px;
  }
  .item_content .soc_lis_item {
    display: block;
    text-align: center;
  }
  .item_content .img_big img {
    height: 100%;
  }

  .subject {
    display: block;
    text-align: center;
  }
  .subject li {
    font-size: 13px;
  }

  .total_prise button, .ordering .total_ticket .total_prise_or button {
    display: block;
    margin: 0 auto;
  }

  .item_name {
    text-align: center;
    font-size: 22px;
  }

  .korzina .product_decr .product_decr_list {
    text-align: center;
  }

  .korzina .product_decr img {
    padding-left: 15px;
  }
  .korzina .product_decr {
    border-top: 1px solid #e3e4e4;
  }
  .korzina .product_decr .total {
    text-align: center;
    display: block;
    margin: 0;
    min-height: 0 !important;
  }
  .korzina .product_decr .prise_total {
    font-size: 25px;
    padding: 15px;
    text-align: center;
  }

  .product_decr .oakcms-cart-delete-button {
    float: none;
  }
  .total_prise button {
    float: right;
    margin-bottom: 20px;
  }

  .korzina .title_decr {
    font-size: 12px;
  }

  .details {
    font-size: 16px;
    margin-top: 20px;
  }

  .ordering .info_user {
    font-size: 15px;
  }
  .ordering .btn_by {
    margin: 10px 30px;
    float: none;
  }

  .categories_reshenia .cat_wrapper {
    width: 100% !important;
    margin-bottom: 0;
  }
  .categories_reshenia .cat_wrapper .name_category {
    display: block;
  }

  .content .discount {
    width: 100%;
  }

  .descr_page {
    padding: 15px;
  }

  .filter_left_sidebar {
    margin-bottom: 20px;
  }
  .filter_left_sidebar select {
    margin: 10px 0;
  }
  .filter_left_sidebar .filter_name {
    font-size: 20px;
  }
  .filter_left_sidebar a {
    font-size: 20px;
    padding: 10px 0 5px 0;
  }

  .descr_page {
    margin: 20px 0;
  }

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .mobile_hidden {
    display: none;
  }

  .categories_box {
    width: 100% !important;
  }
  .categories_box .decr {
    position: static !important;
    text-align: center;
  }
  .categories_box .name_category {
    display: initial !important;
    margin-top: 0 !important;
  }

  .list_items .button_look {
    padding: 10px 0;
  }

  .search_panel {
    font-size: 20px;
  }
  .search_panel .chexbox_block {
    text-align: justify;
  }
  .search_panel .sort {
    float: left;
  }

  .ware_cards .ware_cards_item_name {
    margin-left: 0;
    font-size: 15px;
  }
  .ware_cards .ware_cards_item_price {
    margin-left: 0;
    font-size: 20px;
  }

  .info_shop {
    display: none;
  }

  .ware_cards .ware_cards_item_price_button {
    font-size: 25px;
    padding: 2px 9px;
    margin-top: -15px;
  }
}
