.margin_left {
  margin-left: 20px;
}

.container {
  max-width: 1750px;
  width: 100%;
}

.no_padding {
  padding: 0;
}

.no_padding_left {
  padding-left: 0;
}

.no_padding_right {
  padding-right: 0;
}

.info_shop {
  width: 70%;
  font-size: 22px;
  margin-top: 70px;
  margin-bottom: 50px;

  img {
    float: right;
  }
}

.btn_by {
  color: #fff;
  background: #99144e;
  font-family: 'pfbeausanspro-bold', sans-serif;
  text-transform: uppercase;
  float: right;
  font-size: 24px;
  padding: 2px 22px;
  margin-top: -20px;
}

.sum {
  text-align: left;
  display: block;
  margin-left: 45px;
}

.title {
  font-family: $font-family-sans-serif;
  font-size: 37px;
  color: #000;
  padding-bottom: 25px;
}

.title_2 {
  font-family: $font-family-sans-serif;
  font-size: 25px;
  color: #000;
  padding: 20px 0 10px 0;
  border-bottom: 3px solid #107342;
}

.list_items {
  border: 1px solid #f2f2f2;
  margin: 30px 20px;

  img {
    width: 100%;

  }
  span {
    font-family: 'pfbeausanspro-bold', sans-serif;
    font-size: 25px;
    padding: 13px;
    text-align: center;
    display: block;
  }
  .button_look {
    font-size: 25px;
    font-family: $font-family-sans-serif;
    color: #fff;
    text-align: center;
    padding: 18px 0px;
    background-color: #99144e;
    display: block;

    margin: 20px;
    &:hover {
      text-decoration: none;
      background-color: #cb216b;
    }
  }

}

.hint {
  span {
    text-align: left;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    display: block;
    padding: 65px;
    &:before {
      content: "";
      background-image: url(../img/hint.png);
      width: 56px;
      height: 47px;
      position: absolute;
      left: 0;
    }
  }
}

$cherry: #99144e;

.title_decr {
  text-align: left;
  font-family: $font-family-base-2;
  font-size: 18px;
  padding: 20px 0;
}

.product_title {

  text-align: right;
  font-family: $font-family-sans-serif;
  font-size: 18px;
  color: $cherry;
  border-bottom: 2px solid $cherry;
  width: 100%;
  display: inline-block;
  span {
    display: block;
    padding-bottom: 7px;
  }

}

.product_decr {
  padding: 15px 0;

  .product_decr_list {
    display: block;
    li {
      font-family: $font-family-base-2;
      font-size: 14px;
      &:first-child {
        font-size: 25px;
        font-family: $font-family-sans-serif;
      }
    }
  }
  .prise_total {
    text-align: right;
    font-family: $font-family-base-2;
    font-size: 30px;
    line-height: 1;
    span {
      font-size: 22px;
      text-decoration: line-through;
    }
  }

  .total {
    display: inline-block;
    font-family: $font-family-base-2;
    margin-left: 80px;

    button {
      width: 35px;
      height: 35px;
      background-color: transparent;
      border: none;
      padding: 0;
      transition: ease-in-out .1s;
      outline: none;
      position: relative;
      top: 3px;
      @include hide-text();

      &:before {
        content: "";
        display: block;
        width: 29px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 3px;
        margin-top: -1px;
        background: $cherry;
      }

      &.plus:after {
        content: "";
        display: block;
        height: 29px;
        width: 2px;
        position: absolute;
        top: 3px;
        left: 50%;
        margin-left: -1px;
        background: $cherry;
      }

      &:hover {
        color: #fff;
        background-color: $cherry;

        &:after,
        &:before {
          background-color: #fff;
        }
      }
    }

    input {
      height: 40px;
      width: 45px;
      border: 1px solid #90908f;
      border-radius: 7px;
      font-size: 30px;
      vertical-align: top;
      text-align: center;
    }
  }

  .oakcms-cart-delete-button {
    float: right;
    text-align: center;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: ease-in-out .1s;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-position: 2px 1px;
  }

}

.item_name {
  border-top: 1px solid #7e7e7d;
  font-size: 25px;
  font-family: $font-family-sans-serif;
  display: block;
  padding: 15px 0px;
}

.total_prise {
  display: block;
  border-top: 1px solid $cherry;
  ul {
    text-align: right;
    display: block;
    padding-top: 30px;
    li {
      font-family: $font-family-base-2;
      font-size: 18px;
      &:first-child {
        font-size: 28px;
        font-family: $font-family-base-2;
        span {
          font-weight: 600;
        }

      }
    }
  }
  button {
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    background-color: $cherry;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 5px 15px;
    border: none;
    transition: ease-in-out .1s;
    &:hover {
      background-color: lighten($cherry, 10%);
    }
  }
}

.details {
  text-transform: uppercase;
  font-family: 'pfbeausanspro-bold';
  color: $cherry;
  font-size: 24px;
  display: block;
  padding-bottom: 25px;
  img {
    padding: 0 0px 0px 33px;
  }
}

.specification {
  display: block;
  padding: 35px 60px;
  border: 2px solid lighten($cherry, 25%);
  margin-bottom: 30px !important;
  span {
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    font-size: 19px;
    padding-bottom: 25px;
    display: inline-block;
  }
  li {
    font-family: $font-family-base-2;
    font-size: 17px;
    text-align: left;

  }
  .bold_text {
    font-family: 'pfbeausanspro-bold';
    font-size: 18px;
    text-transform: none;
    padding: 0;
  }

}

//карточка комплекта товара
.block_header {
  padding: 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: $font-family-base-2;
  font-size: 17px;
  margin: 0 0 20px;
  @include clearfix();

  .manufacturer {
    display: inline-block;
    a {
      color: #01a1e4;
    }
    img {
      margin-top: -15px;
      padding-left: 15px;
    }
  }

  .question {
    display: inline-block;
    text-align: right;
    float: right;
    a {
      color: #2e8f5d;
      padding-left: 5px;
    }

  }

  .article {
    display: inline-block;
    text-align: left;
  }
  .rating {
    ul {
      padding: 0 5px;
      margin: 0;
      display: inline-block;

      li {
        padding: 0;
        margin: 0;

      }
    }
  }

}

.item_content {
  .img_big {

    display: block;
    img {
      height: 600px;
      width: 100%;
    }
  }

  .img_desk {
    img {
      width: 100%;
      height: 150px;
    }
  }

}

.subject {

  display: inline-block;
  li {
    font-family: $font-family-base-2;
    font-size: 18px;
  }
}

.variants {
  font-size: 18px;
  font-family: $font-family-sans-serif;
  padding: 40px 0 20px;
  display: inline-block;
}

.old_prise {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  padding-top: 60px;
  margin: 0;
  line-height: 1;
  span {
    text-decoration: line-through;
  }
}

.total_cost {
  font-size: 40px;

  padding-bottom: 15px;
  margin: 0;

  span {
    color: #AE0F14;
  }
}

.quantity {
  display: block;
  padding: 0;
  margin: 0;
  width: 170px;

  .input-group {

  }

  .btn-default {
    width: 55px;
    height: 30px;
    font-size: 22px;
    color: #1B1C1C;
    border: 1px solid #1B1C1C;
    line-height: 17px;
  }

  input {
    text-align: center;
    font-size: 25px;
    height: 30px;
    color: #1B1C1C;
    border: 1px solid #1B1C1C;
  }
}

.buy_block {

  .buy_button {
    margin-top: 35px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: $cherry;
    padding: 5px 35px;
    border: none;
    transition: ease-in-out .1s;
    border-radius: 6px;
    line-height: 30px;

    &:hover {
      background-color: lighten($cherry, 10%);
    }
  }

  img {
    margin-bottom: 20px;
  }

  a {
    font-family: $font-family-sans-serif;
    color: #000;
    font-size: 21px;
  }
}

.right_side_bar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 25px;
  img {
    margin-bottom: 15px;

  }
  .name_sidebar {
    font-family: $font-family-base-2;
    font-size: 27px;
    color: #197849;
    padding: 0;
  }
  .name_list {
    font-family: $font-family-base-2;
    font-size: 22px;
    padding: 25px 0px 10px 0;
    display: inline-block;
  }

  ul {

    li {
      font-family: $font-family-sans-serif;
      font-size: 17px;
      text-align: left;
      span {
        font-family: 'pfbeausanspro-bold';
        font-size: 16px;
        text-transform: none;
        padding: 0;
      }
    }
  }

}

$green: #187848;
.tabs_section {
  margin-top: 50px;
  display: inline-block;
  .nav-tabs {
    li {
      a {
        font-family: $font-family-sans-serif;
        font-size: 27px;
        color: #000;
        padding: 5px 25px;
        margin-right: 0;
        border-bottom: none;
        &:hover {
          color: $cherry;
          background-color: #f3f3f3;
          border-radius: 7px;
          border: none;

        }
      }

    }
    li.active a {
      color: $cherry;
      background-color: #f3f3f3;
      border-bottom: 1px solid #c9c9c9;

    }
  }

  .tab-content {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    color: #000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 25px;
    .decription_tabs {

    }
    .mo_decr {
      color: $cherry;
      font-weight: 600;
      img {
        margin-bottom: 5px;
      }
    }
    .dowloand {
      span {
        font-family: $font-family-sans-serif;
        font-size: 24px;
        color: $green;
        display: inline-block;
        padding-bottom: 40px;
      }
      img {
        float: left;
        padding: 10px;
        margin-bottom: 20px;
      }
      a {
        color: #000;
      }
    }
  }
}

.name_slider {
  text-transform: uppercase;
  font-size: 25px;
  color: $green;
  padding: 30px 0;
  display: block;
}

.big_img {
  display: block;
  background-image: url(../img/big_img.png);
  background-repeat: no-repeat;
  height: 1200px;
  background-size: cover;
  margin: 50px 0;

}

.product_page .one_product {
  display: block;
  padding: 20px 10px 0 10px;
}

.product_page .one_product .title {
  font-size: 20px;
}

.product_page .one_product img {
  width: 100%;
}

//comparison.php
$grey: #e3e4e4;
.compare_list {
  display: block;
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: $grey;
  height: 333px;
  margin-bottom: 108px;
  ul {
    border-bottom: 2px solid darken($grey, 9%);
    li {
      display: inline-block;
      font-family: $font-family-sans-serif;
      font-size: 25px;
      padding: 12px 0;
    }
  }
  a {
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 25px;
    color: $cherry;
    padding: 40px 0;
    &::before {
      content: "x";
      margin-right: 20px;
    }
  }
}

.compare_item_list {
  ul {

    li {
      font-family: $font-family-base-2;
      font-size: 25px;
      background-color: $grey;
      border-radius: 5px;
      margin-right: 30px;
      padding: 3px 10px;
      transition: ease-in 0.1s;
      span {
        color: darken($grey, 45%);
      }
      &.active {
        background-color: #2b7f9e;
        color: #fff;
        span {
          color: #fff;
        }
      }
    }
  }
}

$border: #898989;
.compare_item {
  margin: 40px 0;
  display: block;
  padding: 5px;
  transition: all ease-in-out .1s;
  &:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  }
  img {
    width: 100%;
  }
  .top_section {
    display: block;
    padding-bottom: 55px;
    border-bottom: 4px solid $border;
    .compare_item_name {
      display: inline-block;
      font-family: $font-family-sans-serif;
      font-size: 20px;
    }
    .compare_item_price {
      font-family: $font-family-base-2;
      font-size: 21px;
      color: $cherry;
      line-height: 1;
    }
    .compare_item_price_button {
      border: none;
      border-radius: 3px;
      color: #fff;
      background: $cherry;
      font-family: 'pfbeausanspro-bold', sans-serif;
      text-transform: uppercase;
      float: right;
      font-size: 27px;
      padding: 2px 22px;
      margin-top: -20px;
      &:hover {
        background-color: lighten($cherry, 10%);
      }
    }
  }

  .compare_data {
    font-family: $font-family-sans-serif;
    font-size: 22px;
    display: inline-block;
    border-bottom: 4px solid $border;
    width: 100%;
    line-height: 1.2;
    padding: 25px 0;
  }
  .compare_consist {
    @extend .compare_data;
    li {
      margin-top: 25px;
    }
  }

  .compare_item_price_button_2 {
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: $cherry;
    font-family: 'pfbeausanspro-bold', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    padding: 2px 22px;
    &:hover {
      background-color: lighten($cherry, 10%);
    }
  }

}

.title_compare_item {

  li {
    font-family: $font-family-sans-serif;
    font-size: 22px;
    display: inline-block;
    border-bottom: 4px solid $border;
    width: 100%;
    line-height: 1.2;
    &:first-child {
      padding: 25px 25px;
      border-top: 4px solid $border;
    }
    &:nth-child(2) {
      padding: 25px 0 103px 25px;
    }
    &:last-child {
      padding: 25px 0 161px 25px;
    }
  }
}

//search

.input_search {
  padding-bottom: 40px;
  input {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    height: 35px;
    width: 280px;
    padding: 0 25px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.95);
    color: darken($grey, 15%);
  }
  img {
    padding: 15px;
    display: inline-block;
  }

}

.search_panel {
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-size: 22px;
  width: 100%;
  .sort {
    text-align: right;
    display: block;
  }
  input[type="checkbox"] {
    line-height: 18;
  }
}

.ware_cards {
  margin-top: 20px;
  display: block;
  transition: all ease-in-out .1s;
  padding-bottom: 20px;
  &:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  }
  img {
    width: 100%;
  }
  .ware_cards_item_name {
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    margin-left: 17px;

  }
  .ware_cards_item_price {
    font-family: $font-family-base-2;
    font-size: 21px;
    color: $cherry;
    line-height: 1;
    margin-left: 17px;
  }
  .ware_cards_item_price_button {
    border: none;
    border-radius: 3px;
    color: #fff;
    background: $cherry;
    font-family: 'pfbeausanspro-bold', sans-serif;
    text-transform: uppercase;
    float: right;
    font-size: 27px;
    padding: 2px 22px;
    margin-top: -20px;
    &:hover {
      background-color: lighten($cherry, 10%);
    }
  }
}

.pagination_block {
  .pagination {
    margin: 30px 0 20px;
    position: relative;
    li {
      font-family: $font-family-sans-serif;
      font-size: 21px;
      border: none;
      a {
        color: #000;
        border: none;
      }
    }
  }
}

//producer_of
.producer_wrapper {
  padding: 40px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin: 0;
  ul {
    li {
      font-family: $font-family-sans-serif;
      font-size: 21px;
      text-align: center;
      line-height: 1.8;
      a {
        color: #000;
      }
    }
  }
}

//filter

.descr_page {
  text-align: justify;
  font-family: $font-family-sans-serif;
  font-size: 18px;
  margin: 20px 0;
  display: inline-block;
}

.tag {
  li {
    margin-right: 3px;
    margin-bottom: 20px;
    a {
      font-family: $font-family-base-2;
      font-size: 18px;
      color: $cherry;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      padding: 5px;
    }
  }
}

.filter_left_sidebar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px;
  background-color: #ebecec;

  .filter_name {
    font-family: "PF Beausans Pro", sans-serif;
    @include fontSize(5);

    label {
      box-shadow: none;
      border: none;
    }
  }
  button {
    text-align: center;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 0;
    position: relative;
    margin-bottom: 4px;
    margin-left: 9px;
    border-color: #000;
    background-color: transparent;

    &:before {
      content: "?";
      font-family: "PF Beausans Pro", sans-serif;
      @include fontSize(2.816);
      position: absolute;
      top: 0;
      left: 3.5px;
      font-weight: 600;
    }
  }
  .checkbox {
    font-family: $font-family-sans-serif;
    @include fontSize(4.5);
    display: block;
  }

  .scroll_slider {
    text-align: justify;
    text-align-last: justify;

    .filter_name {
      text-align: left;
      width: 100%;
      display: block;
    }

    input {
      width: 100px;
      font-family: $font-family-sans-serif;
      font-size: 22px;
      text-align: left;
    }
  }

  a {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: darken($grey, 25%);
    text-align: center;
    display: block;

    &:before {
      content: "x";
      margin-right: 10px;
      text-decoration: none;
    }
  }

  hr {
    color: $grey;
  }

  .line {
    background-color: darken($grey, 4%);
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
  }

}

.ui-widget.ui-widget-content {
  border: none;
  background-color: $cherry;
  height: 1px;
  margin: 20px 0;
}

.ui-slider-horizontal .ui-slider-range {
  background-color: $cherry;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 4.5px solid #99144e !important;
  background: green !important;
  font-weight: normal;
  color: #454545 !important;
  border-radius: 13px;
  outline: none;

}

.ui-slider .ui-slider-handle {
  cursor: pointer !important;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.55em;
  margin-left: -.55em;
}

.categories_reshenia {
  display: table;

  .cat_wrapper {
    color: #000;
    font-family: $font-family-sans-serif;
    //box-shadow: 0 0 1px rgba(0,0,0,0.5);
    transition: ease-in-out .3s;
    border: 1px solid $grey;
    //width: 12.62%;
    width: 212.48px;
    display: inline-block;
    text-align: center;
    //margin-left:-6px;
    margin-bottom: 25px;

    .name_category {
      font-size: 35px;
      padding-bottom: 15px;
      display: inline-block;
      a {
        color: #000;
      }
    }
    .decr {
      font-size: 17px;
      padding-top: 42px;
      display: inline-block;
    }
    &.active {
      background-color: $cherry;
      color: #fff;
      .name_category {
        a {
          color: #fff;
        }
      }
    }
    &:hover {
      @extend .active;
    }
  }

}

.ordering {
  font-family: 'pfbeausanspro-reg', sans-serif;
  img {
    width: 100%;
  }
  label {
    display: block;
    font-size: 18px;
  }
  input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #747473;
    padding: 0 5px;
    height: 28px;
  }
  .info_user {
    font-size: 30px;
    margin-top: 10px;
  }
  .subscribe_input {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 15px;
    margin-top: 25px;
  }
  .subscribe_label {
    display: inline-block;
  }
  .additional_services {
    margin-top: 20px;
    .subscribe_input {
      margin-top: 7px;
    }
  }
  .payment {
    input {
      height: auto;
      width: auto;
      vertical-align: top;
    }
    label {
      display: inline-block;
      vertical-align: top;
    }
    #rad2 {
      margin-left: 30px;
    }
  }
  .back_to_cart {
    color: #99144e;
    font-size: 19px;
  }
  .buttons_ordering {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .great_total_prise {
    margin-top: 15px;
    font-size: 32px;
    text-align: center;
    span {
      font-weight: 600;
      text-align: center;

    }
  }

  .total_ticket {
    font-family: 'pfbeausanspro-reg', sans-serif;
    font-size: 16px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    display: block;
    .total_prise_ticket {
      padding: 20px;
      display: inline-block;
      border-top: 1px solid $grey;
      width: 100%;

    }
    .prise {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 5px;
    }
    .title_ticket {
      display: inline-block;
      padding: 30px 0px 0px 20px;
    }
    .booking {

      padding: 20px;

      ul {
        margin-bottom: 20px;
        li {
          &:first-child {
            font-size: 20px;
            font-weight: 600;
            font-family: $font-family-base-2;
          }
        }
      }
    }
  }
}

.minus {
  line-height: 21px;
  font-size: 80px;
  padding-bottom: 18px;
}

.container.korzina {
  padding: 0 15px;
}

header .block_search {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right;
}

header .block_search .select {
  background: #98144E;
  position: absolute;
  right: 70px;
  top: -28px;
  width: 215px;
  padding: 14px 14px 15px 15px;
  display: none;
}

header .block_search:hover .select {
  display: block;
}
