@font-face {
  font-family: 'PF Beausans Pro';
  src: url("../fonts/pfbeausanspro-bold.eot");
  src: url("../fonts/pfbeausanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/pfbeausanspro-bold.woff2") format("woff2"), url("../fonts/pfbeausanspro-bold.woff") format("woff"), url("../fonts/pfbeausanspro-bold.svg#pf_beausans_probold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'PF Beausans Pro';
  src: url("../fonts/pfbeausanspro-bolditalic.eot");
  src: url("../fonts/pfbeausanspro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/pfbeausanspro-bolditalic.woff2") format("woff2"), url("../fonts/pfbeausanspro-bolditalic.woff") format("woff"), url("../fonts/pfbeausanspro-bolditalic.svg#pf_beausans_probold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'PF Beausans Pro';
  src: url("../fonts/pfbeausanspro-reg.eot");
  src: url("../fonts/pfbeausanspro-reg.eot?#iefix") format("embedded-opentype"), url("../fonts/pfbeausanspro-reg.woff2") format("woff2"), url("../fonts/pfbeausanspro-reg.woff") format("woff"), url("../fonts/pfbeausanspro-reg.svg#pf_beausans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.margin_left {
  margin-left: 20px; }

.container {
  max-width: 1750px;
  width: 100%; }

.no_padding {
  padding: 0; }

.no_padding_left {
  padding-left: 0; }

.no_padding_right {
  padding-right: 0; }

.info_shop {
  width: 70%;
  font-size: 22px;
  margin-top: 70px;
  margin-bottom: 50px; }
  .info_shop img {
    float: right; }

.btn_by {
  color: #fff;
  background: #99144e;
  font-family: 'pfbeausanspro-bold', sans-serif;
  text-transform: uppercase;
  float: right;
  font-size: 24px;
  padding: 2px 22px;
  margin-top: -20px; }

.sum {
  text-align: left;
  display: block;
  margin-left: 45px; }

.title {
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 37px;
  color: #000;
  padding-bottom: 25px; }

.title_2 {
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 25px;
  color: #000;
  padding: 20px 0 10px 0;
  border-bottom: 3px solid #107342; }

.list_items {
  border: 1px solid #f2f2f2;
  margin: 30px 20px; }
  .list_items img {
    width: 100%; }
  .list_items span {
    font-family: 'pfbeausanspro-bold', sans-serif;
    font-size: 25px;
    padding: 13px;
    text-align: center;
    display: block; }
  .list_items .button_look {
    font-size: 25px;
    font-family: "PF Beausans Pro", sans-serif;
    color: #fff;
    text-align: center;
    padding: 18px 0px;
    background-color: #99144e;
    display: block;
    margin: 20px; }
    .list_items .button_look:hover {
      text-decoration: none;
      background-color: #cb216b; }

.hint span {
  text-align: left;
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 20px;
  display: block;
  padding: 65px; }
  .hint span:before {
    content: "";
    background-image: url(../img/hint.png);
    width: 56px;
    height: 47px;
    position: absolute;
    left: 0; }

.title_decr {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 20px 0; }

.product_title {
  text-align: right;
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 18px;
  color: #99144e;
  border-bottom: 2px solid #99144e;
  width: 100%;
  display: inline-block; }
  .product_title span {
    display: block;
    padding-bottom: 7px; }

.product_decr {
  padding: 15px 0; }
  .product_decr .product_decr_list {
    display: block; }
    .product_decr .product_decr_list li {
      font-family: "Open Sans", sans-serif;
      font-size: 14px; }
      .product_decr .product_decr_list li:first-child {
        font-size: 25px;
        font-family: "PF Beausans Pro", sans-serif; }
  .product_decr .prise_total {
    text-align: right;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 1; }
    .product_decr .prise_total span {
      font-size: 22px;
      text-decoration: line-through; }
  .product_decr .total {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    margin-left: 80px; }
    .product_decr .total button {
      width: 35px;
      height: 35px;
      background-color: transparent;
      border: none;
      padding: 0;
      transition: ease-in-out .1s;
      outline: none;
      position: relative;
      top: 3px;
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0; }
      .product_decr .total button:before {
        content: "";
        display: block;
        width: 29px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 3px;
        margin-top: -1px;
        background: #99144e; }
      .product_decr .total button.plus:after {
        content: "";
        display: block;
        height: 29px;
        width: 2px;
        position: absolute;
        top: 3px;
        left: 50%;
        margin-left: -1px;
        background: #99144e; }
      .product_decr .total button:hover {
        color: #fff;
        background-color: #99144e; }
        .product_decr .total button:hover:after, .product_decr .total button:hover:before {
          background-color: #fff; }
    .product_decr .total input {
      height: 40px;
      width: 45px;
      border: 1px solid #90908f;
      border-radius: 7px;
      font-size: 30px;
      vertical-align: top;
      text-align: center; }
  .product_decr .oakcms-cart-delete-button {
    float: right;
    text-align: center;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: ease-in-out .1s;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-position: 2px 1px; }

.item_name {
  border-top: 1px solid #7e7e7d;
  font-size: 25px;
  font-family: "PF Beausans Pro", sans-serif;
  display: block;
  padding: 15px 0px; }

.total_prise {
  display: block;
  border-top: 1px solid #99144e; }
  .total_prise ul {
    text-align: right;
    display: block;
    padding-top: 30px; }
    .total_prise ul li {
      font-family: "Open Sans", sans-serif;
      font-size: 18px; }
      .total_prise ul li:first-child {
        font-size: 28px;
        font-family: "Open Sans", sans-serif; }
        .total_prise ul li:first-child span {
          font-weight: 600; }
  .total_prise button {
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    background-color: #99144e;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 5px 15px;
    border: none;
    transition: ease-in-out .1s; }
    .total_prise button:hover {
      background-color: #c61a65; }

.details {
  text-transform: uppercase;
  font-family: 'pfbeausanspro-bold';
  color: #99144e;
  font-size: 24px;
  display: block;
  padding-bottom: 25px; }
  .details img {
    padding: 0 0px 0px 33px; }

.specification {
  display: block;
  padding: 35px 60px;
  border: 2px solid #e7468c;
  margin-bottom: 30px !important; }
  .specification span {
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    font-size: 19px;
    padding-bottom: 25px;
    display: inline-block; }
  .specification li {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    text-align: left; }
  .specification .bold_text {
    font-family: 'pfbeausanspro-bold';
    font-size: 18px;
    text-transform: none;
    padding: 0; }

.block_header {
  padding: 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  margin: 0 0 20px; }
  .block_header:before, .block_header:after {
    content: " ";
    display: table; }
  .block_header:after {
    clear: both; }
  .block_header .manufacturer {
    display: inline-block; }
    .block_header .manufacturer a {
      color: #01a1e4; }
    .block_header .manufacturer img {
      margin-top: -15px;
      padding-left: 15px; }
  .block_header .question {
    display: inline-block;
    text-align: right;
    float: right; }
    .block_header .question a {
      color: #2e8f5d;
      padding-left: 5px; }
  .block_header .article {
    display: inline-block;
    text-align: left; }
  .block_header .rating ul {
    padding: 0 5px;
    margin: 0;
    display: inline-block; }
    .block_header .rating ul li {
      padding: 0;
      margin: 0; }

.item_content .img_big {
  display: block; }
  .item_content .img_big img {
    height: 600px;
    width: 100%; }
.item_content .img_desk img {
  width: 100%;
  height: 150px; }

.subject {
  display: inline-block; }
  .subject li {
    font-family: "Open Sans", sans-serif;
    font-size: 18px; }

.variants {
  font-size: 18px;
  font-family: "PF Beausans Pro", sans-serif;
  padding: 40px 0 20px;
  display: inline-block; }

.old_prise {
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 20px;
  padding-top: 60px;
  margin: 0;
  line-height: 1; }
  .old_prise span {
    text-decoration: line-through; }

.total_cost {
  font-size: 40px;
  padding-bottom: 15px;
  margin: 0; }
  .total_cost span {
    color: #AE0F14; }

.quantity {
  display: block;
  padding: 0;
  margin: 0;
  width: 170px; }
  .quantity .btn-default {
    width: 55px;
    height: 30px;
    font-size: 22px;
    color: #1B1C1C;
    border: 1px solid #1B1C1C;
    line-height: 17px; }
  .quantity input {
    text-align: center;
    font-size: 25px;
    height: 30px;
    color: #1B1C1C;
    border: 1px solid #1B1C1C; }

.buy_block .buy_button {
  margin-top: 35px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: #99144e;
  padding: 5px 35px;
  border: none;
  transition: ease-in-out .1s;
  border-radius: 6px;
  line-height: 30px; }
  .buy_block .buy_button:hover {
    background-color: #c61a65; }
.buy_block img {
  margin-bottom: 20px; }
.buy_block a {
  font-family: "PF Beausans Pro", sans-serif;
  color: #000;
  font-size: 21px; }

.right_side_bar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 25px; }
  .right_side_bar img {
    margin-bottom: 15px; }
  .right_side_bar .name_sidebar {
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    color: #197849;
    padding: 0; }
  .right_side_bar .name_list {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    padding: 25px 0px 10px 0;
    display: inline-block; }
  .right_side_bar ul li {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 17px;
    text-align: left; }
    .right_side_bar ul li span {
      font-family: 'pfbeausanspro-bold';
      font-size: 16px;
      text-transform: none;
      padding: 0; }

.tabs_section {
  margin-top: 50px;
  display: inline-block; }
  .tabs_section .nav-tabs li a {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 27px;
    color: #000;
    padding: 5px 25px;
    margin-right: 0;
    border-bottom: none; }
    .tabs_section .nav-tabs li a:hover {
      color: #99144e;
      background-color: #f3f3f3;
      border-radius: 7px;
      border: none; }
  .tabs_section .nav-tabs li.active a, .tabs_section .nav-tabs .categories_reshenia li.cat_wrapper:hover a, .categories_reshenia .tabs_section .nav-tabs li.cat_wrapper:hover a {
    color: #99144e;
    background-color: #f3f3f3;
    border-bottom: 1px solid #c9c9c9; }
  .tabs_section .tab-content {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 20px;
    color: #000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 25px; }
    .tabs_section .tab-content .mo_decr {
      color: #99144e;
      font-weight: 600; }
      .tabs_section .tab-content .mo_decr img {
        margin-bottom: 5px; }
    .tabs_section .tab-content .dowloand span {
      font-family: "PF Beausans Pro", sans-serif;
      font-size: 24px;
      color: #187848;
      display: inline-block;
      padding-bottom: 40px; }
    .tabs_section .tab-content .dowloand img {
      float: left;
      padding: 10px;
      margin-bottom: 20px; }
    .tabs_section .tab-content .dowloand a {
      color: #000; }

.name_slider {
  text-transform: uppercase;
  font-size: 25px;
  color: #187848;
  padding: 30px 0;
  display: block; }

.big_img {
  display: block;
  background-image: url(../img/big_img.png);
  background-repeat: no-repeat;
  height: 1200px;
  background-size: cover;
  margin: 50px 0; }

.product_page .one_product {
  display: block;
  padding: 20px 10px 0 10px; }

.product_page .one_product .title {
  font-size: 20px; }

.product_page .one_product img {
  width: 100%; }

.compare_list {
  display: block;
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #e3e4e4;
  height: 333px;
  margin-bottom: 108px; }
  .compare_list ul {
    border-bottom: 2px solid #cccdcd; }
    .compare_list ul li {
      display: inline-block;
      font-family: "PF Beausans Pro", sans-serif;
      font-size: 25px;
      padding: 12px 0; }
  .compare_list a {
    display: block;
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 25px;
    color: #99144e;
    padding: 40px 0; }
    .compare_list a::before {
      content: "x";
      margin-right: 20px; }

.compare_item_list ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  background-color: #e3e4e4;
  border-radius: 5px;
  margin-right: 30px;
  padding: 3px 10px;
  transition: ease-in 0.1s; }
  .compare_item_list ul li span {
    color: #6f7373; }
  .compare_item_list ul li.active, .compare_item_list ul .categories_reshenia li.cat_wrapper:hover, .categories_reshenia .compare_item_list ul li.cat_wrapper:hover {
    background-color: #2b7f9e;
    color: #fff; }
    .compare_item_list ul li.active span, .compare_item_list ul .categories_reshenia li.cat_wrapper:hover span, .categories_reshenia .compare_item_list ul li.cat_wrapper:hover span {
      color: #fff; }

.compare_item {
  margin: 40px 0;
  display: block;
  padding: 5px;
  transition: all ease-in-out .1s; }
  .compare_item:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  .compare_item img {
    width: 100%; }
  .compare_item .top_section {
    display: block;
    padding-bottom: 55px;
    border-bottom: 4px solid #898989; }
    .compare_item .top_section .compare_item_name {
      display: inline-block;
      font-family: "PF Beausans Pro", sans-serif;
      font-size: 20px; }
    .compare_item .top_section .compare_item_price {
      font-family: "Open Sans", sans-serif;
      font-size: 21px;
      color: #99144e;
      line-height: 1; }
    .compare_item .top_section .compare_item_price_button {
      border: none;
      border-radius: 3px;
      color: #fff;
      background: #99144e;
      font-family: 'pfbeausanspro-bold', sans-serif;
      text-transform: uppercase;
      float: right;
      font-size: 27px;
      padding: 2px 22px;
      margin-top: -20px; }
      .compare_item .top_section .compare_item_price_button:hover {
        background-color: #c61a65; }
  .compare_item .compare_data, .compare_item .compare_consist {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 22px;
    display: inline-block;
    border-bottom: 4px solid #898989;
    width: 100%;
    line-height: 1.2;
    padding: 25px 0; }
  .compare_item .compare_consist li {
    margin-top: 25px; }
  .compare_item .compare_item_price_button_2 {
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #99144e;
    font-family: 'pfbeausanspro-bold', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    padding: 2px 22px; }
    .compare_item .compare_item_price_button_2:hover {
      background-color: #c61a65; }

.title_compare_item li {
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 22px;
  display: inline-block;
  border-bottom: 4px solid #898989;
  width: 100%;
  line-height: 1.2; }
  .title_compare_item li:first-child {
    padding: 25px 25px;
    border-top: 4px solid #898989; }
  .title_compare_item li:nth-child(2) {
    padding: 25px 0 103px 25px; }
  .title_compare_item li:last-child {
    padding: 25px 0 161px 25px; }

.input_search {
  padding-bottom: 40px; }
  .input_search input {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 20px;
    height: 35px;
    width: 280px;
    padding: 0 25px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.95);
    color: #bcbebe; }
  .input_search img {
    padding: 15px;
    display: inline-block; }

.search_panel {
  display: inline-block;
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 22px;
  width: 100%; }
  .search_panel .sort {
    text-align: right;
    display: block; }
  .search_panel input[type="checkbox"] {
    line-height: 18; }

.ware_cards {
  margin-top: 20px;
  display: block;
  transition: all ease-in-out .1s;
  padding-bottom: 20px; }
  .ware_cards:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  .ware_cards img {
    width: 100%; }
  .ware_cards .ware_cards_item_name {
    display: inline-block;
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 18px;
    margin-left: 17px; }
  .ware_cards .ware_cards_item_price {
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    color: #99144e;
    line-height: 1;
    margin-left: 17px; }
  .ware_cards .ware_cards_item_price_button {
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #99144e;
    font-family: 'pfbeausanspro-bold', sans-serif;
    text-transform: uppercase;
    float: right;
    font-size: 27px;
    padding: 2px 22px;
    margin-top: -20px; }
    .ware_cards .ware_cards_item_price_button:hover {
      background-color: #c61a65; }

.pagination_block .pagination {
  margin: 30px 0 20px;
  position: relative; }
  .pagination_block .pagination li {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 21px;
    border: none; }
    .pagination_block .pagination li a {
      color: #000;
      border: none; }

.producer_wrapper {
  padding: 40px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin: 0; }
  .producer_wrapper ul li {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 21px;
    text-align: center;
    line-height: 1.8; }
    .producer_wrapper ul li a {
      color: #000; }

.descr_page {
  text-align: justify;
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 18px;
  margin: 20px 0;
  display: inline-block; }

.tag li {
  margin-right: 3px;
  margin-bottom: 20px; }
  .tag li a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #99144e;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 5px; }

.filter_left_sidebar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px;
  background-color: #ebecec; }
  .filter_left_sidebar .filter_name {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 18.75px; }
    .filter_left_sidebar .filter_name label {
      box-shadow: none;
      border: none; }
  .filter_left_sidebar button {
    text-align: center;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 0;
    position: relative;
    margin-bottom: 4px;
    margin-left: 9px;
    border-color: #000;
    background-color: transparent; }
    .filter_left_sidebar button:before {
      content: "?";
      font-family: "PF Beausans Pro", sans-serif;
      font-size: 10.56px;
      position: absolute;
      top: 0;
      left: 3.5px;
      font-weight: 600; }
  .filter_left_sidebar .checkbox {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 16.875px;
    display: block; }
  .filter_left_sidebar .scroll_slider {
    text-align: justify;
    text-align-last: justify; }
    .filter_left_sidebar .scroll_slider .filter_name {
      text-align: left;
      width: 100%;
      display: block; }
    .filter_left_sidebar .scroll_slider input {
      width: 100px;
      font-family: "PF Beausans Pro", sans-serif;
      font-size: 22px;
      text-align: left; }
  .filter_left_sidebar a {
    font-family: "PF Beausans Pro", sans-serif;
    font-size: 18px;
    color: #a2a5a5;
    text-align: center;
    display: block; }
    .filter_left_sidebar a:before {
      content: "x";
      margin-right: 10px;
      text-decoration: none; }
  .filter_left_sidebar hr {
    color: #e3e4e4; }
  .filter_left_sidebar .line {
    background-color: #d9dada;
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0; }

.ui-widget.ui-widget-content {
  border: none;
  background-color: #99144e;
  height: 1px;
  margin: 20px 0; }

.ui-slider-horizontal .ui-slider-range {
  background-color: #99144e; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 4.5px solid #99144e !important;
  background: green !important;
  font-weight: normal;
  color: #454545 !important;
  border-radius: 13px;
  outline: none; }

.ui-slider .ui-slider-handle {
  cursor: pointer !important; }

.ui-slider-horizontal .ui-slider-handle {
  top: -.55em;
  margin-left: -.55em; }

.categories_reshenia {
  display: table; }
  .categories_reshenia .cat_wrapper {
    color: #000;
    font-family: "PF Beausans Pro", sans-serif;
    transition: ease-in-out .3s;
    border: 1px solid #e3e4e4;
    width: 212.48px;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px; }
    .categories_reshenia .cat_wrapper .name_category {
      font-size: 35px;
      padding-bottom: 15px;
      display: inline-block; }
      .categories_reshenia .cat_wrapper .name_category a {
        color: #000; }
    .categories_reshenia .cat_wrapper .decr {
      font-size: 17px;
      padding-top: 42px;
      display: inline-block; }
    .categories_reshenia .cat_wrapper.active, .categories_reshenia .cat_wrapper:hover {
      background-color: #99144e;
      color: #fff; }
      .categories_reshenia .cat_wrapper.active .name_category a, .categories_reshenia .cat_wrapper:hover .name_category a {
        color: #fff; }

.ordering {
  font-family: 'pfbeausanspro-reg', sans-serif; }
  .ordering img {
    width: 100%; }
  .ordering label {
    display: block;
    font-size: 18px; }
  .ordering input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #747473;
    padding: 0 5px;
    height: 28px; }
  .ordering .info_user {
    font-size: 30px;
    margin-top: 10px; }
  .ordering .subscribe_input {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 15px;
    margin-top: 25px; }
  .ordering .subscribe_label {
    display: inline-block; }
  .ordering .additional_services {
    margin-top: 20px; }
    .ordering .additional_services .subscribe_input {
      margin-top: 7px; }
  .ordering .payment input {
    height: auto;
    width: auto;
    vertical-align: top; }
  .ordering .payment label {
    display: inline-block;
    vertical-align: top; }
  .ordering .payment #rad2 {
    margin-left: 30px; }
  .ordering .back_to_cart {
    color: #99144e;
    font-size: 19px; }
  .ordering .buttons_ordering {
    margin-top: 50px;
    margin-bottom: 40px; }
  .ordering .great_total_prise {
    margin-top: 15px;
    font-size: 32px;
    text-align: center; }
    .ordering .great_total_prise span {
      font-weight: 600;
      text-align: center; }
  .ordering .total_ticket {
    font-family: 'pfbeausanspro-reg', sans-serif;
    font-size: 16px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    display: block; }
    .ordering .total_ticket .total_prise_ticket {
      padding: 20px;
      display: inline-block;
      border-top: 1px solid #e3e4e4;
      width: 100%; }
    .ordering .total_ticket .prise {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 5px; }
    .ordering .total_ticket .title_ticket {
      display: inline-block;
      padding: 30px 0px 0px 20px; }
    .ordering .total_ticket .booking {
      padding: 20px; }
      .ordering .total_ticket .booking ul {
        margin-bottom: 20px; }
        .ordering .total_ticket .booking ul li:first-child {
          font-size: 20px;
          font-weight: 600;
          font-family: "Open Sans", sans-serif; }

.minus {
  line-height: 21px;
  font-size: 80px;
  padding-bottom: 18px; }

.container.korzina {
  padding: 0 15px; }

header .block_search {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right; }

header .block_search .select {
  background: #98144E;
  position: absolute;
  right: 70px;
  top: -28px;
  width: 215px;
  padding: 14px 14px 15px 15px;
  display: none; }

header .block_search:hover .select {
  display: block; }

header {
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 17px;
  color: #2b2a29; }
  header a {
    color: #2b2a29; }
  header .logo {
    margin-top: 3px;
    margin-left: 7px; }
  header .top_menu {
    background: #fafafa;
    border: 1px solid #c6c7c7;
    min-height: 48px; }
    header .top_menu a:hover,
    header .top_menu a:focus,
    header .top_menu a:active {
      text-decoration: none; }
    header .top_menu nav ul {
      margin: 0;
      padding: 0; }
      header .top_menu nav ul li {
        padding: 0 17px;
        line-height: 48px; }
      header .top_menu nav ul.pull-left {
        padding-left: 7px; }
      header .top_menu nav ul.pull-right {
        padding-right: 10px; }
    header .top_menu .login {
      float: right; }
      header .top_menu .login img {
        margin-right: 5px;
        margin-top: -4px; }
  header .nav-block {
    float: left;
    width: 80%;
    margin-left: 15px; }
    header .nav-block nav {
      padding: 10px 0; }
    header .nav-block_menu {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0 19px;
      margin-bottom: 40px;
      margin-top: -6px;
      margin-left: 3px; }
      header .nav-block_menu .menu_1 {
        margin-bottom: 0;
        text-align: justify;
        -moz-text-align-last: justify;
        text-align-last: justify; }
        header .nav-block_menu .menu_1 li {
          display: inline-block;
          white-space: nowrap; }
          header .nav-block_menu .menu_1 li a {
            font-weight: bold;
            font-size: 17px;
            text-transform: lowercase; }
      header .nav-block_menu .menu_2 {
        text-align: justify;
        -moz-text-align-last: justify;
        text-align-last: justify;
        margin-top: 4px;
        margin-bottom: 0; }
        header .nav-block_menu .menu_2 > li {
          position: relative;
          display: inline-block;
          white-space: nowrap; }
          header .nav-block_menu .menu_2 > li a {
            color: #115E38;
            font-size: 27px;
            font-weight: bold;
            line-height: 25px;
            text-transform: uppercase; }
          header .nav-block_menu .menu_2 > li a:hover {
            text-decoration: none; }
        header .nav-block_menu .menu_2 li:hover .down_menu_list {
          display: block; }
        header .nav-block_menu .menu_2 li.dot {
          content: " ";
          width: 7px;
          height: 6px;
          display: inline-block;
          background: #99144E;
          vertical-align: middle;
          padding: 0;
          position: relative;
          top: -5px; }
          header .nav-block_menu .menu_2 li.dot:last-child {
            display: none; }
        header .nav-block_menu .menu_2 li:last-child:after {
          display: none; }
        header .nav-block_menu .menu_2 .down_menu_list {
          position: absolute;
          top: 35px;
          left: -20px;
          background: #fff;
          border: 1px solid #ccc;
          border-top: none;
          padding: 15px 15px;
          display: none;
          z-index: 9; }
          header .nav-block_menu .menu_2 .down_menu_list li a {
            color: #2b2a29;
            white-space: nowrap;
            font-family: 'PF Beausans Pro', sans-serif;
            font-size: 22px;
            font-weight: 500; }
          header .nav-block_menu .menu_2 .down_menu_list li:after {
            display: none; }
  header .delivery {
    font-size: 21px;
    margin-top: 38px;
    color: #3A3A39;
    padding-left: 4px;
    padding-top: 1px; }
  header .work_time {
    margin-top: 12px;
    margin-left: -4px; }
    header .work_time_hours {
      padding-left: 18px; }
    header .work_time .phone_number {
      font-size: 30px;
      line-height: 27px;
      padding-top: 4px;
      padding-bottom: 3px; }
  header .guarantee {
    font-family: "PF Beausans Pro", sans-serif;
    font-weight: bold;
    color: #107342;
    font-size: 22px;
    margin-top: 7px;
    margin-left: -8px; }
  header .guard {
    padding: 13px 0 0 15px; }
  header .cart_block {
    margin-top: 10px;
    text-align: right; }
    header .cart_block li {
      text-align: center;
      margin: 9px 28px 0;
      vertical-align: top; }
      header .cart_block li:first-child {
        margin: 9px 2px 0 0; }
      header .cart_block li:last-child {
        margin: 9px 11px 0 0; }
      header .cart_block li a:hover {
        text-decoration: none; }
      header .cart_block li a p {
        margin: -4px 0 0;
        font-size: 17px; }
      header .cart_block li img {
        width: 100%;
        max-width: 65px; }
    header .cart_block .cart__price {
      font-size: 15px;
      color: #727271; }
  header .search {
    float: right;
    padding: 0;
    border: none;
    vertical-align: top;
    margin-top: -30px;
    background: transparent; }
  header .filter {
    width: 272px;
    padding-right: 0;
    float: right; }
    header .filter_search1 {
      display: inline-block;
      margin-left: 20px; }
      header .filter_search1 a {
        background: transparent;
        -webkit-appearance: none;
        font-weight: bold;
        color: #98144E; }
    header .filter_search2 {
      display: inline-block;
      margin-top: 8px; }
      header .filter_search2 a {
        background: transparent;
        -webkit-appearance: none;
        font-weight: bold;
        color: #98144E; }

@media (max-width: 1556px) {
  header .nav-block_menu .menu_2 > li a {
    font-size: 25px; } }
@media (max-width: 1500px) {
  header .block_search {
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: right; }
    header .block_search:hover .select {
      display: block; }
    header .block_search .select {
      background: #98144E;
      position: absolute;
      right: 48px;
      top: -27px;
      width: 140px;
      padding: 5px;
      display: none; }
      header .block_search .select select {
        height: 26px;
        padding: 0 12px; }
  header .cart_block li {
    width: 30%;
    margin: 0 2px;
    font-size: 15px; }
  header .guarantee {
    font-size: 17px;
    text-align: center; }
  header .delivery {
    font-size: 17px;
    margin-top: 43px;
    text-align: center; }
  header .block_menu .menu_2 li a {
    font-size: 20px; }
  header .block_menu .menu_2 .down_menu_list li a {
    font-size: 18px; }
  header .work_time .phone_number {
    font-size: 25px; }
  header .search {
    margin-top: -28px; }
    header .search img {
      width: 55px; }
  header .filter_search1 a,
  header .filter_search2 a {
    font-size: 12px;
    margin-left: 13px; }
  header .filter_search2 {
    margin-top: 0; }
  header .filter_search1 {
    margin-left: 13px; }
  header .nav-block {
    margin-left: 0;
    width: 83%; }
  header .filter {
    width: 230px; } }
@media (max-width: 1368px) {
  header .nav-block {
    width: 80%; }
    header .nav-block_menu .menu_2 > li a {
      font-size: 20px; } }
@media (max-width: 1336px) {
  header .nav-block {
    width: 80%; }
    header .nav-block_menu .menu_2 > li a {
      font-size: 18px; }
    header .nav-block_menu .menu_1 > li a {
      font-size: 12px; } }
@media (max-width: 1200px) {
  header .block_search .select select {
    height: 42px;
    padding: 0 12px;
    font-size: 16px; }
  header .block_menu .menu_2 > li {
    width: auto !important; }
  header .filter_search1 {
    margin-left: 10px; }
  header .filter {
    width: 190px; }
  header .nav-block {
    width: 83%; }
  header .navbar-toggle.phone_menu {
    background: #ccc;
    border: 1px solid #807777;
    float: right;
    margin-top: 0; }
    header .navbar-toggle.phone_menu .icon-bar {
      background: #807777; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header .nav-block_menu .menu_1 {
    margin-top: 0; }
    header .nav-block_menu .menu_1 > li a {
      font-size: 13px; }
  header .nav-block_menu .menu_2 > li a {
    font-size: 18px; }
  header .block_search .select {
    right: 40px;
    top: -17px; }
    header .block_search .select select {
      height: 32px; }
  header .filter {
    width: 170px; }
  header .search img {
    width: 45px;
    margin-top: 10px; }
  header .top_menu ul {
    display: block; }
  header .top_menu .login img {
    margin-right: 0; }
  header .top_menu .navbar-toggle.phone_menu {
    display: none; }
  header nav ul li {
    width: auto; }
    header nav ul li:last-child {
      margin-top: -5px; }
    header nav ul li a {
      font-size: 14px; }
    header nav ul li .login span {
      display: inline-block;
      margin-bottom: 6px; }
  header .center_img {
    height: 72px; }
  header .container .row .work_time p {
    line-height: 20px; }
    header .container .row .work_time p a {
      font-size: 14px; }
  header .container .row .work_time .phone_number {
    font-size: 17px; }
  header .container .row .delivery {
    font-size: 16px;
    text-align: center;
    margin-top: 14px; }
  header .container .row .guarantee {
    text-align: center;
    font-size: 13px; }
  header .container .row .block_menu .menu_1 li a {
    font-size: 13px; }
  header .container .row .block_menu .menu_2 li a {
    font-size: 15px; }
  header .cart_block {
    margin-top: 7px;
    float: right;
    display: flex; }
    header .cart_block p {
      font-size: 12px; }
  header form .filter_search1 a,
  header form .filter_search2 a {
    font-size: 8px; } }
@media (max-width: 1050px) {
  header .nav-block_menu .menu_1 > li a {
    font-size: 12px; }
  header .nav-block_menu .menu_2 > li a {
    font-size: 16px; } }
@media (max-width: 999px) {
  header .filter {
    width: 160px; }
  header .search img {
    width: 40px; }
  header .block_search .select {
    top: -17px;
    right: 37px; }
    header .block_search .select select {
      height: 27px; } }
@media (min-width: 769px) and (max-width: 991px) {
  header nav ul li a {
    font-size: 14px; }
  header nav ul li .login span {
    display: inline-block;
    margin-bottom: 6px; }
  header .center_img {
    height: 72px; }
  header .container .top_menu ul {
    display: block; }
  header .container .top_menu nav li {
    width: auto; }
    header .container .top_menu nav li:last-child {
      float: right;
      margin-top: -5px; }
  header .container .top_menu .login img {
    margin-right: 0; }
  header .container .top_menu .navbar-toggle .phone_menu {
    display: block; }
  header .container .row .col-md-8 {
    width: 66.66%;
    float: left; }
  header .container .row .col-md-6 {
    width: 50%;
    float: left; }
  header .container .row .col-md-4 {
    width: 33.33%;
    float: left; }
  header .container .row .work_time p {
    line-height: 20px; }
    header .container .row .work_time p a {
      font-size: 14px; }
  header .container .row .work_time .phone_number {
    font-size: 17px; }
  header .container .row .delivery {
    font-size: 16px;
    text-align: center;
    margin-top: 14px; }
  header .container .row .guarantee {
    text-align: center;
    font-size: 13px; }
  header .container .row .logo img {
    width: 130px; }
  header .cart_block {
    margin-top: 7px;
    float: right;
    display: flex; }
    header .cart_block p {
      font-size: 12px; }
  header form .filter_search1 a,
  header form .filter_search2 a {
    font-size: 8px; }
  header .nav-block_menu .menu_1 {
    display: none;
    width: 45%;
    float: right;
    text-align: right;
    margin-top: -10px; }
    header .nav-block_menu .menu_1 li {
      display: block;
      padding-bottom: 5px; }
      header .nav-block_menu .menu_1 li a {
        font-size: 13px; }
  header .nav-block_menu .menu_2 {
    display: none;
    margin: 10px 0;
    width: 45%; }
    header .nav-block_menu .menu_2 li.dot {
      display: none !important; }
    header .nav-block_menu .menu_2 li {
      display: block;
      padding-bottom: 5px; }
      header .nav-block_menu .menu_2 li a {
        font-size: 15px; }
  header .nav-block_menu .mobile_block {
    display: block;
    padding: 5px 0; }
    header .nav-block_menu .mobile_block span {
      font-size: 20px;
      display: block; }
    header .nav-block_menu .mobile_block .navbar-toggle.phone_menu_2 {
      margin-top: -30px;
      right: -35px; }
      header .nav-block_menu .mobile_block .navbar-toggle.phone_menu_2 span {
        color: #000; }
    header .nav-block_menu .mobile_block .navbar-toggle .icon-bar {
      background-color: grey; }
  header .search {
    margin-top: 0px; }
  header .filter {
    width: auto; }
  header .tree-in-one {
    float: right; }
  header .block_search .select {
    top: 1px;
    right: 36px; } }
@media only screen and (max-width: 768px) {
  header .block_menu {
    width: 89%;
    margin-bottom: 15px; }
    header .block_menu .menu_2 > li {
      width: 100%; }
  header .search {
    margin-top: -80px; }
  header .work_time {
    float: right; }
  header .navbar-toggle.phone_menu {
    display: block;
    background: #ccc;
    border: 1px solid #807777;
    float: right;
    margin-top: 0; }
  header .top_menu ul {
    display: none; }
  header .top_menu nav li {
    width: 100%; }
  header .top_menu .login {
    float: none; }
  header .work_time {
    margin-top: 0; }
    header .work_time .phone_number {
      font-size: 20px; }
  header .nav-block_menu .menu_1 {
    display: none;
    width: 45%;
    float: right;
    text-align: right;
    margin-top: -10px; }
    header .nav-block_menu .menu_1 li {
      display: block;
      padding-bottom: 5px; }
      header .nav-block_menu .menu_1 li a {
        font-size: 13px; }
  header .nav-block_menu .menu_2 {
    display: none;
    margin: 10px 0;
    width: 45%; }
    header .nav-block_menu .menu_2 li.dot {
      display: none !important; }
    header .nav-block_menu .menu_2 li {
      display: block;
      padding-bottom: 5px; }
      header .nav-block_menu .menu_2 li a {
        font-size: 15px; }
  header .nav-block_menu .mobile_block {
    display: block;
    padding: 5px 0; }
    header .nav-block_menu .mobile_block span {
      font-size: 20px;
      display: block; }
    header .nav-block_menu .mobile_block .navbar-toggle.phone_menu_2 {
      margin-top: -30px; }
      header .nav-block_menu .mobile_block .navbar-toggle.phone_menu_2 span {
        color: #000; }
    header .nav-block_menu .mobile_block .navbar-toggle .icon-bar {
      background-color: grey; }
  header .search {
    margin-top: 0px; }
  header .filter {
    width: auto; }
  header .tree-in-one {
    float: right;
    width: 210px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }
    header .tree-in-one ul li {
      width: 50px;
      margin: 0 4px;
      font-size: 11px;
      text-align: center; }
  header .img-responsive.logo {
    width: 100px; }

  .top_menu .navbar-toggle .phone_menu {
    display: block; }

  .navbar-toggle .icon-bar {
    background-color: grey; }

  .mobile_padding {
    padding: 0; }

  .phone_menu_2 {
    margin-right: -22px; }

  .display_none {
    display: none; }

  .top_menu .tooltip_button {
    font-size: 20px;
    margin-left: 5px; }

  .mobile_block {
    display: block;
    padding: 5px 0; }
    .mobile_block span {
      font-size: 20px;
      display: block; }

  .navbar-toggle {
    margin-top: -32px; }
    .navbar-toggle .icon-bar {
      background-color: grey; } }
@media (max-width: 520px) {
  header .cart_block {
    margin-top: 10px; }
  header .tree-in-one {
    float: right;
    width: 210px;
    position: absolute;
    right: 0; }

  .time-number-call-you {
    display: none; } }
@media (max-width: 460px) {
  header .nav-block_menu .menu_2 {
    margin-bottom: 10%; } }
@media (max-width: 425px) {
  header .tree-in-one {
    float: right;
    width: 210px;
    position: absolute;
    right: -130px; }
  header .logo-img {
    width: 100px; }
  header .cart_block {
    margin-top: 0; }
  header .nav-block_menu .menu_2 {
    margin-bottom: 20%; } }
@media (max-width: 375px) {
  header .nav-block_menu .menu_2 {
    margin-bottom: 30%; } }
.bread_crums a {
  display: inline-block;
  font-family: "PF Beausans Pro", sans-serif;
  font-size: 18px;
  color: #000;
  padding-top: 35px; }
.bread_crums .breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #ccc; }
.bread_crums .breadcrumb {
  padding: 8px 0;
  background-color: transparent;
  margin-bottom: 0 !important; }

.content .category {
  display: inline-block;
  vertical-align: top; }
  .content .category li {
    border: 2px solid #ccc;
    padding: 20px 0 20px 15px;
    margin-bottom: -2px; }
    .content .category li.menu_home_filters_tables a:before {
      background-image: url("/uploads/icon/tables.png"); }
    .content .category li.menu_home_filters_sofa a:before {
      background-image: url("/uploads/icon/sofas.png"); }
    .content .category li.menu_home_filters_bed a:before {
      background-image: url("/uploads/icon/bedWithBackrest.png"); }
    .content .category li.menu_home_filters_wardrobe a:before {
      background-image: url("/uploads/icon/cupboard.png"); }
    .content .category li.menu_home_filters_cupbordCoupe a:before {
      background-image: url("/uploads/icon/cupboardCoupe.png"); }
    .content .category li a {
      color: #2b2a29;
      font-family: 'pfbeausanspro-reg', sans-serif;
      font-size: 20px;
      padding-left: 100px;
      position: relative; }
      .content .category li a:before {
        content: '';
        position: absolute;
        height: 50px;
        width: 60px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        left: 0;
        top: -20px; }
      .content .category li a img {
        margin-right: 5%; }
.content .colors img {
  display: inline-block;
  width: 98%;
  margin: 5px; }
.content .head_banner {
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
  height: 500px; }
  .content .head_banner img {
    width: 100%; }
.content .head_block {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  padding-top: 10px; }
  .content .head_block .title {
    font-family: "PF Beausans Pro", sans-serif;
    font-weight: 900;
    color: #98144E;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 13px;
    padding-bottom: 1px; }
  .content .head_block .img_block {
    float: left; }
  .content .head_block .text_block {
    vertical-align: top;
    font-size: 18px;
    line-height: 26px; }
  .content .head_block_delivery {
    margin-bottom: 35px; }
    .content .head_block_delivery .img_block {
      width: 130px; }
    .content .head_block_delivery .text_block {
      padding-left: 155px; }
  .content .head_block_cash {
    margin-bottom: 20px; }
    .content .head_block_cash .img_block {
      padding-left: 10px;
      width: 80px; }
    .content .head_block_cash .text_block {
      padding-left: 95px;
      padding-top: 15px; }
  .content .head_block_varanty {
    margin-bottom: 30px; }
    .content .head_block_varanty .img_block {
      margin-top: -20px;
      padding-left: 10px; }
    .content .head_block_varanty .text_block {
      padding-left: 120px;
      line-height: 21px; }
.content .discount {
  width: 50%;
  background: #2e8f5d;
  border-radius: 4px;
  padding: 7px 10px;
  margin-top: 11px;
  margin-bottom: 20px; }
  .content .discount label {
    color: #fff;
    font-size: 20px; }
  .content .discount input[type="email"] {
    text-align: center;
    width: 250px;
    height: 25px;
    font-family: "Open Sans", sans-serif;
    margin-left: 15px; }
  .content .discount input[type="submit"] {
    text-align: center;
    width: 135px;
    border-radius: 4px;
    border: none;
    color: #fff;
    background: #99144e;
    margin-left: 15px;
    font-family: 'PF Beausans Pro', sans-serif;
    font-weight: bold;
    height: 30px;
    font-size: 16px; }
.content .actions {
  margin-top: 35px; }
  .content .actions img {
    width: 100%; }
  .content .actions h3 {
    color: #2e8f5d;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    font-family: 'PF Beausans Pro', sans-serif;
    font-weight: bold;
    line-height: 22px; }
  .content .actions .border {
    border-top: 3px solid #2e8f5d; }
  .content .actions .one_product {
    padding: 20px 10px 0 10px; }
    .content .actions .one_product .title {
      font-size: 18px;
      margin-top: 24px;
      display: inline-block; }
    .content .actions .one_product .price {
      color: #99144e;
      font-size: 19px; }
.content .willing_offer {
  margin-top: 65px; }
  .content .willing_offer .one_product {
    padding: 15px 40px; }
  .content .willing_offer h3 {
    color: #99144e;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 25px; }
  .content .willing_offer .title {
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 24px;
    margin-top: 27px; }
  .content .willing_offer img {
    width: 100%; }
  .content .willing_offer .view {
    color: #fff;
    font-size: 32px;
    width: 100%;
    background: #99144e;
    margin-top: 22px;
    border-radius: 0; }

.categories {
  text-align: center; }
  .categories .categories_box {
    text-align: center;
    display: inline-block;
    height: 180px;
    width: 14%;
    font-family: "PF Beausans Pro", sans-serif;
    color: #fff;
    position: relative;
    margin-right: -2px;
    margin-left: -2px; }
    .categories .categories_box .decr {
      font-family: "PF Beausans Pro", sans-serif;
      font-size: 16px;
      display: block;
      position: absolute;
      top: 110px;
      left: 36px; }
    .categories .categories_box .name_category {
      margin-top: 25px;
      font-family: "PF Beausans Pro", sans-serif;
      font-size: 35px;
      display: block; }
      .categories .categories_box .name_category a {
        color: #fff; }
    .categories .categories_box img {
      margin-top: 70px; }

footer .footer-cntnr {
  background-color: #d9dada; }
footer .copy span {
  color: #fff;
  font-size: 18px;
  text-align: center; }
footer ul {
  font-family: 'pfbeausanspro-bold', sans-serif;
  font-size: 18px;
  color: #727271;
  vertical-align: top;
  padding: 40px 2px 21px;
  text-transform: uppercase; }
  footer ul li {
    padding: 0; }
    footer ul li a {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #000;
      margin: 13px 0;
      text-transform: none; }
footer .f_title li {
  padding: 0 !important; }
footer .f_container {
  background-image: url(../img/ftr-bg.png), url(../img/ftr-bg2.png);
  background-repeat: no-repeat;
  background-color: #99144E;
  background-position: center center, center bottom; }
footer .both_footer {
  margin: 0; }
  footer .both_footer .logo {
    padding: 30px 0 0 55px; }
  footer .both_footer .slogan {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    padding-top: 33px;
    padding-right: 100px; }
  footer .both_footer .f_list {
    background-color: transparent;
    padding-top: 30px; }
    footer .both_footer .f_list li {
      color: #fff;
      font-family: 'pfbeausanspro-reg', sans-serif;
      font-size: 26px;
      padding: 0 12px;
      text-transform: none;
      vertical-align: top; }
      footer .both_footer .f_list li .f_list_in {
        background-color: transparent;
        padding-top: 20px; }
        footer .both_footer .f_list li .f_list_in li {
          padding: 0;
          background-color: transparent;
          font-size: 13px;
          font-family: "Open Sans", sans-serif; }
          footer .both_footer .f_list li .f_list_in li a {
            color: #fff;
            font-size: 13px; }
  footer .both_footer .soc_list {
    display: inline-block;
    float: right;
    padding-right: 10px;
    margin-top: 56px; }
    footer .both_footer .soc_list p {
      font-size: 21px;
      color: #fff;
      font-family: "PF Beausans Pro", sans-serif;
      text-align: center; }
    footer .both_footer .soc_list ul {
      background-color: transparent;
      min-width: 300px;
      float: right;
      margin-right: 42px; }
      footer .both_footer .soc_list ul li {
        padding: 2px 0 30px; }
footer .list-inline {
  margin: 0; }

@media (max-width: 1500px) {
  footer .both_footer .soc_list ul {
    min-width: 0;
    margin-right: 20px; }
  footer .f_list .f_list_in {
    text-align: left; }
    footer .f_list .f_list_in li {
      font-size: 11px; }
  footer .copy span {
    background-color: transparent !important;
    margin-top: 32px;
    font-size: 16px; }
  footer .slogan {
    font-size: 16px;
    padding-right: 20px; }
  footer .soc_list {
    margin-top: -15px;
    padding-right: 0; }
    footer .soc_list p {
      font-size: 18px; }
    footer .soc_list ul li {
      padding-bottom: 10px; }
      footer .soc_list ul li a img {
        width: 31px;
        border-radius: 6px; }
      footer .soc_list ul li ul li a {
        font-size: 11px; }
  footer .both_footer .logo img {
    width: 150px; }
  footer .both_footer .slogan {
    font-size: 18px;
    padding-right: 20px; }
  footer .both_footer .f_list li {
    font-size: 20px; }
    footer .both_footer .f_list li .f_list_in li,
    footer .both_footer .f_list li .f_list_in a {
      font-size: 13px; }
    footer .both_footer .f_list li .soc_list,
    footer .both_footer .f_list li p {
      margin-top: 15px; }
  footer ul.list-inline li {
    font-size: 18px;
    padding: 30px 2px 16px 20px; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer .container ul.list-inline li {
    font-size: 14px; }
  footer ul.media_support_class li {
    padding: 30px 2px 20px 7px; }
  footer ul li ul.f_title li a {
    font-size: 10px; }
  footer .both_footer .logo {
    padding: 30px 0 0 30px; }
  footer .both_footer .slogan {
    font-size: 18px;
    padding-top: 28px;
    padding-right: 50px; }
  footer .both_footer .f_list {
    float: right;
    margin-right: 30px;
    max-width: 650px;
    margin: 0 auto; }
    footer .both_footer .f_list li .f_list_in li a {
      font-size: 10px; }
  footer .both_footer .soc_list {
    margin-top: 0; }
    footer .both_footer .soc_list p {
      font-size: 14px;
      text-align: right;
      margin-right: 30px; }
  footer .f_container .soc_list ul li a img {
    width: 23.5px; }
  footer .f_container .copy span {
    font-size: 14px; } }
@media (max-width: 991px) {
  footer .both_footer .f_list {
    max-width: 650px;
    margin: 0 auto; }
  footer .both_footer .soc_list {
    margin-top: 0;
    margin-bottom: 60px; }
    footer .both_footer .soc_list ul {
      margin: 0 auto;
      float: none;
      max-width: 215px;
      padding-top: 0;
      padding-bottom: 50px; } }
@media only screen and (max-width: 768px) {
  footer .f_container .both_footer .slogan {
    padding: 0; }
  footer .f_container .both_footer .logo {
    text-align: center;
    padding: 20px 0; }
  footer .f_container .both_footer .f_list li {
    display: block;
    text-align: center;
    padding: 12px 12px; }
    footer .f_container .both_footer .f_list li .f_list_in li {
      font-size: 14px; }
      footer .f_container .both_footer .f_list li .f_list_in li a {
        font-size: 14px; }
  footer .f_container .both_footer .soc_list {
    display: block;
    text-align: center;
    float: none;
    padding-right: 0; }
    footer .f_container .both_footer .soc_list p {
      margin-top: 10px; }
    footer .f_container .both_footer .soc_list ul {
      float: none; } }
@media (max-width: 425px) {
  footer ul {
    font-size: 16px; } }
@media (max-width: 1500px) {
  .content {
    padding: 0 15px; }
    .content .willing_offer .title {
      font-size: 20px;
      margin-top: 5px; }
    .content .willing_offer .view {
      font-size: 22px;
      margin-top: 10px; }
    .content .willing_offer .one_product {
      padding: 0; }
    .content .discount {
      width: 60%; }
      .content .discount label {
        font-size: 18px; }
      .content .discount input[type="email"] {
        width: auto; }
    .content .category li {
      padding: 1px 0 2px 5px; }
      .content .category li:last-child {
        padding: 3px 0 4px 5px; }
      .content .category li a {
        font-size: 14px; }
        .content .category li a img {
          margin-right: 0; }
    .content .head_block {
      padding-top: 0; }
      .content .head_block .text_block {
        font-size: 12px; }
      .content .head_block .title {
        font-size: 17px;
        margin-bottom: 8px;
        padding-bottom: 0; }
      .content .head_block .img_block {
        width: 22%; }
    .content .actions .one_product .title {
      font-size: 14px;
      display: initial; }
    .content .head_banner img {
      height: 100%; }

  .info_shop img {
    margin-right: -30px; }

  .navbar-toggle.phone_menu {
    display: none; }

  .categories .categories_box .decr {
    left: 6px;
    font-size: 15px; }
  .categories .categories_box .name_category {
    font-size: 25px; }

  .categories_reshenia .cat_wrapper {
    width: 12.5%; }
    .categories_reshenia .cat_wrapper .name_category {
      font-size: 27px; }
    .categories_reshenia .cat_wrapper .decr {
      font-size: 13px; }

  .filter_left_sidebar .filter_name {
    font-size: 20px; }

  .descr_page {
    margin: 20px 15px; }

  .buy_block a {
    padding: 0; }

  .margin_left {
    margin-left: 0; }

  .quantity button {
    width: 30px; }

  .total_prise button, .ordering .total_ticket .total_prise_or button {
    font-size: 20px; }

  .total_prise ul li, .ordering .total_ticket .total_prise_or ul li {
    font-size: 16px; }

  .total_prise ul li:first-child, .ordering .total_ticket .total_prise_or ul li:first-child {
    font-size: 22px; }

  .product_decr .total {
    margin-left: 40px; }

  .item_name {
    font-size: 20px;
    padding: 10px 0; }

  .specification .bold_text {
    font-size: 18px; }
  .specification li,
  .specification span {
    font-size: 15px; }

  .product_decr .prise_total {
    font-size: 18px; }
    .product_decr .prise_total span {
      font-size: 15px; }
  .product_decr .product_decr_list li:first-child {
    font-size: 20px; }

  .variants {
    padding: 30px 0 10px; }

  .old_prise {
    font-size: 15px;
    padding-top: 45px; }

  .total_cost {
    font-size: 27px; }

  .colors img {
    width: 125%;
    margin-left: -15px; }

  .right_side_bar {
    padding: 15px;
    margin-left: 20px; }
    .right_side_bar .name_sidebar {
      font-size: 20px; }
    .right_side_bar img {
      width: 20px;
      margin-bottom: 8px; }
    .right_side_bar .name_list {
      font-size: 17px;
      padding: 15px 0 10px 0; }
    .right_side_bar ul li {
      font-size: 13px; }
      .right_side_bar ul li span {
        font-size: 14px; }

  .list_items .button_look {
    font-size: 17px;
    padding: 12px 0; }

  .btn_by {
    font-size: 18px; }

  .row.info_shop {
    margin: 30px auto;
    font-size: 18px; }

  .btn_by {
    margin-top: 0px;
    padding: 0 22px; }

  .search_panel {
    font-size: 20px; }

  .ordering label {
    font-size: 14px; }
  .ordering .total_ticket {
    font-size: 12px; }
    .ordering .total_ticket .prise {
      font-size: 14px; }
    .ordering .total_ticket .booking ul li:first-child {
      font-size: 14px; }
  .ordering .great_total_prise {
    font-size: 27px; }

  .bread_crums .breadcrumb {
    margin-left: 13px; } }
@media only screen and (min-width: 1200px) {
  .ware_cards .ware_cards_item_price {
    margin-left: 15px; }

  .ware_cards .ware_cards_item_name {
    margin-left: 15px;
    font-size: 13px; }

  .ware_cards .ware_cards_item_price_button {
    font-size: 23px;
    padding: 2px 10px;
    margin-top: -16px; }

  .tabs_section .tab-content {
    font-size: 15px; }

  .tabs_section .nav-tabs li a {
    font-size: 20px; }

  .buy_block .buy_button {
    margin-top: 20px;
    font-size: 25px; }

  .buy_block img {
    width: 50px; }

  .block_header {
    font-size: 13px; }

  .subject li {
    font-size: 12px; }

  .title_decr {
    padding: 10px 0; }

  .title {
    font-size: 28px; }

  .list_items {
    margin: 15px 10px; }

  .list_items .button_look {
    font-size: 17px;
    padding: 12px 0;
    margin-top: 0; }

  .list_items span {
    font-size: 21px; }

  .content .category {
    width: 19.6%; }

  .content .head_banner {
    width: 60%;
    padding: 0 14px; }

  .content .head_block {
    width: 19.6%;
    margin-top: 0; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .korzina .title span {
    font-size: 30px; }

  .korzina .title_decr {
    font-size: 15px; }

  .korzina .product_title {
    font-size: 14px; }

  .korzina .product_decr img {
    width: 100%; }

  .korzina .product_decr .prise_total {
    font-size: 13px; }

  .korzina .product_decr .prise_total span {
    font-size: 13px; }

  .korzina .product_decr .total input {
    height: 30px;
    width: 35px;
    font-size: 20px; }

  .korzina .product_decr .total button {
    font-size: 34px; }

  .korzina .details {
    font-size: 20px; }

  .korzina .specification span {
    font-size: 12px; }

  .korzina .specification {
    padding: 23px 13px; }

  .korzina .specification li {
    font-size: 12px; }

  .korzina .specification .bold_text {
    font-size: 11px; }

  .product_page .block_header {
    font-size: 10px; }

  .product_page .block_header .manufacturer img {
    margin-top: -8px;
    padding-left: 15px;
    width: 30px; }

  .product_page .block_header ul li img {
    width: 12px; }

  .product_page .subject li {
    font-size: 9px; }

  .product_page .colors img {
    width: 155%; }

  .product_page .variants {
    font-size: 14px; }

  .product_page .title {
    font-size: 20px;
    margin-bottom: 20px; }

  .product_page .item_content .img_big img {
    height: 400px; }

  .product_page .item_content .img_desk img {
    height: 100px; }

  .product_page .categories_reshenia .cat_wrapper .name_category a {
    font-size: 20px; }

  .product_page .right_side_bar {
    margin-left: 0; }

  .product_page .right_side_bar .name_sidebar {
    font-size: 16px; }

  .product_page .right_side_bar ul li, .right_side_bar ul li span {
    font-size: 11px; }

  .product_page .right_side_bar .name_list {
    font-size: 14px; }

  .product_page .big_img {
    height: 600px; }

  .buy_block .buy_button {
    margin-top: 15px;
    font-size: 20px;
    padding: 5px 22px; }

  .buy_block img {
    margin-bottom: 20px;
    width: 40px;
    height: 31px; }

  .buy_block a {
    font-size: 16px; }

  .tabs_section .nav-tabs li a {
    font-size: 16px; }

  .tabs_section .tab-content {
    font-size: 12px; }

  .tabs_section .tab-content .dowloand span {
    font-size: 17px;
    padding-bottom: 5px; }

  .bread_crums a {
    padding-top: 0; }

  .content .category {
    width: 18%; }

  .content .container .category li a {
    font-size: 10px; }

  .content .category li a img {
    height: 33px; }

  .content .discount label {
    font-size: 12px; }

  .content .head_banner {
    width: 63%; }

  .content .head_block {
    width: 17.6%; }

  .content .container .head_block .title {
    font-size: 11px; }

  .content .container .head_block .text_block {
    font-size: 9px;
    line-height: 18px; }

  .container .categories .categories_box .decr {
    font-size: 10px;
    padding: 0 14px; }

  .info_shop {
    font-size: 16px; }

  .info_shop img {
    width: 52px;
    margin-right: -30px; }

  .content .willing_offer .title {
    font-size: 16px; }

  .content .willing_offer .view {
    font-size: 19px; }

  .content .actions .one_product {
    padding: 0; }

  .content .actions .one_product .price {
    font-size: 17px; }

  .one_product .btn_by {
    font-size: 13px; }

  .categories_reshenia .cat_wrapper .decr {
    font-size: 8px; }

  .categories_reshenia .cat_wrapper .name_category {
    font-size: 17px; }

  .tag li a {
    font-size: 12px; }

  .filter_left_sidebar .filter_name {
    font-size: 16px; }

  .categories_reshenia .cat_wrapper .decr {
    font-size: 11px; }

  .ware_cards .ware_cards_item_name {
    font-size: 12px; }

  .ware_cards .ware_cards_item_price {
    font-size: 15px; }

  .ware_cards .ware_cards_item_price_button {
    font-size: 13px;
    margin-top: -2px; }

  .container .search_panel {
    font-size: 13px; }

  .title {
    font-size: 26px; } }
@media only screen and (max-width: 768px) {
  .block_header {
    font-size: 15px;
    text-align: center;
    margin: 0; }

  .block_header .garanty {
    text-align: center; }

  .block_header .question {
    float: none; }

  .content .willing_offer .one_product {
    padding: 0;
    margin-bottom: 20px; }

  .content .actions .one_product .title {
    display: initial; }

  .btn_by {
    margin-top: 0px;
    padding: 0 22px; }

  .content .discount input[type="email"] {
    margin-bottom: 7px; }

  .content .actions .one_product .price {
    display: inline-block;
    margin-top: 5px; }

  .content .container .discount {
    width: 95%; }

  .content .container .discount label {
    font-size: 13px; }

  .buy_block {
    padding-bottom: 30px; }

  .mob_center {
    text-align: center; }

  .colors {
    display: inline-block;
    text-align: center; }

  .variants {
    padding: 0 0 10px;
    display: block;
    text-align: center; }

  .item_content {
    padding-left: 15px; }

  .item_content .soc_lis_item {
    display: block;
    text-align: center; }

  .item_content .img_big img {
    height: 100%; }

  .subject {
    display: block;
    text-align: center; }

  .subject li {
    font-size: 13px; }

  .total_prise button, .ordering .total_ticket .total_prise_or button {
    display: block;
    margin: 0 auto; }

  .item_name {
    text-align: center;
    font-size: 22px; }

  .korzina .product_decr .product_decr_list {
    text-align: center; }

  .korzina .product_decr img {
    padding-left: 15px; }

  .korzina .product_decr {
    border-top: 1px solid #e3e4e4; }

  .korzina .product_decr .total {
    text-align: center;
    display: block;
    margin: 0;
    min-height: 0 !important; }

  .korzina .product_decr .prise_total {
    font-size: 25px;
    padding: 15px;
    text-align: center; }

  .product_decr .oakcms-cart-delete-button {
    float: none; }

  .total_prise button {
    float: right;
    margin-bottom: 20px; }

  .korzina .title_decr {
    font-size: 12px; }

  .details {
    font-size: 16px;
    margin-top: 20px; }

  .ordering .info_user {
    font-size: 15px; }

  .ordering .btn_by {
    margin: 10px 30px;
    float: none; }

  .categories_reshenia .cat_wrapper {
    width: 100% !important;
    margin-bottom: 0; }

  .categories_reshenia .cat_wrapper .name_category {
    display: block; }

  .content .discount {
    width: 100%; }

  .descr_page {
    padding: 15px; }

  .filter_left_sidebar {
    margin-bottom: 20px; }

  .filter_left_sidebar select {
    margin: 10px 0; }

  .filter_left_sidebar .filter_name {
    font-size: 20px; }

  .filter_left_sidebar a {
    font-size: 20px;
    padding: 10px 0 5px 0; }

  .descr_page {
    margin: 20px 0; }

  .title {
    font-size: 20px;
    margin-bottom: 20px; }

  .mobile_hidden {
    display: none; }

  .categories_box {
    width: 100% !important; }

  .categories_box .decr {
    position: static !important;
    text-align: center; }

  .categories_box .name_category {
    display: initial !important;
    margin-top: 0 !important; }

  .list_items .button_look {
    padding: 10px 0; }

  .search_panel {
    font-size: 20px; }

  .search_panel .chexbox_block {
    text-align: justify; }

  .search_panel .sort {
    float: left; }

  .ware_cards .ware_cards_item_name {
    margin-left: 0;
    font-size: 15px; }

  .ware_cards .ware_cards_item_price {
    margin-left: 0;
    font-size: 20px; }

  .info_shop {
    display: none; }

  .ware_cards .ware_cards_item_price_button {
    font-size: 25px;
    padding: 2px 9px;
    margin-top: -15px; } }
.svg-icon {
  max-width: 100%;
  max-height: 100%; }

.icon-guard {
  width: 81px;
  height: 72px; }
  .icon-guard_cont {
    padding-left: 0px;
    margin-left: -1px;
    padding-top: 6px; }

#guard-14-day .str0 {
  stroke: #EBECEC;
  stroke-width: 6.89477; }
#guard-14-day .str1 {
  stroke: #E88905;
  stroke-width: 6.89477;
  stroke-linecap: round; }
#guard-14-day .fil5 {
  fill: none; }
#guard-14-day .fil3 {
  fill: #2E8F5D; }
#guard-14-day .fil1 {
  fill: #800C0C; }
#guard-14-day .fil0 {
  fill: #AD0C0C; }
#guard-14-day .fil2 {
  fill: #F9A61A; }
#guard-14-day .fil4 {
  fill: #FEFEFE;
  fill-rule: nonzero; }

.ya-share2 .ya-share2__icon {
  background: transparent !important;
  font-family: "FontAwesome", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 35px !important;
  height: 35px !important; }
  .ya-share2 .ya-share2__icon:before {
    color: #fff;
    line-height: 35px; }
.ya-share2 .ya-share2__item:hover {
  opacity: 1; }
.ya-share2__container_size_m .ya-share2__counter {
  line-height: 35px !important; }
.ya-share2__container_size_m .ya-share2__badge {
  background: #c5c6c6 !important; }
.ya-share2__container_size_m .ya-share2__item_service_vkontakte .ya-share2__icon:before {
  content: "\f189"; }
.ya-share2__container_size_m .ya-share2__item_service_vkontakte:hover .ya-share2__badge {
  background: #48729e !important; }
.ya-share2__container_size_m .ya-share2__item_service_facebook .ya-share2__icon:before {
  content: "\f09a"; }
.ya-share2__container_size_m .ya-share2__item_service_facebook:hover .ya-share2__badge {
  background: #3b5998 !important; }
.ya-share2__container_size_m .ya-share2__item_service_odnoklassniki .ya-share2__icon:before {
  content: "\f263"; }
.ya-share2__container_size_m .ya-share2__item_service_odnoklassniki:hover .ya-share2__badge {
  background: #eb722e !important; }
.ya-share2__container_size_m .ya-share2__item_service_moimir .ya-share2__icon {
  background: url(https://yastatic.net/share2/v-1.15.3/png/a60ea5f5225188d8d4da7df3467d1622.png) !important;
  background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguODg5IDkuNjY3YTEuMzMzIDEuMzMzIDAgMSAwIDAtMi42NjcgMS4zMzMgMS4zMzMgMCAwIDAgMCAyLjY2N3ptNi4yMjIgMGExLjMzMyAxLjMzMyAwIDEgMCAwLTIuNjY3IDEuMzMzIDEuMzMzIDAgMCAwIDAgMi42Njd6bTQuNzcgNi4xMDhsLTEuODAyLTMuMDI4YS44NzkuODc5IDAgMCAwLTEuMTg4LS4zMDcuODQzLjg0MyAwIDAgMC0uMzEzIDEuMTY2bC4yMTQuMzZhNi43MSA2LjcxIDAgMCAxLTQuNzk1IDEuOTk2IDYuNzExIDYuNzExIDAgMCAxLTQuNzkyLTEuOTkybC4yMTctLjM2NGEuODQ0Ljg0NCAwIDAgMC0uMzEzLTEuMTY2Ljg3OC44NzggMCAwIDAtMS4xODkuMzA3bC0xLjggMy4wMjhhLjg0NC44NDQgMCAwIDAgLjMxMiAxLjE2Ni44OC44OCAwIDAgMCAxLjE4OS0uMzA3bC42ODMtMS4xNDdhOC40NjYgOC40NjYgMCAwIDAgNS42OTQgMi4xOCA4LjQ2MyA4LjQ2MyAwIDAgMCA1LjY5OC0yLjE4NGwuNjg1IDEuMTUxYS44NzMuODczIDAgMCAwIDEuMTg5LjMwNy44NDQuODQ0IDAgMCAwIC4zMTItMS4xNjZ6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=), linear-gradient(transparent, transparent) !important; }
.ya-share2__container_size_m .ya-share2__item_service_moimir:hover .ya-share2__badge {
  background: #168de2 !important; }
.ya-share2__container_size_m .ya-share2__item_service_gplus .ya-share2__icon:before {
  content: "\f0d5"; }
.ya-share2__container_size_m .ya-share2__item_service_gplus:hover .ya-share2__badge {
  background: #dc4e41 !important; }
.ya-share2__container_size_m .ya-share2__item_service_twitter .ya-share2__icon:before {
  content: "\f099"; }
.ya-share2__container_size_m .ya-share2__item_service_twitter:hover .ya-share2__badge {
  background: #00aced !important; }

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #FDFEFE url("../img/select_ico.png") no-repeat right 10px center; }

div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }

div.checker {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  margin-left: -20px; }
  div.checker,
  div.checker span,
  div.checker input {
    width: 14px;
    height: 15px; }
  div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    margin: 0 !important;
    padding: 0 !important; }
  div.checker input,
  div.checker input[type="search"],
  div.checker input[type="search"]:active {
    -moz-appearance: none;
    -webkit-appearance: none; }
  div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    text-align: center;
    background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    background-position: 0 0;
    vertical-align: top; }
    div.checker span.checked {
      background-position: 0 -15px; }

/*!
 * @package    oakcms/oakcms
 * @author     Hryvinskyi Volodymyr <script@email.ua>
 * @copyright  Copyright (c) 2015 - 2017. Hryvinskyi Volodymyr
 * @version    0.0.1-beta.0.1
 */
button.loading {
  padding-right: 50px;
  position: relative; }
  button.loading:after {
    content: "\f1ce";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear; }

.product-cut {
  position: relative;
  text-align: center;
  /* Title */ }
  .slick-slide .product-cut:hover::before, .product-cut--no-overlay:hover::before {
    display: none; }
  .product-cut__main-info {
    position: relative; }
  .product-cut__title {
    text-align: left;
    padding-top: 5px; }
    .product-cut__title-link {
      color: #2B2A29;
      text-decoration: none;
      font-size: 16.875px; }
      .product-cut__title-link:hover {
        color: #1a1a1a;
        text-decoration: underline; }
  .product-cut__price {
    text-align: left; }

.product-price {
  font-size: 0; }
  .product-price__item {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle; }
    .product-price__item:not(:last-child) {
      margin-right: 5px; }
  .product-price--bg .product-price__item {
    margin: 0;
    padding: 3px;
    border-bottom: 1px solid #fff; }
    .product-price--bg .product-price__item:not(:first-child) {
      border-left: 1px solid #fff; }
  .product-price--lg .product-price__item {
    font-size: 2.2rem; }
    .product-price--lg .product-price__item:not(:last-child) {
      margin-right: 15px; }
  .product-price--sm .product-price__item {
    font-size: 0.9rem;
    font-weight: bold; }
  .product-price--md .product-price__item {
    margin: 0 5px; }
  .product-price__item-value {
    display: inline-block;
    vertical-align: baseline; }
  .product-price__item-coins {
    display: inline-block;
    vertical-align: baseline; }
  .product-price__item-cur {
    display: inline-block;
    vertical-align: baseline; }
  .product-price--lg .product-price__item-cur {
    padding: 0 3px; }
  .product-price__old {
    position: relative;
    font-size: 15px;
    color: #2B2A29;
    white-space: nowrap;
    /* line-through */ }
    .product-price__old:before, .product-price__old:after {
      content: " ";
      display: table; }
    .product-price__old:after {
      clear: both; }
    .product-price__old:before {
      content: '';
      height: 1px;
      width: 100%;
      background: #2B2A29;
      position: absolute;
      top: 50%;
      left: 0; }
  .product-price__main {
    font-size: 15px;
    white-space: nowrap;
    color: #99144E; }
    .product-price__main:before, .product-price__main:after {
      content: " ";
      display: table; }
    .product-price__main:after {
      clear: both; }

.product-params {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; }
  .product-params li {
    overflow-x: hidden; }
    .product-params li:before {
      display: block;
      float: left;
      width: 0;
      white-space: nowrap;
      content: "....................................................................................................................................."; }
  .product-params__title {
    background: #fff;
    padding-right: 0.33em; }
  .product-params__value {
    background: #fff;
    padding-left: 0.33em;
    float: right; }

.product-photo__item {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  max-height: 100%;
  text-align: left; }
  .product-photo__item--no-photo, .product-photo__item--no-photo:hover {
    color: #000 !important;
    text-decoration: none;
    cursor: default;
    pointer-events: none; }
  .product-photo__item--xs, .product-photo__item--sm, .product-photo__item--md, .product-photo__item--lg {
    padding-bottom: 0; }
  .product-photo__item--xs {
    width: 200px;
    height: 200px;
    max-height: 200px; }
    .product-photo__item--xs .product-photo__img {
      padding: 5px; }
  .product-photo__item--sm {
    height: 300px;
    max-height: 300px; }
  .product-photo__item--md {
    height: 400px;
    max-height: 400px; }
  .product-photo__item--lg {
    padding-bottom: 0;
    height: 550px;
    max-height: 550px; }
.product-photo__img {
  /* use important to override slick slide img display:block rule */
  display: inline-block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: inherit;
  max-width: 100%; }
.product-photo__labels {
  position: absolute;
  top: 0;
  left: 0; }
.product-photo__label {
  display: block;
  position: relative;
  width: rem(50);
  height: rem(50);
  font-size: 0.8em;
  color: #FFF;
  white-space: nowrap; }
  .product-photo__label--small {
    width: rem(30);
    height: rem(30); }
  .product-photo__label:not(:first-child) {
    margin-top: 1px; }
  .product-photo__label--hit {
    color: #FFAD2D; }
  .product-photo__label--hot {
    color: #62B12E; }
  .product-photo__label--action {
    color: #FF2C2C; }
  .product-photo__label--discount {
    color: #FF8001; }
.product-photo__label-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-transform: uppercase; }
.product-photo__label--hit .product-photo__label-text {
  top: auto;
  bottom: rem(8);
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: none; }
.product-photo__label--hot .product-photo__label-text {
  font-size: rem(8); }
.product-photo__label--small .product-photo__label-text {
  font-size: rem(10); }
.product-photo__thumbs {
  font-size: 0;
  margin-top: 5px;
  margin-left: -10px;
  padding: 0; }
.product-photo__thumb {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 10px;
  width: 20%; }
  .product-photo__thumb-item {
    position: relative;
    display: block;
    height: 100px;
    opacity: .8; }
    .product-photo__thumb-item[data-product-photo-thumb-active] {
      opacity: 1;
      border: 1px solid #c2c2c3; }
  .product-photo__thumb-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 100%;
    max-height: 100px;
    padding: 5px; }
.product-photo__wrapper {
  position: relative; }
.product-photo__zoom {
  position: relative;
  top: -1px;
  left: 100%;
  z-index: 1000;
  display: inline-block;
  width: 600px;
  height: 550px;
  overflow: hidden;
  background: #FFF;
  border: 1px solid #C7C7C7; }
  .product-photo__zoom:hover {
    display: none; }

.product-info {
  padding-left: 35px; }

.soc_lis_item {
  margin-top: 10px;
  margin-bottom: 10px; }
  .soc_lis_item > span {
    display: inline-block;
    font-size: 24px;
    color: #99144e;
    margin-right: 8px;
    vertical-align: middle; }
  .soc_lis_item > div {
    display: inline-block;
    vertical-align: middle; }

.tooltip-inner {
  border-radius: 0;
  text-align: left;
  border: 1px solid #4F4F4E;
  font-size: 15px; }

/*# sourceMappingURL=style.css.map */
