@media only screen and (min-width: 1px) {
  .navbar-toggle.phone_menu {
    display: block; }

  header .top_menu ul {
    display: none; }

  header .top_menu nav li {
    width: 100%; }

  header .top_menu .login {
    float: none; }

  .content .category {
    width: 100%; }

  .content .head_banner {
    width: 100%;
    padding: 0; }

  .content .head_block_delivery {
    width: 100%;
    margin-top: 15px; } }
@media only screen and (max-width: 768px) {
  .buy_block {
    padding-bottom: 30px; }

  .mob_center {
    text-align: center; }

  .colors {
    display: inline-block;
    text-align: center; }

  .variants {
    padding: 0 0 10px;
    display: block;
    text-align: center; }

  .mobile_padding {
    padding: 0; }

  header .block_menu {
    margin-bottom: 15px; }

  .phone_menu_2 {
    margin-right: -22px; }

  .display_none {
    display: none; }

  .top_menu .tooltip_button {
    font-size: 20px;
    margin-left: 5px; }

  header .work_time {
    margin-top: 0; }
    header .work_time .phone_number {
      font-size: 20px; }

  .mobile_block {
    display: block;
    padding: 5px 0; }
    .mobile_block span {
      font-size: 20px;
      display: block; }

  .navbar-toggle {
    margin-top: -32px; }
    .navbar-toggle .icon-bar {
      background-color: grey; }

  .block_header {
    font-size: 15px;
    text-align: center;
    margin: 0; }
    .block_header .garanty {
      text-align: center; }
    .block_header .question {
      float: none; }

  .item_content {
    padding-left: 15px; }
    .item_content .soc_lis_item {
      display: block;
      text-align: center; }
    .item_content .img_big img {
      height: 100%; }

  .subject {
    display: block;
    text-align: center; }
    .subject li {
      font-size: 13px; }

  .total_prise button, .ordering .total_ticket .total_prise_or button {
    display: block;
    margin: 0 auto; }

  .item_name {
    text-align: center;
    font-size: 22px; }

  .korzina .product_decr {
    border-top: 1px solid #e3e4e4; }
    .korzina .product_decr .total {
      text-align: center;
      display: block;
      margin: 0;
      min-height: 0 !important; }
    .korzina .product_decr .prise_total {
      font-size: 25px;
      padding: 15px; }

  .details {
    font-size: 16px;
    margin-top: 20px; }

  .ordering .info_user {
    font-size: 15px; }
  .ordering .btn_by {
    margin: 10px 30px;
    float: none; }

  .categories_reshenia .cat_wrapper {
    width: 100% !important;
    margin-bottom: 0; }
    .categories_reshenia .cat_wrapper .name_category {
      display: block; }

  footer .both_footer .slogan {
    padding: 0; }
  footer .both_footer .logo {
    text-align: center;
    padding: 20px 0; }
  footer .both_footer .f_list li {
    display: block;
    text-align: center; }
    footer .both_footer .f_list li .f_list_in li {
      font-size: 14px; }
      footer .both_footer .f_list li .f_list_in li a {
        font-size: 14px; }
  footer .both_footer .soc_list {
    display: block;
    text-align: center;
    float: none;
    padding-right: 0; }
    footer .both_footer .soc_list ul {
      float: none;
      margin: 0; }

  .content .discount {
    width: 100%; }

  .descr_page {
    padding: 15px; }

  .filter_left_sidebar {
    margin-bottom: 20px; }
    .filter_left_sidebar select {
      margin: 10px 0; }
    .filter_left_sidebar .filter_name {
      font-size: 20px; }
    .filter_left_sidebar a {
      font-size: 20px;
      padding: 10px 0 5px 0; }

  .title {
    font-size: 20px; }

  .mobile_hidden {
    display: none; }

  .categories_box {
    width: 100% !important; }
    .categories_box .decr {
      position: static !important;
      text-align: center; }
    .categories_box .name_category {
      display: initial !important;
      margin-top: 0 !important; }

  .list_items .button_look {
    padding: 10px 0; }

  .search_panel {
    font-size: 20px; }
    .search_panel .chexbox_block {
      text-align: justify; }
    .search_panel .sort {
      float: left; }

  .ware_cards .ware_cards_item_name {
    margin-left: 0;
    font-size: 15px; }
  .ware_cards .ware_cards_item_price {
    margin-left: 0;
    font-size: 20px; }

  .info_shop {
    display: none; }

  .ware_cards .ware_cards_item_price_button {
    font-size: 25px;
    padding: 2px 9px;
    margin-top: -15px; } }
@media only screen and (min-width: 1200px) {
  .ware_cards .ware_cards_item_price {
    margin-left: 15px; }

  .ware_cards .ware_cards_item_name {
    margin-left: 15px;
    font-size: 17px; }

  .ware_cards .ware_cards_item_price_button {
    font-size: 24px;
    padding: 2px 10px; }

  .tabs_section .tab-content {
    font-size: 15px; }

  .tabs_section .nav-tabs li a {
    font-size: 20px; }

  header .block_menu .menu_2 > li {
    width: auto !important; }

  .buy_block .buy_button {
    margin-top: 20px;
    font-size: 25px; }

  .buy_block img {
    width: 50px; }

  .block_header {
    font-size: 13px; }

  .subject li {
    font-size: 12px; }

  .title_decr {
    padding: 10px 0; }

  .title {
    font-size: 28px; }

  .list_items {
    margin: 15px 10px; }
    .list_items .button_look {
      font-size: 17px;
      padding: 12px 0;
      margin-top: 0; }
    .list_items span {
      font-size: 21px; }

  .content .category {
    width: 19.6%; }

  .content .head_banner {
    width: 60%;
    padding: 0 14px; }

  .content .head_block_delivery {
    width: 19.6%;
    margin-top: 0; } }
header .block_search .select select {
  height: 42px;
  padding: 0 12px;
  font-size: 16px; }

.navbar-toggle.phone_menu {
  background: #ccc;
  border: 1px solid #807777;
  float: right;
  margin-top: 0; }

.navbar-toggle.phone_menu .icon-bar {
  background: #807777; }

@media only screen and (min-width: 1px) {
  header .block_menu .menu_2 > li {
    width: 100%; } }
@media (max-width: 1500px) {
  .buy_block a {
    padding: 0; }

  .margin_left {
    margin-left: 0; }

  .quantity button {
    width: 30px; }

  header .block_search .select {
    background: #98144E;
    position: absolute;
    right: 35px;
    top: -16px;
    width: 140px;
    padding: 5px;
    display: none; }

  header .block_search:hover .select {
    display: block; }

  header .block_search {
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: right; }

  header .block_search .select select {
    height: 26px;
    padding: 0 12px; }

  .total_prise button, .ordering .total_ticket .total_prise_or button {
    font-size: 20px; }

  .total_prise ul li:first-child, .ordering .total_ticket .total_prise_or ul li:first-child {
    font-size: 22px; }

  .total_prise ul li, .ordering .total_ticket .total_prise_or ul li {
    font-size: 16px; }

  .product_decr .total {
    margin-left: 40px; }

  .item_name {
    font-size: 20px;
    padding: 10px 0; }

  .product_decr .prise_total {
    font-size: 20px; }
    .product_decr .prise_total span {
      font-size: 15px; }

  .product_decr .product_decr_list li:first-child {
    font-size: 20px; }

  .variants {
    padding: 30px 0 10px; }

  .old_prise {
    font-size: 15px;
    padding-top: 45px; }

  .total_cost {
    font-size: 27px; }

  .colors img {
    width: 25%; }

  .right_side_bar {
    padding: 15px;
    margin-left: 20px; }
    .right_side_bar .name_sidebar {
      font-size: 20px; }
    .right_side_bar img {
      width: 20px;
      margin-bottom: 8px; }
    .right_side_bar .name_list {
      font-size: 17px;
      padding: 15px 0 10px 0; }
    .right_side_bar ul li {
      font-size: 13px; }
      .right_side_bar ul li span {
        font-size: 14px; }

  .list_items .button_look {
    font-size: 17px;
    padding: 12px 0; }

  .categories_reshenia .cat_wrapper {
    width: 161.1px; }
    .categories_reshenia .cat_wrapper .decr {
      font-size: 13px; }

  .row {
    margin: 0; }

  header .cart_block li {
    width: 30%;
    margin: 0 2px;
    font-size: 15px; }

  header .guarantee {
    font-size: 17px; }

  header .delivery {
    font-size: 18px;
    margin-top: 11px; }

  header .block_menu .menu_2 li a {
    font-size: 26px; }

  header .block_menu .menu_2 li:after {
    right: -11px; }

  header .work_time .phone_number {
    font-size: 25px; }

  header .filter_search1 a, header .filter_search2 a {
    font-size: 14px; }

  header .search img {
    width: 35px;
    margin-top: 13px; }

  header .block_menu .menu_2 .down_menu_list li a {
    font-size: 18px; }

  .content .category li a {
    font-size: 16px; }

  .content .category li {
    padding: 1px 0 2px 5px; }

  .content .category li:last-child {
    padding: 3px 0 4px 5px; }

  .content .category li a img {
    margin-right: 0; }

  .content .head_block_delivery .title {
    font-size: 17px;
    margin-bottom: 8px;
    padding-bottom: 0; }

  .content .head_block_delivery {
    padding-top: 0; }

  .content .head_block_delivery .img_block {
    width: 22%; }

  .content {
    padding: 0 15px; }

  .btn_by {
    font-size: 18px; }

  .content .actions .one_product .title {
    font-size: 14px; }

  .row.info_shop {
    margin: 30px auto; }

  .content .discount input[type="email"] {
    width: auto; }

  footer .soc_list ul {
    min-width: 0 !important;
    margin-right: 20px !important; }
  footer .f_list {
    text-align: right !important; }
    footer .f_list .f_list_in {
      text-align: left !important; }
  footer .copy span {
    background-color: transparent !important;
    margin-top: 32px !important;
    font-size: 16px !important; }
  footer .f_list_in li {
    font-size: 11px !important; }
  footer .f_container {
    background-position: 0 0; }
  footer .slogan {
    font-size: 16px !important;
    padding-right: 20px !important; }
  footer .soc_list {
    margin-top: -15px !important;
    padding-right: 0 !important; }
    footer .soc_list p {
      font-size: 18px !important; }
    footer .soc_list ul li {
      padding-bottom: 10px !important; }
      footer .soc_list ul li a img {
        width: 31px !important; }
  footer ul li {
    font-size: 18px !important; }
    footer ul li ul li a {
      font-size: 11px !important; }

  .ordering label {
    font-size: 14px; }

  .ordering .total_ticket {
    font-size: 12px; }

  .ordering .total_ticket .prise {
    font-size: 14px; }

  .ordering .total_ticket .booking ul li:first-child {
    font-size: 14px; }

  .ordering .great_total_prise {
    font-size: 27px; } }

/*# sourceMappingURL=media.css.map */
