@font-face {
  font-family: 'pfbeausanspro-reg';
  src: url('../fonts/pfbeausanspro-reg.ttf');
}

@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('../fonts/glyphicons-halflings-regular.ttf');
}

@font-face {
  font-family: 'pfbeausanspro-bold';
  src: url('../fonts/pfbeausanspro-bold.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}


.margin_left{
  margin-left: 20px;
}

.container {
  max-width: 1700px;
  width: 100%;
  padding: 0;
}

.no_padding {
  padding: 0;
}

.no_padding_left {
  padding-left: 0;
}

.no_padding_right {
  padding-right: 0;
}

header {
  font-family: 'pfbeausanspro-reg', sans-serif;
  font-size: 17px;
  color: #2b2a29;
  a {
    color: #2b2a29;
  }
  .logo {
    margin-top: 5px;
  }
  .top_menu {
    background: #fafafa;
    border: 1px solid #c6c7c7;
    padding-top: 8px;
    min-height: 47px;

    a:hover {
      //text-decoration: none;
    }
    nav {

      padding-top: 3px;
      li {
        padding: 0 17px;

      }
    }
    .login {
      margin-right: 15px;
      float: right;
      img {
        margin-right: 11px;
        vertical-align: bottom;
      }
    }
  }
  .delivery {
    font-size: 21px;
    margin-top: 38px;
  }
  .work_time {
    margin-top: 13px;
    p {
      margin-bottom: 0;
      line-height: 27px;
    }
    .phone_number {
      font-size: 30px;
    }
  }
  .guarantee {
    font-family: 'pfbeausanspro-bold', sans-serif;
    color: #107342;
    font-size: 22px;
    margin-top: 13px;
  }
  .cart_block {
    margin-top: 20px;
    text-align: right;
    li {
      text-align: center;
      margin: 0 11px;
      img {
        width: 100%;
        max-width: 65px;
      }
    }
  }
  .block_menu {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 25px;
    margin-bottom: 40px;
    .menu_1 {
      text-align: justify;
      margin-top: 10px;
      margin-bottom: 0;
      li {
        a {
          font-family: 'pfbeausanspro-bold', sans-serif;
        }
      }
    }
    .menu_1:after, .menu_2:after {
      content: '';
      width: 100%;
      display: inline-block;
    }
    .menu_2 {
      text-align: justify;
      margin-top: -27px;
      margin-bottom: -27px;
      > li {
        position: relative;
        padding-bottom: 15px;
        a {
          font-family: 'OpenSans-Regular', sans-serif;
          color: #115E38;
          font-size: 30px;
          font-weight: bold;
          line-height: 25px;
        }
        a:hover {
          text-decoration: none;
        }
      }
      li:hover .down_menu_list {
        display: block;
      }
      li:after {
        content: '';
        background: url("../img/point-icon.png") no-repeat;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 12px;
        right: -28px;
      }
      li:last-child:after {
        display: none;
      }
      .down_menu_list {
        position: absolute;
        top: 44px;
        left: -20px;
        background: #fff;
        border: 1px solid #ccc;
        border-top: none;
        padding: 15px 15px;
        display: none;
        z-index: 9;
        li {
          a {
            color: #2b2a29;
            white-space: nowrap;
            font-family: 'pfbeausanspro-reg', sans-serif;
            font-size: 22px;
            font-weight: 500;
          }
        }
        li:after {
          display: none;
        }
      }
    }
  }
  .search {
    float: right;
    padding: 0;
    border: none;
    vertical-align: top;
    margin-top: -30px;
    background: transparent;
  }
  .filter_search1 {
    display: inline-block;
    margin-top: 8px;
    margin-left: 20px;
    a {
      background: transparent;
      -webkit-appearance: none;
      font-family: 'pfbeausanspro-bold', sans-serif;
      color: #98144E;
    }
  }
  .filter_search2 {
    display: inline-block;
    margin-top: 8px;
    a {
      background: transparent;
      -webkit-appearance: none;
      font-family: 'pfbeausanspro-bold', sans-serif;
      color: #98144E;
    }
  }
}

.content {
  .category {
    display: inline-block;
    //width: 19.6%;
    vertical-align: top;
    li {
      border: 1px solid #ccc;
      padding: 10px 0 10px 15px;
      a {
        color: #2b2a29;
        font-family: 'pfbeausanspro-reg', sans-serif;
        font-size: 20px;
        img {
          margin-right: 5%;
        }
      }
    }
    li:last-child {
      padding: 9px 0 9px 15px;
    }
  }
  .colors img {
    display: inline-block;
    width: 98%;
    margin: 5px;
  }
  .head_banner {
    //width: 60%;
    padding: 0 14px;
    display: inline-block;
    vertical-align: top;
    img {
      width: 100%;
    }
  }
  .head_block_delivery {
    //width: 19.6%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    padding-top: 20px;
    .title {
      font-family: 'pfbeausanspro-bold', sans-serif;
      color: #98144E;
      text-transform: uppercase;
      font-size: 24px;
      text-align: center;
      margin-bottom: 25px;
      margin-top: 13px;
      padding-bottom: 1px;
    }
    .img_block {
      width: 30%;
      display: inline-block;
    }
    .text_block {
      display: inline-block;
      width: 65%;
      vertical-align: top;
      font-family: 'pfbeausanspro-reg', sans-serif;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .discount {
    width: 50%;
    background: #2e8f5d;
    border-radius: 4px;
    padding: 10px;
    margin-top: 17px;
    margin-bottom: 20px;
    label {
      color: #fff;
      font-size: 20px;
    }
    input[type = "email"] {
      text-align: center;
      width: 250px;
      height: 25px;
      font-family: 'OpenSans-Regular', sans-serif;
      margin-left: 15px;
    }
    input[type = "submit"] {
      text-align: center;
      width: 135px;
      border-radius: 4px;
      border: none;
      color: #fff;
      background: #99144e;
      margin-left: 15px;
      font-family: 'pfbeausanspro-bold', sans-serif;
      height: 30px;
      font-size: 16px;
    }
  }
  .actions {
    margin-top: 35px;
    img {
      width: 100%;
    }
    h3 {
      color: #2e8f5d;
      text-transform: uppercase;
      font-size: 26px;
      text-align: center;
      font-family: 'pfbeausanspro-bold', sans-serif;
      line-height: 22px;
    }
    .border {
      border-top: 3px solid #2e8f5d;
    }
    .one_product {
      padding: 20px 10px 0 10px;
      font-family: 'pfbeausanspro-reg', sans-serif;
      .title {
        font-size: 18px;
        margin-top: 24px;
        display: inline-block;
      }
      .price {
        color: #99144e;
        font-size: 19px;
      }
    }
  }
  .willing_offer {
    margin-top: 65px;
    .one_product {
      padding: 15px 40px;
    }
    h3 {
      color: #99144e;
      text-transform: uppercase;
      font-size: 26px;
      text-align: center;
      font-family: 'pfbeausanspro-bold', sans-serif;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .title {
      font-family: 'pfbeausanspro-bold', sans-serif;
      color: #000;
      text-align: center;
      font-size: 24px;
      margin-top: 27px;
    }
    img {
      width: 100%;
    }
    .view {
      font-family: 'pfbeausanspro-reg', sans-serif;
      color: #fff;
      font-size: 32px;
      width: 100%;
      background: #99144e;
      margin-top: 22px;
      border-radius: 0;
    }
  }
}

.info_shop {
  width: 70%;
  font-family: 'pfbeausanspro-reg', sans-serif;
  font-size: 22px;
  margin-top: 70px;
  margin-bottom: 50px;
  img {
    float: right;
  }
}

.btn_by {
  color: #fff;
  background: #99144e;
  font-family: 'pfbeausanspro-bold', sans-serif;
  text-transform: uppercase;
  float: right;
  font-size: 24px;
  padding: 2px 22px;
  margin-top: -20px;
}

.sum {
  text-align: left;
  display: block;
  margin-left: 45px;
}



footer {
  .copy {

    span {
      color: #fff;
      font-size: 18px;
      text-align: center;
    }
  }

  ul {
    background-color: #d9dada;
    li {
      font-family: 'pfbeausanspro-bold', sans-serif;
      font-size: 22px;
      color: #727271;
      vertical-align: top;
      padding: 40px 2px 21px 28px !important;
      text-transform: uppercase;

      ul {
        li {
          padding: 0;
          a {
            font-size: 16px;
            font-family: 'OpenSans-Regular', sans-serif;
            color: #000;
            padding: 13px 0;
            text-transform: none;
          }
        }
      }
    }

  }
  .f_title li {
    padding: 0 !important;
  }

  .f_container {
    background-image: url(../img/f_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -35px 0;
  }

  .both_footer {
    margin: 0;

    .logo {
      padding: 30px 0 0 55px;
    }

    .slogan {
      text-align: center;
      text-transform: uppercase;
      font-size: 25px;
      color: #fff;
      padding-top: 33px;
      padding-right: 100px;
    }

    $size: 20px;

    .f_list {
      background-color: transparent;
      li {
        color: #fff;
        font-family: 'pfbeausanspro-reg', sans-serif;
        font-size: 26px;
        padding: 30px 12px !important;
        text-transform: none;
        .f_list_in {
          background-color: transparent;
          li {
            padding: 0 !important;
            background-color: transparent;
            font-size: $size;
            font-family: 'OpenSans-Regular';
            a {
              color: #fff;
              font-size: $size;
            }
          }
        }
      }
    }

    .soc_list {
      display: inline-block;
      float: right;
      padding-right: 10px;
      margin-top: 56px;

      p {
        font-size: 21px;
        color: #fff;
        font-family: 'pfbeausanspro-reg';
        text-align: center;

      }

      ul {
        background-color: transparent;
        min-width: 300px;
        float: right;
        margin-right: 42px;
        li {
          padding: 2px 0 30px 0 !important;
        }
      }
    }

  }
  .list-inline {
    margin: 0;
  }
}

.bread_crums {

  a {
    display: inline-block;
    font-family: 'pfbeausanspro-reg';
    font-size: 18px;
    color: #000;
    padding-top: 35px;

  }
  .breadcrumb > li + li:before {
    content: ">";
    padding: 0 5px;
    color: #ccc;
  }
  .breadcrumb {
    padding: 8px 0px;
    background-color: transparent;
    margin-bottom: 0 !important;;
  }
}

.title {
  font-family: 'pfbeausanspro-reg';
  font-size: 37px;
  color: #000;
  padding-bottom: 25px;
}

.categories {
  text-align: center;
  .categories_box {
    text-align: center;
    display: inline-block;
    height: 180px;
    width: 14%;
    font-family: 'pfbeausanspro-reg';
    color: #fff;
    position: relative;
    margin-right: -2px;
    margin-left: -2px;

    .decr {
      font-family: 'pfbeausanspro-reg';
      font-size: 16px;
      display: block;
      position: absolute;
      top: 110px;
      left: 36px;

    }
    .name_category {
      margin-top: 25px;
      font-family: 'pfbeausanspro-reg';
      font-size: 35px;
      display: block;
        a{
          color: #fff;
        }
    }
    img {
      margin-top: 70px;
    }
  }
}

.title_2 {
  font-family: 'pfbeausanspro-reg';
  font-size: 25px;
  color: #000;
  padding: 20px 0 10px 0;
  border-bottom: 3px solid #107342;
}

.list_items {
  border: 1px solid #f2f2f2;
  margin: 30px 20px;

  img {
    width: 100%;

  }
  span {
    font-family: 'pfbeausanspro-bold', sans-serif;
    font-size: 25px;
    padding: 13px;
    text-align: center;
    display: block;
  }
  .button_look {
    font-size: 25px;
    font-family: 'pfbeausanspro-reg';
    color: #fff;
    text-align: center;
    padding: 18px 0px;
    background-color: #99144e;
    display: block;

    margin: 20px;
    &:hover {
      text-decoration: none;
      background-color: #cb216b;
    }
  }

}

.hint {
  span {
    text-align: left;
    font-family: 'pfbeausanspro-reg';
    font-size: 20px;
    display: block;
    padding: 65px;
    &:before {
      content: "";
      background-image: url(../img/hint.png);
      width: 56px;
      height: 47px;
      position: absolute;
      left: 0;
    }
  }
}

$cherry: #99144e;

.title_decr {
  text-align: left;
  font-family: 'OpenSans-Regular';
  font-size: 18px;
  padding: 20px 0;
}

.product_title {

  text-align: right;
  font-family: 'pfbeausanspro-reg';
  font-size: 18px;
  color: $cherry;
  border-bottom: 2px solid $cherry;
  width: 100%;
  display: inline-block;
  span {
    display: block;
    padding-bottom: 7px;
  }

}

.product_decr {
  padding: 15px 0;

  .product_decr_list {
    display: block;
    li {
      font-family: 'OpenSans-Regular';
      font-size: 14px;
      &:first-child {
        font-size: 25px;
        font-family: 'pfbeausanspro-reg';

      }
    }
  }
  .prise_total {
    text-align: right;
    font-family: 'OpenSans-Regular';
    font-size: 30px;
    line-height: 1;
    span {
      font-size: 22px;
      text-decoration: line-through;
    }
  }

  .total {
    display: inline-block;
    font-family: 'OpenSans-Regular';
    margin-left: 80px;
    button {
      text-align: center;
      font-size: 58px;
      line-height: 35px;
      background-color: transparent;
      border: none;
      padding: 0;
      transition: ease-in-out .1s;
      outline: none;

      &:hover {
        color: #fff;
        background-color: $cherry;
      }
    }
    input {
      height: 40px;
      width: 45px;
      border: 1px solid #90908f;
      border-radius: 7px;
      font-size: 30px;
      vertical-align: top;
      text-align: center;
    }
  }

  #delete {
    float: right;
    text-align: center;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: ease-in-out .1s;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-position: 2px 1px;
  }

}

.item_name {
  border-top: 1px solid #7e7e7d;
  font-size: 25px;
  font-family: 'pfbeausanspro-reg';
  display: block;
  padding: 15px 0px;
}

.total_prise {
  display: block;
  border-top: 1px solid $cherry;
  ul {
    text-align: right;
    display: block;
    padding-top: 30px;
    li {
      font-family: 'OpenSans-Regular';
      font-size: 18px;
      &:first-child {
        font-size: 28px;
        font-family: 'OpenSans-Regular';
        span {
          font-weight: 600;
        }

      }
    }
  }
  button {
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    background-color: $cherry;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 5px 15px;
    border: none;
    transition: ease-in-out .1s;
    &:hover {
      background-color: lighten($cherry, 10%);
    }
  }
}

.details {
  text-transform: uppercase;
  font-family: 'pfbeausanspro-bold';
  color: $cherry;
  font-size: 24px;
  display: block;
  padding-bottom: 25px;
  img {
    padding: 0 0px 0px 33px;
  }
}

.specification {
  display: block;
  padding: 35px 60px;
  border: 2px solid lighten($cherry, 25%);
  margin-bottom: 30px !important;
  span {
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    font-size: 19px;
    padding-bottom: 25px;
    display: inline-block;
  }
  li {
    font-family: 'OpenSans-Regular';
    font-size: 17px;
    text-align: left;

  }
  .bold_text {
    font-family: 'pfbeausanspro-bold';
    font-size: 18px;
    text-transform: none;
    padding: 0;
  }

}

//карточка комплекта товара
.block_header {
  padding: 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'OpenSans-Regular';
  font-size: 17px;
  margin: 0 0 20px;

  .manufacturer {
    display: inline-block;
    a {
      color: #01a1e4;
    }
    img {
      margin-top: -15px;
      padding-left: 15px;
    }
  }

  .question {
    display: inline-block;
    text-align: right;
    float: right;
    a {
      color: #2e8f5d;
      padding-left: 5px;
    }

  }

  .article {
    display: inline-block;
    text-align: left;
  }
  .rating {
    ul {
      padding: 0 5px;
      margin: 0;
      display: inline-block;

      li {
        padding: 0;
        margin: 0;

      }
    }
  }

}

.item_content {
  .img_big {

    display: block;
    img {
      height: 600px;
      width: 100%;
    }
  }
  .soc_lis_item {
    display: inline-block;
    padding: 8px 0;
    span {
      display: inline-block;
      font-family: 'pfbeausanspro-reg';
      font-size: 19px;
      color: $cherry;
      margin-right: 8px;

    }
    ul {
      display: inline-block;
      margin-top: 0;
      li {
        padding: 3px;

        img {
          height: 30px;
          width: 30px;
          display: inline-block;
          border-radius: 6px;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);

          -o-filter: grayscale(100%);

          -webkit-filter: grayscale(1);
          &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);

            -o-filter: grayscale(0%);

            -webkit-filter: grayscale(0);
          }

        }

      }
    }
  }

  .img_desk {
    img {
      width: 100%;
      height: 150px;
    }
  }

}

.subject {

  display: inline-block;
  li {
    font-family: 'OpenSans-Regular';
    font-size: 18px ;
  }
}

.variants {
  font-size: 18px;
  font-family: 'pfbeausanspro-reg';
  padding: 40px 0 20px;
  display: inline-block;
}

.old_prise {
  font-family: 'pfbeausanspro-reg';
  font-size: 20px;
  padding-top: 60px;
  margin: 0;
  line-height: 1;
  span {
    text-decoration: line-through;
  }
}

.total_cost {
  font-size: 40px;

  padding-bottom: 15px;
  margin: 0;
  span {
    color: $cherry;
  }
}

.quantity {
  display: block;
  padding: 0;
  margin: 0;
  button {
    width: 50px;
    height: 30px;
    font-size: 22px;

  }
  input {
    width: 50px;
    height: 30px;
    text-align: right;
    font-size: 30px;
  }
}

.buy_block {
  .buy_button {
    margin-top: 35px;
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    background-color: $cherry;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 5px 35px;
    border: none;
    transition: ease-in-out .1s;
    border-radius: 6px;
    &:hover {
      background-color: lighten($cherry, 10%);
    }
  }

  img {
    margin-bottom: 20px;
  }
  a {
    font-family: 'pfbeausanspro-reg';
    color: #000;
    font-size: 21px;
  }
}

.right_side_bar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 25px;
  img {
    margin-bottom: 15px;

  }
  .name_sidebar {
    font-family: 'OpenSans-Regular';
    font-size: 27px;
    color: #197849;
    padding: 0;
  }
  .name_list {
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    padding: 25px 0px 10px 0;
    display: inline-block;
  }

  ul {

    li {
      font-family: 'pfbeausanspro-reg';
      font-size: 17px;
      text-align: left;
      span {
        font-family: 'pfbeausanspro-bold';
        font-size: 16px;
        text-transform: none;
        padding: 0;
      }
    }
  }

}

$green: #187848;
.tabs_section {
  margin-top: 50px;
  display: inline-block;
  .nav-tabs {
    li {
      a {
        font-family: 'pfbeausanspro-reg';
        font-size: 27px;
        color: #000;
        padding: 5px 25px;
        margin-right: 0;
        border-bottom: none;
        &:hover {
          color: $cherry;
          background-color: #f3f3f3;
          border-radius: 7px;
          border: none;

        }
      }

    }
    li.active a {
      color: $cherry;
      background-color: #f3f3f3;
      border-bottom: 1px solid #c9c9c9;

    }
  }

  .tab-content {
    font-family: 'pfbeausanspro-reg';
    font-size: 20px;
    color: #000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 25px;
    .decription_tabs {

    }
    .mo_decr {
      color: $cherry;
      font-weight: 600;
      img {
        margin-bottom: 5px;
      }
    }
    .dowloand {
      span {
        font-family: 'pfbeausanspro-reg';
        font-size: 24px;
        color: $green;
        display: inline-block;
        padding-bottom: 40px;
      }
      img {
        float: left;
        padding: 10px;
        margin-bottom: 20px;
      }
      a {
        color: #000;
      }
    }
  }
}

.name_slider {
  text-transform: uppercase;
  font-size: 25px;
  color: $green;
  padding: 30px 0;
  display: block;
}

.big_img {
  display: block;
  background-image: url(../img/big_img.png);
  background-repeat: no-repeat;
  height: 1200px;
  background-size: cover;
  margin: 50px 0 ;

}

.product_page .one_product {
  display: block;
  padding: 20px 10px 0 10px;
}

.product_page .one_product .title {
  font-size: 20px;
}

.product_page .one_product img {
  width: 100%;
}

//comparison.php
$grey: #e3e4e4;
.compare_list {
  display: block;
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: $grey;
  height: 333px;
  margin-bottom: 108px;
  ul {
    border-bottom: 2px solid darken($grey, 9%);
    li {
      display: inline-block;
      font-family: 'pfbeausanspro-reg';
      font-size: 25px;
      padding: 12px 0;
    }
  }
  a {
    display: block;
    font-family: 'pfbeausanspro-reg';
    font-size: 25px;
    color: $cherry;
    padding: 40px 0;
    &::before {
      content: "x";
      margin-right: 20px;
    }
  }
}

.compare_item_list {
  ul {

    li {
      font-family: 'OpenSans-Regular';
      font-size: 25px;
      background-color: $grey;
      border-radius: 5px;
      margin-right: 30px;
      padding: 3px 10px;
      transition: ease-in 0.1s;
      span {
        color: darken($grey, 45%);
      }
      &.active {
        background-color: #2b7f9e;
        color: #fff;
        span {
          color: #fff;
        }
      }
    }
  }
}

$border: #898989;
.compare_item {
  margin: 40px 0;
  display: block;
  padding: 5px;
  transition: all ease-in-out .1s;
  &:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  }
  img {
    width: 100%;
  }
  .top_section {
    display: block;
    padding-bottom: 55px;
    border-bottom: 4px solid $border;
    .compare_item_name {
      display: inline-block;
      font-family: 'pfbeausanspro-reg';
      font-size: 20px;
    }
    .compare_item_price {
      font-family: 'OpenSans-Regular';
      font-size: 21px;
      color: $cherry;
      line-height: 1;
    }
    .compare_item_price_button {
      border: none;
      border-radius: 3px;
      color: #fff;
      background: $cherry;
      font-family: 'pfbeausanspro-bold', sans-serif;
      text-transform: uppercase;
      float: right;
      font-size: 27px;
      padding: 2px 22px;
      margin-top: -20px;
      &:hover {
        background-color: lighten($cherry, 10%);
      }
    }
  }

  .compare_data {
    font-family: 'pfbeausanspro-reg';
    font-size: 22px;
    display: inline-block;
    border-bottom: 4px solid $border;
    width: 100%;
    line-height: 1.2;
    padding: 25px 0;
  }
  .compare_consist {
    @extend .compare_data;
    li {
      margin-top: 25px;
    }
  }

  .compare_item_price_button_2 {
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: $cherry;
    font-family: 'pfbeausanspro-bold', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    padding: 2px 22px;
    &:hover {
      background-color: lighten($cherry, 10%);
    }
  }

}

.title_compare_item {

  li {
    font-family: 'pfbeausanspro-reg';
    font-size: 22px;
    display: inline-block;
    border-bottom: 4px solid $border;
    width: 100%;
    line-height: 1.2;
    &:first-child {
      padding: 25px 25px;
      border-top: 4px solid $border;
    }
    &:nth-child(2) {
      padding: 25px 0 103px 25px;
    }
    &:last-child {
      padding: 25px 0 161px 25px;
    }
  }
}

//search

.input_search {
  padding-bottom: 40px;
  input {
    font-family: 'pfbeausanspro-reg';
    font-size: 20px;
    height: 35px;
    width: 280px;
    padding: 0 25px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.95);
    color: darken($grey, 15%);
  }
  img {
    padding: 15px;
    display: inline-block;
  }

}

.search_panel {
  display: inline-block;
  font-family: 'pfbeausanspro-reg';
  font-size: 22px;
  width: 100%;
  .sort {
    text-align: right;
    display: block;
  }
  input[type="checkbox"] {
    line-height: 18;
  }
}

.ware_cards {
  margin-top: 20px;
  display: block;
  transition: all ease-in-out .1s;
  padding-bottom: 20px;
  &:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  }
  img {
    width: 100%;
  }
  .ware_cards_item_name {
    display: inline-block;
    font-family: 'pfbeausanspro-reg';
    font-size: 18px;
    margin-left: 17px;

  }
  .ware_cards_item_price {
    font-family: 'OpenSans-Regular';
    font-size: 21px;
    color: $cherry;
    line-height: 1;
    margin-left: 17px;
  }
  .ware_cards_item_price_button {
    border: none;
    border-radius: 3px;
    color: #fff;
    background: $cherry;
    font-family: 'pfbeausanspro-bold', sans-serif;
    text-transform: uppercase;
    float: right;
    font-size: 27px;
    padding: 2px 22px;
    margin-top: -20px;
    &:hover {
      background-color: lighten($cherry, 10%);
    }
  }
}

.pagination_block {
  .pagination {
    margin: 30px 0 20px;
    position: relative;
    li {
      font-family: 'pfbeausanspro-reg';
      font-size: 21px;
      border: none;
      a {
        color: #000;
        border: none;
      }
    }
  }
}

//producer_of
.producer_wrapper {
  padding: 40px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin: 0;
  ul {
    li {
      font-family: 'pfbeausanspro-reg';
      font-size: 21px;
      text-align: center;
      line-height: 1.8;
      a {
        color: #000;
      }
    }
  }
}

//filter

.descr_page {
  text-align: justify;
  font-family: 'pfbeausanspro-reg';
  font-size: 18px;
  margin: 20px 0;
  display: inline-block;
}

.tag {
  li {
    margin-right: 3px;
    margin-bottom: 20px;
    a {
      font-family: 'OpenSans-Regular';
      font-size: 18px;
      color: $cherry;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      padding: 5px;
    }
  }
}

.filter_left_sidebar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px;
  background-color: #ebecec;
  .filter_name {
    font-family: 'pfbeausanspro-bold';
    font-size: 25px;
    label {
      box-shadow: none;
      border: none;
    }
  }
  button {
    text-align: center;
    border-radius: 50%;
    height: 27px;
    width: 20px;
    position: relative;
    margin-bottom: 4px;
    margin-left: 9px;
    border-color: #000;
    background-color: transparent;
    &:before {
      content: "?";
      font-family: 'OpenSans-Regular';
      font-size: 18px;
      position: absolute;
      bottom: 0;
      left: 8px;
      font-weight: 600;
    }
  }
  .checkbox {
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    display: block;
    border-radius: 3px;
  }

  .scroll_slider {
    input {
      width: 150px;
      font-family: 'OpenSans-Regular';
      font-size: 22px;
      text-align: left;
    }

  }

  input {
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    height: 37px;
    width: 100%;
    display: block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border-radius: 4px;
  }
  select {
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    padding: 0;
    height: 40px;
    margin: 20px 0;
  }

  a {
    font-family: 'pfbeausanspro-reg';
    font-size: 22px;
    color: darken($grey, 25%);
    padding: 25px 0 60px 0;
    text-align: center;
    display: block;
    &:before {
      content: "x";
      margin-right: 20px;
      text-decoration: none;
    }
  }

  hr {
    color: $grey;
  }
  .line {
    background-color: darken($grey, 4%);
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
  }

}

.ui-widget.ui-widget-content {
  border: none;
  background-color: $cherry;
  height: 6px;
  margin: 20px 0;
}

.ui-slider-horizontal .ui-slider-range {
  background-color: $cherry;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 5px solid #99144e !important;
  background: green !important;
  font-weight: normal;
  color: #454545 !important;
  border-radius: 13px;
  outline: none;

}

.ui-slider .ui-slider-handle {
  cursor: pointer !important;
}

.categories_reshenia {
  display: table;

  .cat_wrapper {
    color: #000;
    font-family: 'pfbeausanspro-reg';
    //box-shadow: 0 0 1px rgba(0,0,0,0.5);
    transition: ease-in-out .3s;
    border: 1px solid $grey;
    //width: 12.62%;
    width: 212.48px;
    display: inline-block;
    text-align: center;
    //margin-left:-6px;
    margin-bottom: 25px;

    .name_category {
      font-size: 35px;
      padding-bottom: 15px;
      display: inline-block;
      a {
        color: #000;
      }
    }
    .decr {
      font-size: 17px;
      padding-top: 42px;
      display: inline-block;
    }
    &.active {
      background-color: $cherry;
      color: #fff;
      .name_category {
        a {
          color: #fff;
        }
      }
    }
    &:hover {
      @extend .active;
    }
  }

}

.ordering {
  font-family: 'pfbeausanspro-reg', sans-serif;
  img {
    width: 100%;
  }
  label {
    display: block;
    font-size: 18px;
  }
  input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #747473;
    padding: 0 5px;
    height: 28px;
  }
  .info_user {
    font-size: 30px;
    margin-top: 10px;
  }
  .subscribe_input {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 15px;
    margin-top: 25px;
  }
  .subscribe_label {
    display: inline-block;
  }
  .additional_services {
    margin-top: 20px;
    .subscribe_input {
      margin-top: 7px;
    }
  }
  .payment {
    input {
      height: auto;
      width: auto;
      vertical-align: top;
    }
    label {
      display: inline-block;
      vertical-align: top;
    }
    #rad2 {
      margin-left: 30px;
    }
  }
  .back_to_cart {
    color: #99144e;
    font-size: 19px;
  }
  .buttons_ordering {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .great_total_prise {
    margin-top: 15px;
    font-size: 32px;
    text-align: center;
    span {
      font-weight: 600;
      text-align: center;

    }
  }

  .total_ticket {
    font-family: 'pfbeausanspro-reg', sans-serif;
    font-size: 16px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    display: block;
    .total_prise_ticket{
      padding:20px;
      display: inline-block;
      border-top: 1px solid $grey;
      width:100%;

    }
    .prise {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 5px;
    }
    .title_ticket {
      display: inline-block;
      padding: 30px 0px 0px 20px;
    }
    .booking {

      padding: 20px;



      ul {
        margin-bottom: 20px;
        li {
          &:first-child {
            font-size: 20px;
            font-weight: 600;
            font-family: 'OpenSans-Regular';
          }
        }
      }
    }
  }
}

.minus {
  line-height: 21px;
  font-size: 80px;
  padding-bottom: 18px;
}

.container.korzina{
  padding: 0 15px;
}
header .block_search {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right;
}
header .block_search .select {
  background: #98144E;
  position: absolute;
  right: 70px;
  top: -28px;
  width: 215px;
  padding: 14px 14px 15px 15px;
  display: none;
}
header .block_search:hover .select {
  display: block;
}





