@font-face {
  font-family: 'pfbeausanspro-reg';
  src: url("../fonts/pfbeausanspro-reg.ttf"); }
@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url("../fonts/glyphicons-halflings-regular.ttf"); }
@font-face {
  font-family: 'pfbeausanspro-bold';
  src: url("../fonts/pfbeausanspro-bold.ttf"); }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf"); }
.margin_left {
  margin-left: 20px; }

.container {
  max-width: 1700px;
  width: 100%;
  padding: 0; }

.no_padding {
  padding: 0; }

.no_padding_left {
  padding-left: 0; }

.no_padding_right {
  padding-right: 0; }

header {
  font-family: 'pfbeausanspro-reg', sans-serif;
  font-size: 17px;
  color: #2b2a29; }
  header a {
    color: #2b2a29; }
  header .logo {
    margin-top: 5px; }
  header .top_menu {
    background: #fafafa;
    border: 1px solid #c6c7c7;
    padding-top: 8px;
    min-height: 47px; }
    header .top_menu nav {
      padding-top: 3px; }
      header .top_menu nav li {
        padding: 0 17px; }
    header .top_menu .login {
      margin-right: 15px;
      float: right; }
      header .top_menu .login img {
        margin-right: 11px;
        vertical-align: bottom; }
  header .delivery {
    font-size: 21px;
    margin-top: 38px; }
  header .work_time {
    margin-top: 13px; }
    header .work_time p {
      margin-bottom: 0;
      line-height: 27px; }
    header .work_time .phone_number {
      font-size: 30px; }
  header .guarantee {
    font-family: 'pfbeausanspro-bold', sans-serif;
    color: #107342;
    font-size: 22px;
    margin-top: 13px; }
  header .cart_block {
    margin-top: 20px;
    text-align: right; }
    header .cart_block li {
      text-align: center;
      margin: 0 11px; }
      header .cart_block li img {
        width: 100%;
        max-width: 65px; }
  header .block_menu {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 25px;
    margin-bottom: 40px; }
    header .block_menu .menu_1 {
      text-align: justify;
      margin-top: 10px;
      margin-bottom: 0; }
      header .block_menu .menu_1 li a {
        font-family: 'pfbeausanspro-bold', sans-serif; }
    header .block_menu .menu_1:after, header .block_menu .menu_2:after {
      content: '';
      width: 100%;
      display: inline-block; }
    header .block_menu .menu_2 {
      text-align: justify;
      margin-top: -27px;
      margin-bottom: -27px; }
      header .block_menu .menu_2 > li {
        position: relative;
        padding-bottom: 15px; }
        header .block_menu .menu_2 > li a {
          font-family: 'OpenSans-Regular', sans-serif;
          color: #115E38;
          font-size: 30px;
          font-weight: bold;
          line-height: 25px; }
        header .block_menu .menu_2 > li a:hover {
          text-decoration: none; }
      header .block_menu .menu_2 li:hover .down_menu_list {
        display: block; }
      header .block_menu .menu_2 li:after {
        content: '';
        background: url("../img/point-icon.png") no-repeat;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 12px;
        right: -28px; }
      header .block_menu .menu_2 li:last-child:after {
        display: none; }
      header .block_menu .menu_2 .down_menu_list {
        position: absolute;
        top: 44px;
        left: -20px;
        background: #fff;
        border: 1px solid #ccc;
        border-top: none;
        padding: 15px 15px;
        display: none;
        z-index: 9; }
        header .block_menu .menu_2 .down_menu_list li a {
          color: #2b2a29;
          white-space: nowrap;
          font-family: 'pfbeausanspro-reg', sans-serif;
          font-size: 22px;
          font-weight: 500; }
        header .block_menu .menu_2 .down_menu_list li:after {
          display: none; }
  header .search {
    float: right;
    padding: 0;
    border: none;
    vertical-align: top;
    margin-top: -30px;
    background: transparent; }
  header .filter_search1 {
    display: inline-block;
    margin-top: 8px;
    margin-left: 20px; }
    header .filter_search1 a {
      background: transparent;
      -webkit-appearance: none;
      font-family: 'pfbeausanspro-bold', sans-serif;
      color: #98144E; }
  header .filter_search2 {
    display: inline-block;
    margin-top: 8px; }
    header .filter_search2 a {
      background: transparent;
      -webkit-appearance: none;
      font-family: 'pfbeausanspro-bold', sans-serif;
      color: #98144E; }

.content .category {
  display: inline-block;
  vertical-align: top; }
  .content .category li {
    border: 1px solid #ccc;
    padding: 10px 0 10px 15px; }
    .content .category li a {
      color: #2b2a29;
      font-family: 'pfbeausanspro-reg', sans-serif;
      font-size: 20px; }
      .content .category li a img {
        margin-right: 5%; }
  .content .category li:last-child {
    padding: 9px 0 9px 15px; }
.content .colors img {
  display: inline-block;
  width: 98%;
  margin: 5px; }
.content .head_banner {
  padding: 0 14px;
  display: inline-block;
  vertical-align: top; }
  .content .head_banner img {
    width: 100%; }
.content .head_block_delivery {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  padding-top: 20px; }
  .content .head_block_delivery .title {
    font-family: 'pfbeausanspro-bold', sans-serif;
    color: #98144E;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 13px;
    padding-bottom: 1px; }
  .content .head_block_delivery .img_block {
    width: 30%;
    display: inline-block; }
  .content .head_block_delivery .text_block {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    font-family: 'pfbeausanspro-reg', sans-serif;
    font-size: 16px;
    line-height: 26px; }
.content .discount {
  width: 50%;
  background: #2e8f5d;
  border-radius: 4px;
  padding: 10px;
  margin-top: 17px;
  margin-bottom: 20px; }
  .content .discount label {
    color: #fff;
    font-size: 20px; }
  .content .discount input[type="email"] {
    text-align: center;
    width: 250px;
    height: 25px;
    font-family: 'OpenSans-Regular', sans-serif;
    margin-left: 15px; }
  .content .discount input[type="submit"] {
    text-align: center;
    width: 135px;
    border-radius: 4px;
    border: none;
    color: #fff;
    background: #99144e;
    margin-left: 15px;
    font-family: 'pfbeausanspro-bold', sans-serif;
    height: 30px;
    font-size: 16px; }
.content .actions {
  margin-top: 35px; }
  .content .actions img {
    width: 100%; }
  .content .actions h3 {
    color: #2e8f5d;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    font-family: 'pfbeausanspro-bold', sans-serif;
    line-height: 22px; }
  .content .actions .border {
    border-top: 3px solid #2e8f5d; }
  .content .actions .one_product {
    padding: 20px 10px 0 10px;
    font-family: 'pfbeausanspro-reg', sans-serif; }
    .content .actions .one_product .title {
      font-size: 18px;
      margin-top: 24px;
      display: inline-block; }
    .content .actions .one_product .price {
      color: #99144e;
      font-size: 19px; }
.content .willing_offer {
  margin-top: 65px; }
  .content .willing_offer .one_product {
    padding: 15px 40px; }
  .content .willing_offer h3 {
    color: #99144e;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    font-family: 'pfbeausanspro-bold', sans-serif;
    line-height: 22px;
    margin-bottom: 25px; }
  .content .willing_offer .title {
    font-family: 'pfbeausanspro-bold', sans-serif;
    color: #000;
    text-align: center;
    font-size: 24px;
    margin-top: 27px; }
  .content .willing_offer img {
    width: 100%; }
  .content .willing_offer .view {
    font-family: 'pfbeausanspro-reg', sans-serif;
    color: #fff;
    font-size: 32px;
    width: 100%;
    background: #99144e;
    margin-top: 22px;
    border-radius: 0; }

.info_shop {
  width: 70%;
  font-family: 'pfbeausanspro-reg', sans-serif;
  font-size: 22px;
  margin-top: 70px;
  margin-bottom: 50px; }
  .info_shop img {
    float: right; }

.btn_by {
  color: #fff;
  background: #99144e;
  font-family: 'pfbeausanspro-bold', sans-serif;
  text-transform: uppercase;
  float: right;
  font-size: 24px;
  padding: 2px 22px;
  margin-top: -20px; }

.sum {
  text-align: left;
  display: block;
  margin-left: 45px; }

footer .copy span {
  color: #fff;
  font-size: 18px;
  text-align: center; }
footer ul {
  background-color: #d9dada; }
  footer ul li {
    font-family: 'pfbeausanspro-bold', sans-serif;
    font-size: 22px;
    color: #727271;
    vertical-align: top;
    padding: 40px 2px 21px 28px !important;
    text-transform: uppercase; }
    footer ul li ul li {
      padding: 0; }
      footer ul li ul li a {
        font-size: 16px;
        font-family: 'OpenSans-Regular', sans-serif;
        color: #000;
        padding: 13px 0;
        text-transform: none; }
footer .f_title li {
  padding: 0 !important; }
footer .f_container {
  background-image: url(../img/f_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -35px 0; }
footer .both_footer {
  margin: 0; }
  footer .both_footer .logo {
    padding: 30px 0 0 55px; }
  footer .both_footer .slogan {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    padding-top: 33px;
    padding-right: 100px; }
  footer .both_footer .f_list {
    background-color: transparent; }
    footer .both_footer .f_list li {
      color: #fff;
      font-family: 'pfbeausanspro-reg', sans-serif;
      font-size: 26px;
      padding: 30px 12px !important;
      text-transform: none; }
      footer .both_footer .f_list li .f_list_in {
        background-color: transparent; }
        footer .both_footer .f_list li .f_list_in li {
          padding: 0 !important;
          background-color: transparent;
          font-size: 20px;
          font-family: 'OpenSans-Regular'; }
          footer .both_footer .f_list li .f_list_in li a {
            color: #fff;
            font-size: 20px; }
  footer .both_footer .soc_list {
    display: inline-block;
    float: right;
    padding-right: 10px;
    margin-top: 56px; }
    footer .both_footer .soc_list p {
      font-size: 21px;
      color: #fff;
      font-family: 'pfbeausanspro-reg';
      text-align: center; }
    footer .both_footer .soc_list ul {
      background-color: transparent;
      min-width: 300px;
      float: right;
      margin-right: 42px; }
      footer .both_footer .soc_list ul li {
        padding: 2px 0 30px 0 !important; }
footer .list-inline {
  margin: 0; }

.bread_crums a {
  display: inline-block;
  font-family: 'pfbeausanspro-reg';
  font-size: 18px;
  color: #000;
  padding-top: 35px; }
.bread_crums .breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: #ccc; }
.bread_crums .breadcrumb {
  padding: 8px 0px;
  background-color: transparent;
  margin-bottom: 0 !important; }

.title {
  font-family: 'pfbeausanspro-reg';
  font-size: 37px;
  color: #000;
  padding-bottom: 25px; }

.categories {
  text-align: center; }
  .categories .categories_box {
    text-align: center;
    display: inline-block;
    height: 180px;
    width: 14%;
    font-family: 'pfbeausanspro-reg';
    color: #fff;
    position: relative;
    margin-right: -2px;
    margin-left: -2px; }
    .categories .categories_box .decr {
      font-family: 'pfbeausanspro-reg';
      font-size: 16px;
      display: block;
      position: absolute;
      top: 110px;
      left: 36px; }
    .categories .categories_box .name_category {
      margin-top: 25px;
      font-family: 'pfbeausanspro-reg';
      font-size: 35px;
      display: block; }
      .categories .categories_box .name_category a {
        color: #fff; }
    .categories .categories_box img {
      margin-top: 70px; }

.title_2 {
  font-family: 'pfbeausanspro-reg';
  font-size: 25px;
  color: #000;
  padding: 20px 0 10px 0;
  border-bottom: 3px solid #107342; }

.list_items {
  border: 1px solid #f2f2f2;
  margin: 30px 20px; }
  .list_items img {
    width: 100%; }
  .list_items span {
    font-family: 'pfbeausanspro-bold', sans-serif;
    font-size: 25px;
    padding: 13px;
    text-align: center;
    display: block; }
  .list_items .button_look {
    font-size: 25px;
    font-family: 'pfbeausanspro-reg';
    color: #fff;
    text-align: center;
    padding: 18px 0px;
    background-color: #99144e;
    display: block;
    margin: 20px; }
    .list_items .button_look:hover {
      text-decoration: none;
      background-color: #cb216b; }

.hint span {
  text-align: left;
  font-family: 'pfbeausanspro-reg';
  font-size: 20px;
  display: block;
  padding: 65px; }
  .hint span:before {
    content: "";
    background-image: url(../img/hint.png);
    width: 56px;
    height: 47px;
    position: absolute;
    left: 0; }

.title_decr {
  text-align: left;
  font-family: 'OpenSans-Regular';
  font-size: 18px;
  padding: 20px 0; }

.product_title {
  text-align: right;
  font-family: 'pfbeausanspro-reg';
  font-size: 18px;
  color: #99144e;
  border-bottom: 2px solid #99144e;
  width: 100%;
  display: inline-block; }
  .product_title span {
    display: block;
    padding-bottom: 7px; }

.product_decr {
  padding: 15px 0; }
  .product_decr .product_decr_list {
    display: block; }
    .product_decr .product_decr_list li {
      font-family: 'OpenSans-Regular';
      font-size: 14px; }
      .product_decr .product_decr_list li:first-child {
        font-size: 25px;
        font-family: 'pfbeausanspro-reg'; }
  .product_decr .prise_total {
    text-align: right;
    font-family: 'OpenSans-Regular';
    font-size: 30px;
    line-height: 1; }
    .product_decr .prise_total span {
      font-size: 22px;
      text-decoration: line-through; }
  .product_decr .total {
    display: inline-block;
    font-family: 'OpenSans-Regular';
    margin-left: 80px; }
    .product_decr .total button {
      text-align: center;
      font-size: 58px;
      line-height: 35px;
      background-color: transparent;
      border: none;
      padding: 0;
      transition: ease-in-out .1s;
      outline: none; }
      .product_decr .total button:hover {
        color: #fff;
        background-color: #99144e; }
    .product_decr .total input {
      height: 40px;
      width: 45px;
      border: 1px solid #90908f;
      border-radius: 7px;
      font-size: 30px;
      vertical-align: top;
      text-align: center; }
  .product_decr #delete {
    float: right;
    text-align: center;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: ease-in-out .1s;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-position: 2px 1px; }

.item_name {
  border-top: 1px solid #7e7e7d;
  font-size: 25px;
  font-family: 'pfbeausanspro-reg';
  display: block;
  padding: 15px 0px; }

.total_prise {
  display: block;
  border-top: 1px solid #99144e; }
  .total_prise ul {
    text-align: right;
    display: block;
    padding-top: 30px; }
    .total_prise ul li {
      font-family: 'OpenSans-Regular';
      font-size: 18px; }
      .total_prise ul li:first-child {
        font-size: 28px;
        font-family: 'OpenSans-Regular'; }
        .total_prise ul li:first-child span {
          font-weight: 600; }
  .total_prise button {
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    background-color: #99144e;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 5px 15px;
    border: none;
    transition: ease-in-out .1s; }
    .total_prise button:hover {
      background-color: #c61a65; }

.details {
  text-transform: uppercase;
  font-family: 'pfbeausanspro-bold';
  color: #99144e;
  font-size: 24px;
  display: block;
  padding-bottom: 25px; }
  .details img {
    padding: 0 0px 0px 33px; }

.specification {
  display: block;
  padding: 35px 60px;
  border: 2px solid #e7468c;
  margin-bottom: 30px !important; }
  .specification span {
    text-transform: uppercase;
    font-family: 'pfbeausanspro-bold';
    font-size: 19px;
    padding-bottom: 25px;
    display: inline-block; }
  .specification li {
    font-family: 'OpenSans-Regular';
    font-size: 17px;
    text-align: left; }
  .specification .bold_text {
    font-family: 'pfbeausanspro-bold';
    font-size: 18px;
    text-transform: none;
    padding: 0; }

.block_header {
  padding: 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'OpenSans-Regular';
  font-size: 17px;
  margin: 0 0 20px; }
  .block_header .manufacturer {
    display: inline-block; }
    .block_header .manufacturer a {
      color: #01a1e4; }
    .block_header .manufacturer img {
      margin-top: -15px;
      padding-left: 15px; }
  .block_header .question {
    display: inline-block;
    text-align: right;
    float: right; }
    .block_header .question a {
      color: #2e8f5d;
      padding-left: 5px; }
  .block_header .article {
    display: inline-block;
    text-align: left; }
  .block_header .rating ul {
    padding: 0 5px;
    margin: 0;
    display: inline-block; }
    .block_header .rating ul li {
      padding: 0;
      margin: 0; }

.item_content .img_big {
  display: block; }
  .item_content .img_big img {
    height: 600px;
    width: 100%; }
.item_content .soc_lis_item {
  display: inline-block;
  padding: 8px 0; }
  .item_content .soc_lis_item span {
    display: inline-block;
    font-family: 'pfbeausanspro-reg';
    font-size: 19px;
    color: #99144e;
    margin-right: 8px; }
  .item_content .soc_lis_item ul {
    display: inline-block;
    margin-top: 0; }
    .item_content .soc_lis_item ul li {
      padding: 3px; }
      .item_content .soc_lis_item ul li img {
        height: 30px;
        width: 30px;
        display: inline-block;
        border-radius: 6px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -webkit-filter: grayscale(1); }
        .item_content .soc_lis_item ul li img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%);
          -moz-filter: grayscale(0%);
          -o-filter: grayscale(0%);
          -webkit-filter: grayscale(0); }
.item_content .img_desk img {
  width: 100%;
  height: 150px; }

.subject {
  display: inline-block; }
  .subject li {
    font-family: 'OpenSans-Regular';
    font-size: 18px; }

.variants {
  font-size: 18px;
  font-family: 'pfbeausanspro-reg';
  padding: 40px 0 20px;
  display: inline-block; }

.old_prise {
  font-family: 'pfbeausanspro-reg';
  font-size: 20px;
  padding-top: 60px;
  margin: 0;
  line-height: 1; }
  .old_prise span {
    text-decoration: line-through; }

.total_cost {
  font-size: 40px;
  padding-bottom: 15px;
  margin: 0; }
  .total_cost span {
    color: #99144e; }

.quantity {
  display: block;
  padding: 0;
  margin: 0; }
  .quantity button {
    width: 50px;
    height: 30px;
    font-size: 22px; }
  .quantity input {
    width: 50px;
    height: 30px;
    text-align: right;
    font-size: 30px; }

.buy_block .buy_button {
  margin-top: 35px;
  text-transform: uppercase;
  font-family: 'pfbeausanspro-bold';
  background-color: #99144e;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 5px 35px;
  border: none;
  transition: ease-in-out .1s;
  border-radius: 6px; }
  .buy_block .buy_button:hover {
    background-color: #c61a65; }
.buy_block img {
  margin-bottom: 20px; }
.buy_block a {
  font-family: 'pfbeausanspro-reg';
  color: #000;
  font-size: 21px; }

.right_side_bar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 25px; }
  .right_side_bar img {
    margin-bottom: 15px; }
  .right_side_bar .name_sidebar {
    font-family: 'OpenSans-Regular';
    font-size: 27px;
    color: #197849;
    padding: 0; }
  .right_side_bar .name_list {
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    padding: 25px 0px 10px 0;
    display: inline-block; }
  .right_side_bar ul li {
    font-family: 'pfbeausanspro-reg';
    font-size: 17px;
    text-align: left; }
    .right_side_bar ul li span {
      font-family: 'pfbeausanspro-bold';
      font-size: 16px;
      text-transform: none;
      padding: 0; }

.tabs_section {
  margin-top: 50px;
  display: inline-block; }
  .tabs_section .nav-tabs li a {
    font-family: 'pfbeausanspro-reg';
    font-size: 27px;
    color: #000;
    padding: 5px 25px;
    margin-right: 0;
    border-bottom: none; }
    .tabs_section .nav-tabs li a:hover {
      color: #99144e;
      background-color: #f3f3f3;
      border-radius: 7px;
      border: none; }
  .tabs_section .nav-tabs li.active a, .tabs_section .nav-tabs .categories_reshenia li.cat_wrapper:hover a, .categories_reshenia .tabs_section .nav-tabs li.cat_wrapper:hover a {
    color: #99144e;
    background-color: #f3f3f3;
    border-bottom: 1px solid #c9c9c9; }
  .tabs_section .tab-content {
    font-family: 'pfbeausanspro-reg';
    font-size: 20px;
    color: #000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 25px; }
    .tabs_section .tab-content .mo_decr {
      color: #99144e;
      font-weight: 600; }
      .tabs_section .tab-content .mo_decr img {
        margin-bottom: 5px; }
    .tabs_section .tab-content .dowloand span {
      font-family: 'pfbeausanspro-reg';
      font-size: 24px;
      color: #187848;
      display: inline-block;
      padding-bottom: 40px; }
    .tabs_section .tab-content .dowloand img {
      float: left;
      padding: 10px;
      margin-bottom: 20px; }
    .tabs_section .tab-content .dowloand a {
      color: #000; }

.name_slider {
  text-transform: uppercase;
  font-size: 25px;
  color: #187848;
  padding: 30px 0;
  display: block; }

.big_img {
  display: block;
  background-image: url(../img/big_img.png);
  background-repeat: no-repeat;
  height: 1200px;
  background-size: cover;
  margin: 50px 0; }

.product_page .one_product {
  display: block;
  padding: 20px 10px 0 10px; }

.product_page .one_product .title {
  font-size: 20px; }

.product_page .one_product img {
  width: 100%; }

.compare_list {
  display: block;
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #e3e4e4;
  height: 333px;
  margin-bottom: 108px; }
  .compare_list ul {
    border-bottom: 2px solid #cccdcd; }
    .compare_list ul li {
      display: inline-block;
      font-family: 'pfbeausanspro-reg';
      font-size: 25px;
      padding: 12px 0; }
  .compare_list a {
    display: block;
    font-family: 'pfbeausanspro-reg';
    font-size: 25px;
    color: #99144e;
    padding: 40px 0; }
    .compare_list a::before {
      content: "x";
      margin-right: 20px; }

.compare_item_list ul li {
  font-family: 'OpenSans-Regular';
  font-size: 25px;
  background-color: #e3e4e4;
  border-radius: 5px;
  margin-right: 30px;
  padding: 3px 10px;
  transition: ease-in 0.1s; }
  .compare_item_list ul li span {
    color: #6f7373; }
  .compare_item_list ul li.active, .compare_item_list ul .categories_reshenia li.cat_wrapper:hover, .categories_reshenia .compare_item_list ul li.cat_wrapper:hover {
    background-color: #2b7f9e;
    color: #fff; }
    .compare_item_list ul li.active span, .compare_item_list ul .categories_reshenia li.cat_wrapper:hover span, .categories_reshenia .compare_item_list ul li.cat_wrapper:hover span {
      color: #fff; }

.compare_item {
  margin: 40px 0;
  display: block;
  padding: 5px;
  transition: all ease-in-out .1s; }
  .compare_item:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  .compare_item img {
    width: 100%; }
  .compare_item .top_section {
    display: block;
    padding-bottom: 55px;
    border-bottom: 4px solid #898989; }
    .compare_item .top_section .compare_item_name {
      display: inline-block;
      font-family: 'pfbeausanspro-reg';
      font-size: 20px; }
    .compare_item .top_section .compare_item_price {
      font-family: 'OpenSans-Regular';
      font-size: 21px;
      color: #99144e;
      line-height: 1; }
    .compare_item .top_section .compare_item_price_button {
      border: none;
      border-radius: 3px;
      color: #fff;
      background: #99144e;
      font-family: 'pfbeausanspro-bold', sans-serif;
      text-transform: uppercase;
      float: right;
      font-size: 27px;
      padding: 2px 22px;
      margin-top: -20px; }
      .compare_item .top_section .compare_item_price_button:hover {
        background-color: #c61a65; }
  .compare_item .compare_data, .compare_item .compare_consist {
    font-family: 'pfbeausanspro-reg';
    font-size: 22px;
    display: inline-block;
    border-bottom: 4px solid #898989;
    width: 100%;
    line-height: 1.2;
    padding: 25px 0; }
  .compare_item .compare_consist li {
    margin-top: 25px; }
  .compare_item .compare_item_price_button_2 {
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #99144e;
    font-family: 'pfbeausanspro-bold', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    padding: 2px 22px; }
    .compare_item .compare_item_price_button_2:hover {
      background-color: #c61a65; }

.title_compare_item li {
  font-family: 'pfbeausanspro-reg';
  font-size: 22px;
  display: inline-block;
  border-bottom: 4px solid #898989;
  width: 100%;
  line-height: 1.2; }
  .title_compare_item li:first-child {
    padding: 25px 25px;
    border-top: 4px solid #898989; }
  .title_compare_item li:nth-child(2) {
    padding: 25px 0 103px 25px; }
  .title_compare_item li:last-child {
    padding: 25px 0 161px 25px; }

.input_search {
  padding-bottom: 40px; }
  .input_search input {
    font-family: 'pfbeausanspro-reg';
    font-size: 20px;
    height: 35px;
    width: 280px;
    padding: 0 25px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.95);
    color: #bcbebe; }
  .input_search img {
    padding: 15px;
    display: inline-block; }

.search_panel {
  display: inline-block;
  font-family: 'pfbeausanspro-reg';
  font-size: 22px;
  width: 100%; }
  .search_panel .sort {
    text-align: right;
    display: block; }
  .search_panel input[type="checkbox"] {
    line-height: 18; }

.ware_cards {
  margin-top: 20px;
  display: block;
  transition: all ease-in-out .1s;
  padding-bottom: 20px; }
  .ware_cards:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  .ware_cards img {
    width: 100%; }
  .ware_cards .ware_cards_item_name {
    display: inline-block;
    font-family: 'pfbeausanspro-reg';
    font-size: 18px;
    margin-left: 17px; }
  .ware_cards .ware_cards_item_price {
    font-family: 'OpenSans-Regular';
    font-size: 21px;
    color: #99144e;
    line-height: 1;
    margin-left: 17px; }
  .ware_cards .ware_cards_item_price_button {
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #99144e;
    font-family: 'pfbeausanspro-bold', sans-serif;
    text-transform: uppercase;
    float: right;
    font-size: 27px;
    padding: 2px 22px;
    margin-top: -20px; }
    .ware_cards .ware_cards_item_price_button:hover {
      background-color: #c61a65; }

.pagination_block .pagination {
  margin: 30px 0 20px;
  position: relative; }
  .pagination_block .pagination li {
    font-family: 'pfbeausanspro-reg';
    font-size: 21px;
    border: none; }
    .pagination_block .pagination li a {
      color: #000;
      border: none; }

.producer_wrapper {
  padding: 40px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin: 0; }
  .producer_wrapper ul li {
    font-family: 'pfbeausanspro-reg';
    font-size: 21px;
    text-align: center;
    line-height: 1.8; }
    .producer_wrapper ul li a {
      color: #000; }

.descr_page {
  text-align: justify;
  font-family: 'pfbeausanspro-reg';
  font-size: 18px;
  margin: 20px 0;
  display: inline-block; }

.tag li {
  margin-right: 3px;
  margin-bottom: 20px; }
  .tag li a {
    font-family: 'OpenSans-Regular';
    font-size: 18px;
    color: #99144e;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 5px; }

.filter_left_sidebar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px;
  background-color: #ebecec; }
  .filter_left_sidebar .filter_name {
    font-family: 'pfbeausanspro-bold';
    font-size: 25px; }
    .filter_left_sidebar .filter_name label {
      box-shadow: none;
      border: none; }
  .filter_left_sidebar button {
    text-align: center;
    border-radius: 50%;
    height: 27px;
    width: 20px;
    position: relative;
    margin-bottom: 4px;
    margin-left: 9px;
    border-color: #000;
    background-color: transparent; }
    .filter_left_sidebar button:before {
      content: "?";
      font-family: 'OpenSans-Regular';
      font-size: 18px;
      position: absolute;
      bottom: 0;
      left: 8px;
      font-weight: 600; }
  .filter_left_sidebar .checkbox {
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    display: block;
    border-radius: 3px; }
  .filter_left_sidebar .scroll_slider input {
    width: 150px;
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    text-align: left; }
  .filter_left_sidebar input {
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    height: 37px;
    width: 100%;
    display: block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border-radius: 4px; }
  .filter_left_sidebar select {
    font-family: 'OpenSans-Regular';
    font-size: 22px;
    padding: 0;
    height: 40px;
    margin: 20px 0; }
  .filter_left_sidebar a {
    font-family: 'pfbeausanspro-reg';
    font-size: 22px;
    color: #a2a5a5;
    padding: 25px 0 60px 0;
    text-align: center;
    display: block; }
    .filter_left_sidebar a:before {
      content: "x";
      margin-right: 20px;
      text-decoration: none; }
  .filter_left_sidebar hr {
    color: #e3e4e4; }
  .filter_left_sidebar .line {
    background-color: #d9dada;
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0; }

.ui-widget.ui-widget-content {
  border: none;
  background-color: #99144e;
  height: 6px;
  margin: 20px 0; }

.ui-slider-horizontal .ui-slider-range {
  background-color: #99144e; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 5px solid #99144e !important;
  background: green !important;
  font-weight: normal;
  color: #454545 !important;
  border-radius: 13px;
  outline: none; }

.ui-slider .ui-slider-handle {
  cursor: pointer !important; }

.categories_reshenia {
  display: table; }
  .categories_reshenia .cat_wrapper {
    color: #000;
    font-family: 'pfbeausanspro-reg';
    transition: ease-in-out .3s;
    border: 1px solid #e3e4e4;
    width: 212.48px;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px; }
    .categories_reshenia .cat_wrapper .name_category {
      font-size: 35px;
      padding-bottom: 15px;
      display: inline-block; }
      .categories_reshenia .cat_wrapper .name_category a {
        color: #000; }
    .categories_reshenia .cat_wrapper .decr {
      font-size: 17px;
      padding-top: 42px;
      display: inline-block; }
    .categories_reshenia .cat_wrapper.active, .categories_reshenia .cat_wrapper:hover {
      background-color: #99144e;
      color: #fff; }
      .categories_reshenia .cat_wrapper.active .name_category a, .categories_reshenia .cat_wrapper:hover .name_category a {
        color: #fff; }

.ordering {
  font-family: 'pfbeausanspro-reg', sans-serif; }
  .ordering img {
    width: 100%; }
  .ordering label {
    display: block;
    font-size: 18px; }
  .ordering input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #747473;
    padding: 0 5px;
    height: 28px; }
  .ordering .info_user {
    font-size: 30px;
    margin-top: 10px; }
  .ordering .subscribe_input {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 15px;
    margin-top: 25px; }
  .ordering .subscribe_label {
    display: inline-block; }
  .ordering .additional_services {
    margin-top: 20px; }
    .ordering .additional_services .subscribe_input {
      margin-top: 7px; }
  .ordering .payment input {
    height: auto;
    width: auto;
    vertical-align: top; }
  .ordering .payment label {
    display: inline-block;
    vertical-align: top; }
  .ordering .payment #rad2 {
    margin-left: 30px; }
  .ordering .back_to_cart {
    color: #99144e;
    font-size: 19px; }
  .ordering .buttons_ordering {
    margin-top: 50px;
    margin-bottom: 40px; }
  .ordering .great_total_prise {
    margin-top: 15px;
    font-size: 32px;
    text-align: center; }
    .ordering .great_total_prise span {
      font-weight: 600;
      text-align: center; }
  .ordering .total_ticket {
    font-family: 'pfbeausanspro-reg', sans-serif;
    font-size: 16px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    display: block; }
    .ordering .total_ticket .total_prise_ticket {
      padding: 20px;
      display: inline-block;
      border-top: 1px solid #e3e4e4;
      width: 100%; }
    .ordering .total_ticket .prise {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 5px; }
    .ordering .total_ticket .title_ticket {
      display: inline-block;
      padding: 30px 0px 0px 20px; }
    .ordering .total_ticket .booking {
      padding: 20px; }
      .ordering .total_ticket .booking ul {
        margin-bottom: 20px; }
        .ordering .total_ticket .booking ul li:first-child {
          font-size: 20px;
          font-weight: 600;
          font-family: 'OpenSans-Regular'; }

.minus {
  line-height: 21px;
  font-size: 80px;
  padding-bottom: 18px; }

.container.korzina {
  padding: 0 15px; }

header .block_search {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right; }

header .block_search .select {
  background: #98144E;
  position: absolute;
  right: 70px;
  top: -28px;
  width: 215px;
  padding: 14px 14px 15px 15px;
  display: none; }

header .block_search:hover .select {
  display: block; }

/*# sourceMappingURL=style.css.map */
